[2019-04-18 20:27] daybreaker opened #730 "Pagination: Filter by Location"
Use region_id param in events index with a new API call when filtering by location, instead of client side JS filtering, to maintain paging

Also, add an "All Locations" option to clear the location filter

[2019-04-18 20:38] daybreaker opened #731 "Pagination: Use event query to build suggested search options"
Right now "suggested name options" when searching events is based on collecting names of events and artists from existing events. A selected name then filters the existing set of events on the client side.

By adding pagination, we no longer have the full event data set, and need a new way to find suggested search names, as well as to filter events.

Option 1: Use the event query endpoint to searc

[2019-04-18 21:18] #222 closed

[2019-04-20 14:18] #592 closed

[2019-04-21 16:18] #625 closed

[2019-04-22 14:38] daybreaker commented on #715
looks good on ios

[2019-04-22 15:20] bryanjos commented on #661
This seems good on Android as far as I can tell

[2019-04-22 15:22] bryanjos commented on #702
I haven't noticed any issues with this so far by going through the app.

[2019-04-22 15:24] daybreaker commented on #702
same

[2019-04-22 15:26] bryanjos commented on #722
Seeing alerts show up using the `Alert` component on Android (has a title along with message)

[2019-04-22 15:32] bryanjos commented on #704
Tested on R.E.M concert with promo code `REV000` works as expected on Android

[2019-04-22 15:34] bryanjos commented on #696
Tested on Android with the `Priority Parties` event on Dec 12. There are no tickets and the Promo Code UI is shown

[2019-04-22 15:36] daybreaker opened #735 "Remove promo code needs to clear stored code from state"
You can remove a promo code, then hit apply (even though the text box is blank) and it re-applies the same code.

We just need to make the remove Promo Code method clear out promoCode from state.

[2019-04-22 17:24] bryanjos commented on #718
Tested on Android and working as expected

[2019-04-24 04:17] daybreaker commented on #731
Status:

Retrieving events based on query string & using those events to show suggested names in the dropdown.

Needs to do:

1) Dont show names when < 3 chars
2) add a "clear search" or "X" button to wipe the search/filter
3) only use the most recent API search, since typing triggers a new API search each time

[2019-04-24 16:18] #610 closed

[2019-04-25 04:08] daybreaker commented on #731
@bryanjos I have a branch for this at `name-search-#731`

The status of it is in the previous comment. I'm out for the next few days so feel free to pick it up.

[2019-04-29 15:30] bryanjos commented on #731
Doing this more, it feels like a landmine of confusion without #730

[2019-04-29 15:42] bryanjos commented on #731
I think I'm going to put this one back for now until at least #730 is done.

[2019-04-30 08:28] Krakaw commented on #730
@bryanjos
To populate the list of available regions.
`curl -X GET api.staging.bigneon.com/regions`
`server.regions.index()`

To get the events for that region
`curl -X GET api.staging.bigneon.com/events\?region_id=00000000-0000-0000-0000-000000000000`
`server.events.index({region_id: regionId, q})`
Including a search with that:
`curl api.staging.bigneon.com/events\?region_id=00000000-0000-0000-000

[2019-04-30 09:42] Krakaw commented on #731
I commented in #730

[2019-04-30 13:26] bryanjos commented on #730
Thanks!

[2019-05-02 16:53] bryanjos commented on #725
I don't think this is needed anymore so I'm closing it

[2019-05-02 16:54] #725 closed

[2019-05-04 14:18] #666 closed

[2019-05-05 15:18] #674 closed

[2019-05-05 15:18] #677 closed

[2019-05-05 15:18] #673 closed

[2019-05-05 15:18] #672 closed

[2019-05-05 15:18] #645 closed

[2019-05-05 19:18] #682 closed

[2019-05-06 15:39] daybreaker opened #753 "BN API query string only searches for beginning of name?"
searching with query=mike doesnt return the event Open Mike Eagle.

Discuss with Keith if the Big Neon API should be returning this or not.

[2019-05-06 15:40] daybreaker opened #754 "Event Name suggested search results are duplicated"
When getting results with search as you type for suggested events, we get a duplicate key warning, as some events are duplicated in the results.

[2019-05-06 16:00] bryanjos commented on #754
This most likely has to do with an event having the same name as an artist. I don't think we are deduping them but we can.

[2019-05-06 16:20] bryanjos commented on #754
With only one event there I can't reproduce. Also, I checked and there should be unique names happening

[2019-05-06 17:18] bryanjos commented on #754
@Krakaw is there a way for you to make more events? Or is it something I can do?

[2019-05-06 17:30] bryanjos commented on #754
I was able to add an event for Open Mike Eagle. However, I wasn't able to reproduce the error on development or on the beta app. Sending to UAT to test

[2019-05-06 17:30] bryanjos commented on #753
I think it's working as a "contains". From what I see in develop and on the beta app. Sending to UAT

[2019-05-06 17:53] iamjoshfrank commented on #656
Can we either get this over the finish line or close it out?

[2019-05-06 17:54] iamjoshfrank commented on #675
Same - @bryanjos and @Krakaw did this happen? if not, book it and do it so we can close this out. It's a chore, but at one time recently was a priority, so let's not let it sit open. Do it or close it.

[2019-05-06 17:55] iamjoshfrank commented on #728
If this is still occurring, I'd say work it!

[2019-05-06 17:59] iamjoshfrank commented on #729
So ... this is a `draft`? Without context, I'm not sure I can get this ready to work. But here's my stab:

## Scenario: Purchase Ticket (Web), Receive Notification
Given I am a Big Neon user with the mobile app installed on my phone
- [ ] When I purchase a ticket through the web interface
- [ ] Then I receive a push notification on my phone
- [ ] And I can access the purchased ticket in my mobile

[2019-05-06 17:59] iamjoshfrank commented on #729
@zmelamed - see my comment above. if this is still needed and you can provide some more details, we can make this ready to work.

[2019-05-06 18:01] iamjoshfrank commented on #662
@zmelamed - assigning to you for new token and details, unless this is otherwise resolved. Blocked until further action received.

[2019-05-06 18:03] bryanjos commented on #656
Closing

[2019-05-06 18:03] #656 closed

[2019-05-06 18:03] iamjoshfrank commented on #694
Seems like a good UX improvement. Does this rely on a designer, or is there something one of the engineers can do to move this forward @bryanjos @jpatricknola ?

[2019-05-06 18:03] bryanjos commented on #675
Did not happen. Closing. It's been 18 days

[2019-05-06 18:03] #675 closed

[2019-05-06 18:03] bryanjos commented on #728
I created an issue from a slack comment and waited for details. Nothing came about

[2019-05-06 18:05] bryanjos commented on #694
Relies on a designer

[2019-05-06 18:06] iamjoshfrank commented on #563
Removing `SCORE` label, changing to `draft`. Based on the Issue comments, it looks like we need to write a clear Scenario and Acceptance Criteria upon which we can implement the solution.

[2019-05-06 18:09] iamjoshfrank commented on #728
So you've tried to reproduce and haven't been successful? If that's the case, mark it blocked and assign Zach.

[2019-05-06 21:02] bryanjos commented on #312
I think this is invalid since there is a tranferring tab. So closing

[2019-05-06 21:02] #312 closed

[2019-05-06 21:04] bryanjos commented on #223
The notification has to come from the server. Then we can act on it from the app

[2019-05-07 11:28] Krakaw commented on #223
There is a notification that comes through for ticket transfers.

[2019-05-07 15:36] bryanjos commented on #254
@Krakaw @zmelamed Is there an api call to get a user's transfered tickets? I'm not seeing one when looking through the docs and I don't see them coming through from the tickets endpoint

[2019-05-07 15:41] bryanjos commented on #223
This as shown in the acceptance criteria is already completed. Moving to UAT

[2019-05-07 15:42] Krakaw commented on #254
We are currently busy with exposing an endpoint to view the user's previous (completed) transfers. However if the person receiving the ticket has not accepted them yet then `pending_transfer` will be true.

[2019-05-07 15:47] bryanjos commented on #220
@Krakaw could you explain what the `emailOrPhone` parameter for sending tickets can contain and how to know if the user wants to send via email or sms?

[2019-05-07 16:07] Krakaw commented on #220
It can contain a valid email address or phone number. If we have the email address as a user on the system we will directly transfer the tickets to them with no delay. Otherwise we send them an email or an SMS with the link to create an account and receive their tickets.

[2019-05-07 16:53] bryanjos commented on #220
@Krakaw Got it. Looking at the functionality that exists, a user can:

- Enter an email or phone number of the person to send a ticket to
- Scan a QR code and the email of the person to transfer to shows up in the email/phone text box

Given that and given that this ticket is 6 months old, I'm wondering if things changed at some point and if this ticket should still be worked?

[2019-05-07 16:55] bryanjos commented on #221
@Krakaw how do we create the url used in the email mock up above? Also is this still relevant?

[2019-05-08 16:35] iamjoshfrank commented on #712
So, do we have any flexibility to solve this in a different way?

Can we swap out whatever is currently being used/was built in favor of a Stripe-built drop-in UI form and offload all the interaction? Seems odd that we're supplying our own credit card icons...

@daybreaker any insight into how this is currently built / are we "stuck" with current implementation path due to something on the web ser

[2019-05-08 16:38] iamjoshfrank opened #758 "Customer Account - Customer is unable to update various account fields in App"
_via @harrisonlemon on https://github.com/big-neon/bigneon/issues/119_

**Notes:**
- original Issue in `/bigneon` is labeled as `ios`. Please test in Android and resolve on both platforms if necessary.
- it would be worthwhile testing other form fields besides Phone Number to see if this is occurring elsewhere within this form.
- also, it would be worthwhile testing other views that contain forms

[2019-05-08 16:43] iamjoshfrank commented on #220
Moving back to `Icebox` and labeling `blocked` until we get an answer.

[2019-05-09 11:39] Krakaw opened #759 "App becomes unusable while browsing tickets"
#### Steps to reproduce
1. Open the app
2. Sign in as super user
3. Go to My Tickets
4. Choose "Simple Event"
5. Scroll through about 10 of the tickets, once you hit the 10th odd the app slows to a crawl

[2019-05-09 11:41] Krakaw opened #760 "Include ticket id in guest list search"
Include the last 8 characters of the ticket id as part of the search pool.

Given I am a doorperson
When I am on the Guest List screen
Then I see the last 8 characters of the ticket ID for each ticket

[2019-05-09 11:44] Krakaw commented on #220
I think we have put this method of sharing on hold for the moment, the backend sends either an SMS or an Email, so the users cannot share via native sharing at the moment.

@zmelamed is this something we will want to happen in the future?

[2019-05-09 11:45] Krakaw commented on #221
See #220

[2019-05-09 14:20] bryanjos commented on #759
Can reproduce. I'm sure it has something to do with the image. For this one it's an animated gif which might have made the issue more pronounced. Hopefully we can do some smart caching of the image of something to prevent it

[2019-05-09 14:45] #220 closed

[2019-05-09 14:45] #221 closed

[2019-05-09 14:45] #223 closed

[2019-05-09 14:45] #254 closed

[2019-05-09 16:24] bryanjos commented on #759
@Krakaw so I think the issue here is 2 things

1) There is an animated gif being used as the ticket image. It seems bigger than other images. Are animated gifs going to be allowed?
2) That animated gif is used 16 times in this case. The ticket image and the event information for each ticket stays the same. What if we redesigned the screen to show that information once instead of once per ticket? W

[2019-05-10 15:18] #683 closed

[2019-05-10 15:18] #641 closed

[2019-05-10 15:18] #685 closed

[2019-05-10 15:23] bryanjos commented on #717
I gave this a shot but yes, I think a designer should look into this one

[2019-05-10 15:59] jpatricknola commented on #728
@bryan where in the flow of the app does this error occur?

[2019-05-10 16:02] bryanjos commented on #728
Haha, I don't know. Not many details were given. @Krakaw do you have more details on this specific bug?

[2019-05-10 16:02] jpatricknola commented on #728
![Screen Shot 2019-05-10 at 11.01.33 AM.png](https://images.zenhubusercontent.com/5cbf376ce0d3d508934b139c/1e69d7c2-2a87-4002-a3ac-fbf0ce61b6c6)

Im on this page but have been able to recreate the error by clicking + and - repeatedly it appears to work fine

[2019-05-10 16:09] Krakaw commented on #728
It looks like it has been fixed by disabling the `+` button once you hit the ticket_limit which wasn't happening before.

[2019-05-10 16:12] jpatricknola commented on #728
Right on thanks @Krakaw.   I will close and resolve this issue then

[2019-05-10 16:16] #728 closed

[2019-05-13 17:19] iamjoshfrank opened #765 "Product Exploration - Self-Discovery"
An Issue to capture discoveries as we explore the current state of the application from the POV of the end users (Attendees and Door Scanners) and surface opportunities for improvements and new features.

[2019-05-13 17:21] iamjoshfrank opened #766 "Product Exploration - User Interviews"
An Issue to coordinate plans to engage with end users (Attendees and Door Scanners) via user interviews in order to opportunities for improvements and new features.

Remember, User Interviews are distinct from both pitches/demos and from usability testing. With User Interviews, we are exploring the problem area to get an understanding/validation of pain points and opportunities; and to better unde

[2019-05-13 17:24] iamjoshfrank opened #767 "Product Exploration - User Testing"
An Issue to propose/plan User Testing in order to surface opportunities for improvements and new features.

With User Testing, we should develop a script or scripts that include a series of tasks we want the user to perform / accomplish. In observing the user navigating and attempting to accomplish the tasks, we will likely uncover new features opportunities, bugs, and more.

[2019-05-13 17:25] iamjoshfrank commented on #765
@bryanjos @jpatricknola @CheetoMao - putting this straight to `In Progress` and in a rare move, I'm co-assigning all 4 of us.

[2019-05-13 17:41] bryanjos commented on #765
Would like to have the app's version somewhere in the UI. Why? Because it receives over-the-air (OTA) updates so the version shown in the App Store may not match the one users have

[2019-05-13 17:43] bryanjos commented on #765
Doorperson: Make guest list screen available from the event screen. This way the doorperson does not have to go through 2 extra screens and clicks and get to the list

[2019-05-13 17:43] jpatricknola commented on #765
So far the most glaring pain point apparent from app reviews is that some people are mad about having to download the mobile app to get into the concert for which they bought tickets.   The Big Neon FAQ page addresses this issue:

Q: But wait, I don't have the app - can I still get into the show?
A: No app? No problem! The app helps eliminate counterfeit tickets, and will enable more cool features

[2019-05-13 17:47] bryanjos commented on #765
Attendee - My Tickets - Show non-changing information about a ticket twice.

Why? The information stays the same. There is a bug caused by loading a huge gif multiple times. We can still carousel the dynamic info

[2019-05-13 19:02] bryanjos commented on #765
I checked in on the web side of things as an attendee. You can do more things inside the mobile than on the web. Nothing really gained there.

[2019-05-13 19:08] bryanjos commented on #765
There were issues to have some of the available for each event at https://beta.bigneon.com/admin/events in the mobile app for doorpeople but I don't think the apis or data were ever made available

[2019-05-14 15:56] #695 closed

[2019-05-15 16:41] bryanjos opened #770 "User - Account - See Big Neon Version"
from #765

## Background
Big Neon receives over-the-air (OTA) updates so the version shown in the App Store may not match the one users have. There may be times when, for debugging purposes, it would be nice to know the exact version.

## Scenario: User wants to see the current version
Given I am a User
- [ ] When I am on the Account tab
- [ ] Then I am able to see the current version of the Big N

[2019-05-15 16:46] bryanjos opened #771 "Blank screen when there is an error when first opening app"
## Description
When opening the app for the first time after a token expiration or some kind of other error, you will get a message about the error. Afterwards, you are left on a blank screen. I would expect, in this situation to be taken back to the login page.

[2019-05-15 18:32] zmelamed opened #772 "Guest List - Can't scroll to last item in the guest list search results"
When I type in a guest list search that returns many results I can't scroll to the last result to check them in

[2019-05-15 18:35] zmelamed opened #773 "Guest List - After searching keyboard should be dismissed as soon as I start scrolling"
After searching the guest list, the keyboard should be dismissed as soon as I start scrolling. Currently the keyboard doesn't hide without tapping making it difficult to scroll through the guest list

[2019-05-15 18:40] zmelamed opened #774 "Door Person - Show check-in details for tickets already redeemed"
When a person is already checked-in and an "Already Redeemed" message is displayed there should also be:
"Scanned by: [scanner name] [time since scan]"
Like:
"Scanned by Zachary M. 30 seconds ago"

[2019-05-15 19:00] jpatricknola commented on #772
@zmelamed is the bug happening on this screen?
![keithsontheguestlist](https://user-images.githubusercontent.com/6878242/57801548-8d4c8200-7719-11e9-886a-72f866005594.png)

[2019-05-15 19:02] zmelamed commented on #772
No, type in "Keith" to search, it's the search results list

[2019-05-15 20:35] CheetoMao opened #775 "UX/UI - Swipe Navigation Enhancement"
Currently when viewing Event Listings, the user taps on an event to view details. From the Event details view, the user can (sometimes) see a faded X button on the top left which allows them to navigate back to the Event listing view.
Rather than forcing users to tap a specific spot on the screen, we should encourage more intuitive swipe actions and navigation throughout the application.

Proposed

[2019-05-15 20:41] CheetoMao opened #776 "UX/UI - Star behavior + swiping"
Currently users can tap a faded star icon in order to ... do something.
- tapping the icon does not seem to do anything
- tapping the icon more than once returns an error 'duplicate record exists'
- it is difficult to tap the star icon without tapping the event image which takes you to the Event details page
- there is no way to see events that you have starred (what is the point of this feature?)

[2019-05-15 20:41] CheetoMao commented on #776
**Swipe to star examples:**
https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1gSz-L39Or4aM8GhQn0ZhnUkaV5E-cyoc%2Ftype-action-swipe.mp4

https://dribbble.com/shots/6460575-User-Intent-Swipe-to-see-more-or-less

[2019-05-15 23:13] bryanjos commented on #772
![Simulator Screen Shot - iPhone 8 - 2019-05-15 at 18 12 50](https://user-images.githubusercontent.com/1257573/57815451-1f19b680-773d-11e9-9992-3a51ddd01a6e.png)

[2019-05-15 23:23] bryanjos commented on #772
This will be tricky to fix. It goes in conflict with the "swipe to checkin" feature. For that we use a swipe list view. Which uses a flatlist underneath. The keyboard aware scrollview would cause more problems that those 2 things solve.

The only thing I can think of to try to close the keyboard when the user starts scrolling.

https://github.com/jemise111/react-native-swipe-list-view/blob/master/

[2019-05-16 00:08] zmelamed commented on #772
@bryanjos it should close the keyboard when the user starts srolling per #773 ... if that fixes this then that is the way to go. Kill two birds

[2019-05-16 13:27] CheetoMao opened #779 "UX/UI - Event details view - scale event image on pull down"
On the Event details view, the event image is fixed at the top of the screen. When the users pulls down on the page content, the white background of the app can be seen. For a more custom feel, we should allow the event image to grow to fill the available space when a user pulls down the content. (see screenshots)

**Current Event detail page:**
![event-details](https://user-images.githubuserconte

[2019-05-16 13:39] CheetoMao opened #780 "iOS keyboard hides the focused input"
When I tap on the promo code input in iOS, the default keyboard slides up and hides the promo code input. This is frustrating because you can't see what your typing.

## Description
When I tap on the promo code input in iOS, the default keyboard slides up and hides the promo code input.

## Screenshots/Gifs
![event-enter-promo](https://user-images.githubusercontent.com/3287583/57858008-de11b880-77

[2019-05-16 13:53] CheetoMao opened #781 "Select location menu style issues onTouch"
When selecting a location from the dropdown, there are some confusing styles.

## Description
onTouch styles make text illegible (ie. black background, black text), also the background color doesn't extend the full width of the menu

## Screenshots/Gifs
![IMG_1396](https://user-images.githubusercontent.com/3287583/57859144-fbe01d00-77b7-11e9-80e1-f134690d0c8c.PNG)
![IMG_1395](https://user-images.g

[2019-05-16 14:00] CheetoMao opened #782 "UX/UI - Event Listings - sold out events"
## Background
Currently, users can view events, tap to navigate to a specific event details page, tap to purchase tickets for that event AND THEN can see that the event is completely sold out.

We should surface this information sooner in the workflow to avoid user frustration.

**Proposed enhancements:**
- add a 'sold out' badge to sold out events on the listing view and the event details view
-

[2019-05-16 14:08] CheetoMao opened #783 "As a buyer of tickets, when I tap 'Purchase Tickets' I am taken to a blank screen"
As a buyer of tickets, when I tap 'Purchase Tickets' I am taken to a blank screen... sometimes. I can't pinpoint a specific ticket or scenario that may be causing this, but randomly, when I tap 'Purchase Tickets' the resulting screen is blank.

Also, possibly related, sometimes when I tap 'Purchase Tickets' the resulting screen shows a flash of the previous ticket info I viewed before switching to

[2019-05-16 14:16] CheetoMao commented on #765
HMW denote events that require the user to purchase tickets through eventbrite or another app/website without deterring them from using the app?

[2019-05-16 15:57] bryanjos commented on #774
@Krakaw or @zmelamed  does this information exist in the API? We aren't seeing enough information from the tickets we get from the API

[2019-05-16 16:05] Krakaw commented on #774
In the response for the guest_list as well as the get request for redeem you should see `redeemed_by` and `redeemed_at` this will only be populated from now on after a redemption.

[2019-05-16 16:30] bryanjos commented on #774
When we look at the response from the api we get nulls for `redeemed_by` and `redeemed_at`

[code]

But when you redeem tickets now we get

[code]

So we can only display the information if the values are there. Just posting this hear so we know what it looks like

[2019-05-16 16:49] zmelamed commented on #774
Is someone on your end have an idea how to treat this in UI or should we whip something up?

[2019-05-16 16:55] bryanjos commented on #774
I will see what @CheetoMao has to say, but also, what screen are we talking about here? Is this when scanning a ticket?

[2019-05-16 17:13] zmelamed commented on #774
Yeah sorry I didn't clarify... it's on the scan response screen and on the guest list ticket detail view (when you click on the ticket in the guest list)... the guest list ticket detail view is pretty straight forward, just add it as text on that view... the scan view we just want to make sure the text is readable below the "Already Redeemed" message that already appears. I'll mock something up qu

[2019-05-16 17:25] zmelamed commented on #774
![image](https://user-images.githubusercontent.com/456953/57874202-e02f4380-77c4-11e9-89a4-865364836782.png)

[2019-05-16 17:32] bryanjos commented on #774
Thanks! That clears up things

[2019-05-16 18:02] bryanjos commented on #773
#773 and #772 should be deployed on the beta app/testflight

[2019-05-16 18:27] zmelamed opened #786 "Guest List - A door person should be able to search by First Name, Last Name, or Full name"
Currently you can only search by first name, as soon as you enter a space to begin typing the last name the results disappear. Typing just the last name returns no results.

A door person should be able to find John Smith by typing "John", "john s", "john smith", or "Smith"

[2019-05-16 18:34] bryanjos commented on #786
@zmelamed we are passing the value directly to the api so it Looks to be something that would have to be looked at there.

[2019-05-16 18:36] zmelamed commented on #786
A gotcha, I thought it was searching the list locally... I'll move it to that repo

[2019-05-16 18:47] zmelamed commented on #774
The version on the far right is the preference assuming it's the easiest to implement as well

[2019-05-16 20:37] jpatricknola commented on #774
@Krakaw

Sending a get request for redeem does indeed contain "redeemed_at" and "redeemed_by" in the response, but only when it is a successful request (meaning the ticket is being scanned for the first time).   However, the response does not contain these properties for an unsuccessful request (such as a ticket that has already been redeemed).   Instead we get an error message with the following

[2019-05-16 20:57] jpatricknola commented on #774
another possibility would be to update the error response for redeem get requests, so that along with the error message "Ticket has already been redeemed" it includes "redeemed_at" and "redeemed_by" values

[2019-05-17 10:30] Krakaw opened #787 "As a doorperson after scanning a ticket and a random amount of time I get the following error"
This is happening in the production app
## Description
I scanned a valid ticket, after receiving success a random amount of time passes and this error appears. It seems to happen only on the first ticket that is scanned.

## Screenshots/Gifs
- ![Screenshot_20190517-122527](https://user-images.githubusercontent.com/41575888/57922072-307ad400-789f-11e9-90d7-d9d6d49caac7.jpg)

## Steps to Reproduce
P

[2019-05-17 15:24] jpatricknola commented on #787
@Krakaw
"It seems to happen only on the first ticket that is scanned."

Does this mean that we should create a new event in order to recreate the conditions for this error?

[2019-05-17 19:36] Krakaw commented on #787
I could replicate it by just closing the app and starting again, no need to create new events.

[2019-05-17 23:03] zmelamed commented on #787
Anything come of this or is this going to happen at tonights event?

[2019-05-18 16:20] jpatricknola commented on #787
@zmelamed

As best I can tell, this error is not occurring on the current develop branch.   I took the following steps:

- Logging in as superuser and going to account > doorperson
- scanning a ticket (for the first time) and waiting

I was unable to reproduce the error, testing on both android and iOS devices.    Tagging @bryanjos to take a look.

[2019-05-20 15:57] jpatricknola commented on #786
marking this issue as closed

[2019-05-20 15:57] #786 closed

[2019-05-20 16:44] jpatricknola commented on #783
I notice that the purchase ticket price does take a split second to load after the event details page loads.   This is evident because it takes a split second for the price to render.  I assume this is because of the time it takes for the ticket state provider to mount.

When clicking on purchase tickets immediately after the event page loads (presumably before the ticket state provider has loaded

[2019-05-21 01:06] zmelamed commented on #774
@Krakaw can you help with this. Can you supply the info with the error payload? or give guidance on how they can be unblocked

[2019-05-21 01:08] zmelamed opened #791 "Transfers - Ticket transfer view should pull up the users address book to select a phone number or email address"
If a user declines the permissions they should be able to enter it manually

[2019-05-21 09:47] Krakaw commented on #774
I have added https://github.com/big-neon/bn-api/pull/1280
[code]

[2019-05-21 15:14] bryanjos commented on #791
@zmelamed are there any further details or mockups for this particular issue?

[2019-05-21 15:31] jpatricknola commented on #774
@krakow should we be seeing these changes now?    Looks like Im still getting the same error response without the redeemed_at and redeemed_by properties that you added  ![redeemed ticket.png](https://images.zenhubusercontent.com/5cbf376ce0d3d508934b139c/10f6cc16-6511-4532-a1eb-f4b5d8899011)

[2019-05-21 16:07] Krakaw commented on #774
x-app-version is now 1.0.121 please try again.
`{"error":"Ticket has already been redeemed.","redeemed_at":"2019-05-21T16:06:27.232535","redeemed_by":"System Administrator"}`

[2019-05-21 16:32] bryanjos commented on #781
Looking into this now. Haven't found the right prop to pass to make it better yet

[2019-05-21 16:44] #705 closed

[2019-05-21 19:24] iamjoshfrank commented on #770
Looks good to move. Moving this over to `Up Next` and slapping a `score` label on it.

[2019-05-21 19:28] iamjoshfrank commented on #780
Similar to #758, yeah?

[2019-05-21 19:33] iamjoshfrank opened #796 "Doorperson - Event - Access Guest List"
[via @bryanjos on 765:](https://github.com/revelrylabs/bn-mobile-react/issues/765#issuecomment-491919099)

Any time we can reduce the number of clicks to make a person's workflow easier is a win.

**Current Event view for Doorperson**
![Screenshot_20190522-151243_Big Neon](https://user-images.githubusercontent.com/10236515/58205578-76bba300-7ca4-11e9-9084-60682682ab31.jpg)

## Scenario: Access Gue

[2019-05-21 19:36] iamjoshfrank commented on #765
re: https://github.com/revelrylabs/bn-mobile-react/issues/765#issuecomment-491919119 from @jpatricknola

Resorting to QR codes via email is more of a business call than I'm comfortable making here. How does this help maintain the verifiability of a ticket? Does the blockchain-enabled portion of the ticketing rely on keeping things tied to a device / mobile app? What if a QR-coded email is forwarde

[2019-05-21 19:37] jpatricknola commented on #774
submitting a PR now for this ticket
![IMG_0041.jpg](https://images.zenhubusercontent.com/5cbf376ce0d3d508934b139c/43a2f62b-07c3-4588-8cd3-c4bdad3f405d)

[2019-05-21 19:39] iamjoshfrank opened #797 "Attendee - My Tickets - Show non-changing information about a ticket twice."
[via @bryanjos on #765:](https://github.com/revelrylabs/bn-mobile-react/issues/765#issuecomment-491920229)

[2019-05-21 19:40] iamjoshfrank commented on #797
@bryanjos - I'm not sure I understand. Screen shot / capture or point me to an example? I trust you and assume this is a good idea, I just don't understand it enough yet.

[2019-05-21 19:42] iamjoshfrank commented on #765
@bryanjos - i think you're missing a few words around ..."to have some of the [blank] available for each event..." so your comment doesn't help me know what to do next, though I trust it's a good idea to look into whatever you were suggesting.

[2019-05-21 19:43] iamjoshfrank commented on #765
Is this a thing? There are events listed on Big Neon that require purchase via an outside platform??

[2019-05-21 19:58] iamjoshfrank commented on #791
I need to get into the ticket transfer view for the first time to provide more robust feedback, but my initial suggestion here is:

- Request permissions
- if granted, follow standard OS pattern of opening Contacts and allow selection
- when selected from Contacts, return to ticket transfer view
- see that relevant contact info has been filled in to the form from the phone's Contacts
- user confir

[2019-05-22 14:01] bryanjos commented on #759
I don't know if something changed here, but wondering if this is still an issue? When I tried to reproduce it yesterday, it seemed to be working much better. Any image optimizations happening on the server side now for images?

[2019-05-22 20:19] iamjoshfrank commented on #796
Updated w/ screenshot of referenced view.

[2019-05-22 20:25] iamjoshfrank commented on #787
I experienced this bug on the Beta Android build, which I updated just an hour or so ago on my Samsung S7 Edge.

I wasn't specifically testing for this Issue so I wasn't screen recording at the time.

I can say it occurred the very first time I attempted scanning a ticket. Shortly after (seconds) the undefined message disappeared, I was able to re-point my camera at the ticket and successfully sca

[2019-05-22 20:29] iamjoshfrank opened #801 "Access to Sentry"
In order to better diagnose bugs, we really need access to Sentry.

Current team working includes:
- [x] bryan@revelry.co
- [x] patrick.crilly@revelry.co
- [x] josh@revelry.co

[2019-05-22 20:31] iamjoshfrank opened #802 "Access to Segment"
Gaining access to metrics/analytics will enable our team to do more of the self-directed product improvements that we've been asked to spearhead.

Current team working includes:
- [ ] bryan@revelry.co
- [ ] patrick.crilly@revelry.co
- [ ] josh@revelry.co

[2019-05-22 20:38] iamjoshfrank opened #803 "Error - Creating QR code failed failed."
## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description: Error dialogue displayed when navigating to My Tickets after leaving check-in mode

## Screenshots/Gifs
Please provide a visual representation of the issue you encountered with screenshots or a gif. They should include the entire screen of the application, and should include the

[2019-05-22 20:38] iamjoshfrank commented on #803
assigning to myself to try to recreate

[2019-05-22 20:43] iamjoshfrank opened #804 "Cancel / `X` is cut off on right edge of Guest List list items"
Probably a design task BUT might not necessarily need a designer. I'm assuming this can be handled through some straight-forward style update(s).

![Screenshot_20190522-151233_Big Neon](https://user-images.githubusercontent.com/10236515/58207309-0b73d000-7ca8-11e9-987b-2006652bb703.jpg)

## Steps to Reproduce
- Doorperson
- Event > Check-in > Guest List
- See that the `X` icon to the right of each

[2019-05-22 20:48] zmelamed commented on #801
Added

[2019-05-22 20:48] #801 closed

[2019-05-22 20:52] zmelamed opened #806 "Doorperson - Guestlist check-in swipe to check-in "Sticky" reported on ipod touch"
## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description: Reports of the swipe to check-in being "Sticky" on a new ipod touch (same screen size as the iphone 5s I believe) Please investigate

## Platform/Device/Browser Information
Please provide platform, device , and browser (when applicable) that you were using when you encountered t

[2019-05-23 16:21] bryanjos commented on #791
Expo itself doesn't have a way to open the contacts. There is https://github.com/LynxITDigital/react-native-contacts-wrapper but doesn't look like it's been touched in a while.

I could try that package but there may be complications with its age.

With expo, there is an API for getting contacts, but nothing to open the native app. So if that was used we would have to create a new screen

[2019-05-23 16:23] bryanjos commented on #791
Looking for more thoughts and suggestions since this is still a draft.

[2019-05-23 16:31] bryanjos commented on #796
@jpatricknola I did some initial testing here and I think the navigation will have to be updated as well.

Steps to reproduce:

* Open App
* Make sure to be logged in as the doorperson or admin
* Click on "Account" tab at the bottom
* Click on "Doorperson"
* Click on the "Huge Ticket Sales" event
* Click "Guest List"
* **Observe**: The back button says "scan tickets"/ **Expected**: The back button

[2019-05-23 17:13] bryanjos opened #809 "Doorperson - GuestList - Navigation Update"
_requires #796_

## Background
With #796 we made it easier for a Doorperson to get to the guest list. We did not update the navigation.

## Scenario: Doorperson on Guest List
Given I am a Doorperson
- [ ] When I am on an Event Dashboard Screen
- [ ] And I click to go to the Guest List Screen
- [ ] Then I see `< Event` or `< <Event Name>`
- [ ] And when I click the above
- [ ] Then I am taken back

[2019-05-23 17:14] bryanjos commented on #809
Assigned to @iamjoshfrank and @zmelamed to approve

[2019-05-23 17:30] bryanjos commented on #787
I can't reproduce this on the latest beta version or in development. Unless there are clearer steps to reproduce I say we close this one

[2019-05-23 17:32] iamjoshfrank commented on #787
Not yet.

It happened to me yesterday and I'm going to try to reproduce this afternoon.

No clues Sentry?

[2019-05-23 17:37] bryanjos commented on #787
Only thing that could be related is this, but without further info from sentry or the api there isn't anything I can see https://sentry.io/organizations/big-neon-5x/issues/1022708374/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

[2019-05-23 18:43] bryanjos commented on #803
No need. I see the error. Fixing now

[2019-05-23 19:16] bryanjos commented on #759
I take back everything I said yesterday, haha

[2019-05-23 19:20] bryanjos commented on #797
These screenshots may help. The app has to render the image for every single ticket. It's not really needed besides for design purposes.

![Simulator Screen Shot - iPhone Xʀ - 2019-05-23 at 14 18 23](https://user-images.githubusercontent.com/1257573/58280221-b6968f00-7d65-11e9-9078-a5b6d8b5a72f.png)

![Simulator Screen Shot - iPhone Xʀ - 2019-05-23 at 14 18 31](https://user-images.githubuserconten

[2019-05-23 19:21] bryanjos commented on #759
I still think #797 is good to look at for fixing/avoiding this kind of bug

[2019-05-23 21:52] iamjoshfrank commented on #797
@bryanjos - ah, now I understand what you mean.

I wonder how common a use case is it for a single Event Ticket Holder to be holding multiple tickets to the same event, outside of maybe "I have 6 tickets for myself, my kid, and my kids' four friends to go see this concern."

Like, would we be re-designing and re-engineering this view to solve a problem that only starts to present itself when an Ev

[2019-05-23 21:52] iamjoshfrank commented on #797
Maybe I'll grab my small whiteboard and try to sketch up a slightly different view for this ticket carousel that doesn't rely on re-drawing the image for every single ticket.

[2019-05-23 22:15] iamjoshfrank commented on #804
I learned today that it's not an `X` but a right-carat and is supposed to indicate swipe-ability. Good to know. Problem still exists, though, whether carat or x. 😉

[2019-05-23 22:19] iamjoshfrank opened #811 "Top Padding of Upcoming Tickets is Off / Can't Tap "X""
## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description: When viewing my Upcoming tickets, the view is overrun at the top of the screen by my notification bar. It overlaps with the "X" to close / return to the tickets index. This isn't the case on Past tickets.

## Screenshots/Gifs
Please provide a visual representation of the issue y

[2019-05-23 22:20] iamjoshfrank commented on #787
Force closed the app and cleared my cache.

I was not able to reproduce this afternoon. Will try one more time tomorrow.

[2019-05-23 22:49] bryanjos commented on #804
I'm pretty sure this has to do with the size of the name pushing that UI part out. Maybe we can clip it so that the UI shows.

[2019-05-23 22:52] jpatricknola commented on #806
Findings from early investigation...  I can get something kind of like this to happen by scrolling down a large list of tickets and then quickly attempting to swipe check-in a guest.   Especially on a slower phone, the swipe check in does not work for the first couple of seconds.   After it loads I am able to swipe, but it takes long enough that I can try to swipe unsuccessfully a few times before

[2019-05-23 22:59] jpatricknola commented on #804
@bryanjos  i was looking at doormanStyles.js ticketStatusBadgeWrapper and see there is marginLeft: globalMargin, was thinking to add a similar marginRight, however the screen doesnt look like this on the iPhone8 or Samsung Galaxy 5 Im testing with so can't tell if that would fix it

[2019-05-24 14:58] jpatricknola commented on #806
@bryanjos  if that seems like the cause of the issue, would like to get your thoughts on how to best solve it.   Thinking that we could make it so that the swipelist is updated before rendering but that would make scrolling the list slower, in which case the cure could be worse than the disease.

[2019-05-24 15:21] bryanjos commented on #806
That could be it but I'm not sure. I don't want to go into a rabbit hole of tweaking too many things. I was wondering if it could be swiping in general, but now you've given me something to think about. I'll try to reproduce. If you're theory holds, then it shouldn't matter the device, we should see the issue

[2019-05-24 15:31] bryanjos opened #813 "Update API timeout"
https://sentry.io/organizations/big-neon-5x/issues/1000222376/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

## Background
Currently API requests timeout at 10 seconds. Let's update it to 30 seconds.

## Scenario: An API request happens
Given an API request
- [ ] Then it has 30 seconds to complete

[2019-05-24 15:34] bryanjos opened #814 "Unable to open URL: mailto:fansupport@bigneon.com"
https://sentry.io/organizations/big-neon-5x/issues/996506523/events/9d4c162a2bf449699e29e8138640b611/?project=1407235&statsPeriod=14d

## Description
Pressing "Contact Support" is supposed to open up the email app. I does not seem to be working

## Screenshots/Gifs
![Simulator Screen Shot - iPhone Xʀ - 2019-05-24 at 10 46 52](https://user-images.githubusercontent.com/1257573/58340472-915f5a80-7e11

[2019-05-24 16:02] bryanjos commented on #814
Note: This **works** on Android

[2019-05-24 16:07] jpatricknola commented on #814
@bryan it works on my iphone but i get that same error with Simulator for iphone

[2019-05-24 16:08] jpatricknola commented on #814
![IMG_0129B31BE239-1](https://user-images.githubusercontent.com/6878242/58341628-48f56c00-7e14-11e9-8c65-2c5250348b8f.jpeg)

[2019-05-24 16:09] jpatricknola commented on #814
^ the screen that opens when clicking contact support on iphone8

[2019-05-24 16:09] bryanjos commented on #814
Ok then, I assume that means the error is development specific and works on devices. I say we close this and the issue in sentry as well

[2019-05-24 16:12] #814 closed

[2019-05-24 16:13] bryanjos commented on #806
So @jpatricknola I think your theory is correct. I've managed to reproduce it on both iOS and Android. However, I also checked in on a few other apps randomly and the same thing occurs. So if this bug is about that, I'm going to say we should move on.

Otherwise, we should try to get more details from @zmelamed. As well as try to reproduce. But if you can't I say we close this one as well with the

[2019-05-24 16:54] iamjoshfrank commented on #814
Buuuttt wait...

Isn't the [Sentry Issue](https://sentry.io/organizations/big-neon-5x/issues/996506523/events/9d4c162a2bf449699e29e8138640b611/?project=1407235&statsPeriod=14d) tagged with `production`?

![Screen Shot 2019-05-24 at 11 52 48 AM](https://user-images.githubusercontent.com/10236515/58344142-8957e880-7e1a-11e9-8ebe-a6b6af7ecbe7.png)

[2019-05-24 17:02] daybreaker commented on #814
Just pointing out mailto links dont work in ios simulator using Linking.openURL - its their bug, not a bug in Big Neon development.

[2019-05-24 17:09] jpatricknola commented on #809
@bryanjos

I am thinking the guest list button on scan tickets could still be useful in the case that the doorperson is scanning tickets and encounters people on the guest list.

I definitely agree the guest list navigation should link back to manage events page instead of scan tickets

[2019-05-24 17:10] iamjoshfrank commented on #809
yes, agree.

[2019-05-24 17:12] iamjoshfrank commented on #809
Updated by removing the second scenario.

I'm approving this.

[2019-05-24 17:17] iamjoshfrank commented on #804
By looking at another event (Ani DiFranco) this does appear to be a problem with the length of the Attendee Name pushing the UI off-screen.

Definitely can pick this up to work it, my assumption being we need to truncate the name to a standard max length.

[2019-05-24 17:22] iamjoshfrank commented on #782
I agree - to start, "Sold Out" should appear in place of the ticket price(s) listed on the "Explore" screen and the "Event Details" screen.

I see 2 separate Issues here:
1. Displaying "sold out"
2. Toggle or other mechanism to hide "sold out" events

I'll loop back around to split these out, but anyone on the team can beat me to it if they're looking for something new.

[2019-05-24 17:22] bryanjos commented on #814
Does look they might be coming from production. I'm trying to pinpoint exactly how many come up. The error looks to be grouped together with unrelated ones so I'm having a hard time

[2019-05-24 17:26] bryanjos commented on #814
Looks like it's happened 6 times in 90 days. There is another related one about maps too: https://sentry.io/organizations/big-neon-5x/events/?project=1407235&query=Error%3A+Unable+to+open+URL&statsPeriod=90d

[2019-05-28 15:50] jpatricknola commented on #804
Is this a device specific problem though?   the attendee name "Administrator, System" is not long enough to cause this problem on the iphone8 or Galaxy 5 devices Im testing with

[2019-05-28 16:00] #765 closed

[2019-05-28 16:00] iamjoshfrank commented on #765
Closing, have captured most of these items in separate Issues.

[2019-05-28 16:07] iamjoshfrank commented on #804
Suggestion: display only the ticket holder's last name instead of `last name, first name`

[2019-05-28 16:16] iamjoshfrank commented on #787
Since this hasn't been reported again in past 2 weekends, AND we're having troubles reproducing it, closing.

Can open a new Issue if it re-surfaces.

IF IT RESURFACES...please try to note the day and time so we can attempt to correlate it to any error reporting in Sentry.

[2019-05-28 16:17] #787 closed

[2019-05-28 16:24] iamjoshfrank commented on #797
After discussion, we think this is probably true:

Leaving this open so that I can spin out this idea into a new Issue:

- Given an Event Ticket Holder has multiple tickets to an event
- [ ] When the Doorperson scans the first ticket
- [ ] Then the Doorperson sees the total number of tickets within the Doorperson's app
- [ ] And the Doorperson can mark all of the tickets as redeemed in a single cl

[2019-05-28 16:54] bryanjos commented on #791
Assigning to @iamjoshfrank to give any more thoughts on this

[2019-05-29 14:52] bryanjos commented on #811
I have acquired a Samsung S6 edge. I'll try on that

[2019-05-29 14:55] bryanjos commented on #811
I have reproduced it on the S6 Edge

[2019-05-29 16:44] #715 closed

[2019-05-29 16:44] #702 closed

[2019-05-30 14:52] bryanjos commented on #729
@iamjoshfrank I'm going to say we close this one. The mobile app has no control over sending messages.

[2019-05-30 15:00] #729 closed

[2019-05-30 16:36] iamjoshfrank opened #825 "Odd Loading Spinner (Android)"
## Description
Odd loading spinner placement during app launch; makes it feel unpolished.

![big-neon-loading-spinner](https://user-images.githubusercontent.com/10236515/58648285-02e64f80-82cf-11e9-8cd5-df3ebde79b3f.gif)

[big-neon-loading-spinner.mp4.zip](https://github.com/revelrylabs/bn-mobile-react/files/3237893/big-neon-loading-spinner.mp4.zip)

Samsung S7 Edge running Android 8.0

## Steps t

[2019-05-30 16:42] iamjoshfrank opened #826 "Missing Tickets from Location Selector"
## Description
Tickets that should show up in "California" location selection don't appear. We have multiple tickets in "San Francisco, California" that don't appear when switching from "San Francisco" as the location to "California" as the location.

[big-neon-location-missing-tickets-trimmed.mp4.zip](https://github.com/revelrylabs/bn-mobile-react/files/3237914/big-neon-location-missing-tickets-t

[2019-05-30 16:44] #651 closed

[2019-05-30 16:44] #661 closed

[2019-05-30 16:44] #696 closed

[2019-05-30 16:44] #704 closed

[2019-05-30 16:44] #718 closed

[2019-05-30 16:44] #722 closed

[2019-05-30 16:44] #730 closed

[2019-05-30 16:44] #731 closed

[2019-05-30 16:44] #735 closed

[2019-05-30 16:44] #753 closed

[2019-05-30 16:44] #754 closed

[2019-05-30 16:44] #758 closed

[2019-05-30 16:44] #760 closed

[2019-05-30 16:44] #772 closed

[2019-05-30 16:44] #773 closed

[2019-05-30 16:48] #770 closed

[2019-05-30 16:48] #771 closed

[2019-05-30 16:48] #774 closed

[2019-05-30 16:48] #780 closed

[2019-05-30 16:48] #781 closed

[2019-05-30 16:48] #796 closed

[2019-05-30 16:48] #803 closed

[2019-05-30 16:48] #809 closed

[2019-05-30 16:48] #813 closed

[2019-05-30 18:19] bryanjos commented on #826
The locations are regions defined in the dashboard and so they aren't geo location based

![Screen Shot 2019-05-30 at 1.18.46 PM.png](https://images.zenhubusercontent.com/5cb76031e89c9c3b0c58dbce/722e2659-e570-44d3-8464-04ce042beb73)

[2019-05-30 18:31] bryanjos commented on #825
I have no idea yet how that thing even works

[2019-05-30 18:40] jpatricknola commented on #825
ill check it out

[2019-06-03 13:34] bryanjos opened #827 "undefined is not an object (evaluating 'v.first_name')"
https://sentry.io/organizations/big-neon-5x/issues/988576902/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description:

## Screenshots/Gifs
Please provide a visual representation of the issue you encountered with screenshots or a gif. They should include the entire screen of the a

[2019-06-03 13:35] bryanjos opened #828 "_reactNativeScreenBrightness.default.getBrightnessAsync' is undefined"
https://sentry.io/organizations/big-neon-5x/issues/1054174207/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description:

## Screenshots/Gifs
Please provide a visual representation of the issue you encountered with screenshots or a gif. They should include the entire screen of the

[2019-06-03 13:37] bryanjos opened #829 "Element type is invalid: expected a string"
https://sentry.io/organizations/big-neon-5x/issues/1053354917/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

`Check the render method of AuthIndex`

## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description:

## Screenshots/Gifs
Please provide a visual representation of the issue you encountered with screenshots or a gif. They

[2019-06-03 13:38] bryanjos opened #830 "Invariant Violation: Invariant Violation: React.Children.only expected to receive a single React element child"
https://sentry.io/organizations/big-neon-5x/issues/1053356879/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

[2019-06-03 13:41] bryanjos opened #831 "Couldn't get GCM token for device"
https://sentry.io/organizations/big-neon-5x/issues/998918299/?project=1407235&query=is%3Aunresolved&statsPeriod=14d

It's possible this is just someone not accepting to receive notifications

## Description
Next, provide a description of the issue you encountered and the outcome you expected.
- [ ] Description:

## Screenshots/Gifs
Please provide a visual representation of the issue you encountere

[2019-06-03 17:07] iamjoshfrank commented on #766
Closing since this is final week.

[2019-06-03 17:07] #766 closed

[2019-06-03 17:08] #767 closed

[2019-06-03 17:08] iamjoshfrank commented on #767
Closing since this is final week.

[2019-06-03 17:27] iamjoshfrank commented on #791
I'll pick this back up IF we have time this week.

[2019-06-03 17:30] iamjoshfrank commented on #826
Grrrrr...

Well, that opens up some pretty big holes from the UX perspective.

Removing the `bug` label and applying `draft`, maybe I'll re-write this Issue this week if we end up with time.

[2019-06-04 14:53] bryanjos commented on #830
The error gave a decent guess to where the error is but I could not figure out why it's being thrown. TouchableHighlight can only have one component in it. In all of the Touchable components in AuthIndex, they all have one component. I'm not sure where else to go with this

[2019-06-04 14:56] jpatricknola commented on #830
@bryanjos do you think its related to #829?   Error message for that ticket says "Check the render method of AuthIndex"

[2019-06-04 15:14] jpatricknola commented on #830
I notice that in the stack trace for #829 there is

 TouchableHighlight (at Auth/index.js:72)

[2019-06-04 15:42] bryanjos commented on #830
@jpatricknola very possible. I'm starting to think that stack trace may be leading us wrong

[2019-06-04 17:30] bryanjos commented on #830
Tried a bunch of things, tested on iOS and Android and I have not been able to reproduce it

[2019-06-05 15:39] jpatricknola commented on #829
Havent been able to reproduce or track down source of the error so far.

If the error message is to be believed, this could be caused by a problem with importing/exporting files, such as having the import statement as import {file} rather than import file or vice versa.   In this case if we could know which module isnt being imported correctly we could fix it easily.

However this error also seems

[2019-06-05 16:03] bryanjos commented on #830
I have tried to reproduce the issue, read into what it could possibly be and have not been able to see it for myself. It also shows up with a very low amount of events in sentry. With that, I'm closing this.

[2019-06-05 16:03] #830 closed

[2019-06-05 16:04] bryanjos commented on #830
I also resolved the issue in Sentry. We'll see if it comes up again

[2019-06-05 16:08] jpatricknola commented on #825
The big neon app does have an activity indicator which is correctly placed (for example when opening the guest list).    I am thinking this spinning wheel is thanks to the status bar for expo, which makes me think its positioning cannot be changed from the top of the screen.  So I am currently exploring turning off the loading icon as a solution to this issue.

[2019-06-05 17:18] iamjoshfrank commented on #804
Testing this now on my Android...

[2019-06-05 17:24] iamjoshfrank commented on #804
![Screenshot_20190605-122154_Big Neon](https://user-images.githubusercontent.com/10236515/58976338-d2019100-878c-11e9-90a8-a297bd276dcc.jpg)

Looks great on Android.

I want confirmation from @jpatricknola or @bryanjos that this has been tested on a physical iOS device and then we can move this forward / close it out.

[2019-06-05 17:25] jpatricknola commented on #804
can confirm i tested on iphone

[2019-06-05 17:30] iamjoshfrank commented on #811
Better on my S7 Edge.

@jpatricknola - please test on physical iPhone to be sure we didn't break anything; confirm with a comment and then you can move to UAT. even though Zach hasn't been doing UAT, let's at least take that step and I'll sweep through tomorrow and close UAT if it hasn't been touched by EOD.

[2019-06-05 17:31] iamjoshfrank commented on #831
Next up...

[2019-06-05 17:32] iamjoshfrank commented on #831
Actually - @bryanjos what am I doing to test this??

[2019-06-05 17:32] iamjoshfrank commented on #827
@bryanjos what am I doing to test this??

[2019-06-05 17:33] iamjoshfrank commented on #828
@bryanjos what am I doing to test this??

[2019-06-05 18:34] #827 closed

[2019-06-05 18:34] #828 closed

[2019-06-05 18:34] #831 closed

[2019-06-05 20:00] iamjoshfrank commented on #811
Patrick confirmed in Slack that he tested this on iPhone, so moving it ahead to UAT.

[2019-06-06 19:07] jpatricknola opened #842 "Decrease lag in Guest List"
Big Neon can have guest lists with 20,000 entries.   Currently the guest list does not handle large numbers well.   Searching can take +10 seconds and other laggy behavior is present.  Using the dev server "Mobile Ticket Test" with 20,000 tickets to test AC

Keith suggested that "It might be easiest by setting the a limit in the query and searching the API instead of locally"

AC for this ticket
A

[2019-06-06 20:13] bryanjos commented on #842
Those sound like good solutions. No need to display all the tickets and have people use the search instead to narrow things down

[2019-06-07 16:30] bryanjos commented on #842
Patrick and I suggest the following steps:

- [ ] Use the `limit` parameter to limit the amount of guests shown on the screen
- [ ] Update the Guest list screen to show the number of guests so that door people aren't confused when they only see <limit> guests
- [ ] Debounce search typing so that you don't get intermediate requests for searching happening

[2019-06-07 16:52] jpatricknola commented on #842
tested this on the development server, works muuuch better now