[2018-08-02 19:38] Mcscott142 opened #1 "Designer - Product Screenshots"
As a designer, I want to capture high-res screenshots so that we can showcase our work.

**When screens views to showcase:**
- Choose screens that highlight the value of the app and/or screens that look aesthetically pleasing. _(ie. a screenshot of an unfilled out form isn't going to be impressive to anyone)_
- Stage content in the app so that there is no private/sensitive client information and n

[2018-08-02 19:38] Mcscott142 opened #2 "Developer - Continuous Integration - Automatic Deployments"
## Background
Automatic deployments are more efficient and provide clarity as to what was deployed.

## Scenario: PRs with passing tests get deployed when merged
Given CI tests are set up for the project
And the tests pass for a pull request
 - [ ] When the PR is merged
 - [ ] Then it is deployed to our app (Staging, Production or otherwise)

[2018-08-02 19:38] Mcscott142 opened #3 "Developer - Continuous Integration - Automated Tests"
## Background
Set up CLI for continuous integration. We are currently using [Travis CI](https://travis-ci.com/revelrylabs).

## Scenario: Setup Tests
Given a repo has been set up
- [ ] When the developer pushes a new commit to any branch
- [ ] Then the tests for backend run (e.g. for Rails `bundle exec rake spec`)
- [ ] And the tests for javascript run (e.g. `npm test`)
- [ ] And reports the statu

[2018-08-02 19:38] Mcscott142 opened #4 "Product Owner - Google Analytics - Setup"
## Background
Use an existing or create a new Google Analytics account to track traffic on live, production site.

## Scenario: Already Setup
Given Google Analytics has been setup
- [ ] When the Product Owner provides the UA number
- [ ] And the production site goes live
- [ ] Then a developer adds Google Analytics to the live, production site

## Scenario: Not Setup
Given Google Analytics has not

[2018-08-02 19:38] Mcscott142 opened #5 "Developer - Lintron - Setup"
## Background
Lintron is an internal tool created by Revelry to ensure everyone uses a consistent code style, which prevents errors in code and makes it easy to combine work with others'.

## Scenario: Attach Lintron
Given a repo has been set up
- [ ] When I create a new pull request
- [ ] Then Lintron comments on the pull request
- [ ] And I see the comments in Slack

[2018-08-02 19:38] Mcscott142 opened #6 "Developer - Monitoring - On-Call Rotation"
## Background

We want projects to have an on-call rotation so that if there are problems, the engineers can be reached through PagerDuty.

## Scenario: PRs with passing tests get deployed when merged

WHEN I visit pagerduty
- [ ] THEN I see an on-call rotation for the project
- [ ] AND it has engineers in it

[2018-08-02 19:38] Mcscott142 opened #7 "Developer - PR Template - Pull Request Checklist"
## Background
A Pull request template with a Checklist is a useful reminder of things to include when creating a Pull Request. Example template is below, feel free to edit based on your projects needs. Directions for adding a PR Template live [here](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/).

## Scenario: Pull Request Checklist
Given a repo has been se

[2018-08-02 19:38] Mcscott142 opened #8 "Developer - Deployment - Document Instructions"
## Background
I want to a place to keep track of release instructions so that it is clear what actions must be taken when the application is next deployed to production.

[Sample checklist available on the wiki](http://wiki.revelry.co/index.php/Production_Checklist)

## Scenario: Release Checklist Documentation
Given a repo has been set up
- [ ] When I view the root directory of the repo
- [ ] The

[2018-08-02 19:38] Mcscott142 opened #9 "Developer - Project Setup - Document Instructions"
## Background
Critical to have clear, up-to-date setup instructions in the README for new or returning team members to quickly get up and running.

## Scenario: View Setup Instructions in README
Given a repo has been set up
- [ ] When I view the `README.md` "Project Setup" section
- [ ] Then I see instructions for installing dependencies
- [ ] And I see instructions for seeding the database
- [ ]

[2018-08-02 19:38] Mcscott142 opened #10 "Developer - Project Setup - Rollbar"
## Background
Rollbar is a tool that detects bugs in the code that may not be visible to the end user of the product.

## Scenario: Setup Rollbar
Given I am a developer
- [ ] When a repo has been set up
- [ ] Then I add the project to our Rollbar account
- [ ] And I install the appropriate [SDK](https://rollbar.com/docs/notifier/) for the codebase
- [ ] And I setup notifications in the project's S

[2018-08-02 19:38] Mcscott142 opened #11 "Developer - Project Setup - Run Setup Script"
## Background
Create setup script to run so that anyone can get set up quickly and easily. We should follow the [scripts-to-rule-them-all pattern](https://github.com/github/scripts-to-rule-them-all).

See [example for setup script](https://github.com/revelrylabs/scurlock/blob/develop/bin/setup) and [README inclusion](https://github.com/revelrylabs/scurlock#1-install-dependencies).

## Scenario: Ru

[2018-08-02 19:38] Mcscott142 opened #12 "Reveler - Slack Integration - Poker Bot, Issue Lookup, Celebration Bot"
## Background
Sets up Slack integrations for poker, issue lookup, and celebration bot when a ticket is closed.

## Scenario: Poker Bot
Given there is a project repo
And a project Slack channel
- [ ] When I type `/poker start <org>/<repo>/<number>`
- [ ] Then poker bot sends a message that a round of poker is starting

## Scenario: Issue Number Lookup
Given there is a project repo
And a project Sla

[2018-08-02 19:38] Mcscott142 opened #13 "Developer - Continuous Integration - Coverage Measurement"
## Background

To have a data-driven understanding of what we have tested and not, we need to
measure test coverage and make it available for viewing in
[coveralls](https://coveralls.io/).

## Scenario: Setup Test Coverage Measurement

Given a repo has working tests and CI

- [ ] WHEN the developer pushes a new commit to any branch
- [ ] AND the tests run
- [ ] THEN you can see the test coverage d

[2018-08-02 19:38] Mcscott142 opened #14 "Product Owner / Product Manager - Project Brief - First Draft of Core Loop Model"
## Background
Goal: add content to `README.md` in the section `Project Brief > What is the core loop?`

We use [Camuda](https://camunda.com/download/) to create the Core Loop BBMN. Editable Camuda files are saved as `.bpm`. Also, share a JPG, PNG screenshot or exported PDF of the chart so the team can easily view and access.

## Scenario: Add Core Loop to Project Brief
Given I am a PM
- [ ] When I

[2018-08-02 19:38] Mcscott142 opened #15 "Product Owner / Product Manager - Project Brief - Define the Problem"
## Background
Goal: add content to `README.md` in the section `Project Brief > What is the main problem we are trying to solve?`

## Scenario: Define the Problem in Project Brief
Given I am a PM
- [ ] When I view the Project Brief
- [ ] Then I see the problem defined

[2018-08-02 19:38] Mcscott142 opened #16 "Producer - Sprint Planning - Scored Stories"
## Background
Goal: complete planning poker on approved user stories reflecting the first version of the product's Core Loop before the end of Inception

## Scenario: Run First Poker
Given I am a PM
- [ ] When Inception ends
- [ ] Then I have prioritized, approved, and scored user stories in the `Icebox`

[2018-08-02 19:38] Mcscott142 opened #17 "Product Owner / Product Manager - Sprint Planning - Draft and Approve Initial User Stories"
## Background
Goal: draft user stories reflecting the first version of the product's Core Loop and get them approved before the end of Inception week.

## Scenario: PM Drafts Initial User Stories
Given I am a PM
- [ ] When I have the first user stories drafted in the icebox
- [ ] Then I assign the product owner to review and approve the stories
- [ ] And I use the `approve` label

## Scenario: App

[2018-08-02 19:38] Mcscott142 opened #18 "Product Owner / Product Manager - Project Brief - Know the User"
## Background
Goal: add content to `README.md` in the section `Project Brief > Who are we building for?`

## Scenario: Add Target Audience to Project Brief
Given I am a PM
- [ ] When I view the Project Brief
- [ ] Then I see the "Who are we building for?" explanation

[2018-08-02 19:38] Mcscott142 opened #19 "Product Manager - README - First Draft of Nouns and Verbs"
## Background
Goal: add new section `Nouns and Verbs` to `README.md` and fill in with first draft of content

[Example Nouns & Verbs](https://github.com/revelrylabs/pairr#nouns--verbs )

## Scenario: Add Nouns and Verbs to Project Brief
Given I am a PM
- [ ] When I view the Project Brief
- [ ] Then I see the Nouns and Verbs bullets

[2018-08-02 19:38] Mcscott142 opened #20 "Lead Engineer - Product Planning - Platform / Stack Decisions"
## Background
Goal: after consideration of the other `product-tasks`, with an understanding of the audience, problem, and core loop; make a decision about platform/tech stack choices and document in `README.md` in the section `Project Setup > Tech Stack`.

## Scenario: Define Tech Stack
Given I am the lead engineer
- [ ] When I have an understanding of the audience, problem, and core loop
- [ ] Th

[2018-08-02 19:38] Mcscott142 opened #21 "Product Owner / Product Manager - Project Brief - Summarize the Product Idea"
## Background
Goal: add content to `README.md` in the section `Project Brief > The Idea`

## Scenario: Add The Idea to Project Brief
Given I am a PM
- [ ] When I view the Project Brief
- [ ] Then I see the "The Idea" explanation

[2018-08-02 19:38] Mcscott142 opened #22 "Designer - Product Exploration - Visualize the MVP"
## Background
Goal: no prescribed asset, whatever best serves the project to communicate the MVP

## Scenario: Visualize MVP
Given I am the lead designer
- [ ] When I have an understanding of the audience, problem, and core loop
- [ ] Then I have created a design artifact to communicate the MVP of the product

[2018-08-02 19:38] Mcscott142 opened #23 "Revelry - Time Tracking - Setup 10,000ft Project"
## Background
[10,000ft](https://app.10000ft.com/) is the time tracking and resourcing tool used at Revelry. If a project has not yet been setup, then @thomasknoll will need to create the project.

## Scenario: Look for Project in 10,000ft
Given I am a Reveler
- [ ] When I login to 10,000ft
- [ ] And view the [Projects](https://app.10000ft.com/projects) page
- [ ] Then I see the new project
- [ ]

[2018-08-02 19:38] Mcscott142 opened #24 "Developer - Bug Template - Instructions/Template for submitting a Bug in GitHub"
## Background
A Bug template for anyone not accustomed to our process. It will help speed up the bug reporting/fixing process. Directions for adding a Template live [here](https://help.github.com/articles/creating-issue-templates-for-your-repository/).

## Scenario: Opening a new GitHub Issue for a Bug
Given a repo has been set up
- [ ] When I select `New Issue` inside the GitHub project
- [ ] I s

[2018-08-02 19:38] Mcscott142 opened #25 "Product Owner - Process - Cheatsheet Guide of Revelry's process"
## Background
It is critical for the success of the project that the Product Owner be briefed and fully integrate with the Revelry process.

## Scenario: Client Team Receives Cheatsheets
Given I am a PM
- [ ] When the initial inception call is set
- [ ] Then the PM sends the product owner team the `Kicking Off Your Project With Revelry` cheatsheets:
    - [ ] Go to Drive folder [../Capabilities Do

[2018-08-02 19:38] Mcscott142 opened #26 "PM - Project Brief - Define Compatibility Targets"
## Background
The PM works with the Product Owner to identify and define the compatibility targets at the onset of the project, so that the QA team knows which browsers and devices to test on.

## Scenario: Define Compatibility Targets
Given I am a PM
- [ ] When I view the `README.md`
- [ ] Then I see a "Compatibility Targets" section
- [ ] And the platforms and versions are defined
- [ ] And the

[2018-08-02 19:38] Mcscott142 opened #27 "QA - Testing Credentials - Create Folder in LastPass"
## Background
Team members and Product Owner(s) need access to shared testing credentials in LastPass. Throughout the project as testing credentials are created, QA will add the credentials to the project's LastPass folder.

## Scenario: Create Folder in LastPass
Given I am QA
- [ ] When I receive the Product Owner's email address
- [ ] Then I create a project folder in LastPass
- [ ] And I share

[2018-08-02 19:38] Mcscott142 opened #28 "Stakeholder - README - Create Basic README"
## Background
A well-structured `README.md` file at the root of the project repository serves as the primary source of information about the project and should be re-visited regularly.

The format for the `README` should be started from the [project-brief-template.md](https://drive.google.com/open?id=1uiPT9qki0Bs2m4Awm9hDQRED3vh3LZ8F)

If any of the sections cannot be completed, then the incomplet

[2018-08-02 19:38] Mcscott142 opened #29 "DevOps / PM - DNS Access - Move DNS to Revelry's DNSimple Account"
## Background
In order to go live, we need to switch the DNS from a current site or parked page to the live app. Revelry needs access to the DNS, so we do not get blocked later on in the project.

Switching a product owner's DNS to the Revelry DNSimple account allows us to manage the DNS without having to walk the product owner through the interface. This makes go live, SSL config, and email confi

[2018-08-02 19:38] Mcscott142 opened #30 "Developer - Feature Template - Issue writing Instructions/Template"
## Background
A feature template for anyone not accustomed to our issue/ticket writing methods. Directions for adding a Template live [here](https://help.github.com/articles/creating-issue-templates-for-your-repository/).

## Scenario: Opening a new GitHub Issue for a Feature
Given a repo has been set up
- [ ] When I select `New Issue` inside the GitHub project
- [ ] And I select the Feature Templ

[2018-08-02 19:39] Mcscott142 opened #31 "Product Owner / PM - Email Solution - Google Apps for Business"
## Background
Frequently, our clients come to us asking for an email service to be set up. Or,
we need email configured on a domain (e.g. to set up SSL, or a support email address,
or as the default `FROM:` for email from the app).

If we delay setting up an email solution, this could delay launch or lead to bounced email.

@thomasknoll is the most experienced Reveler to setup Google Apps for Busi

[2018-08-02 19:39] Mcscott142 opened #32 "PM - Intercom - Setup Intercom for Support Requests"
## Background
Setup Intercom so that clients can receive support.

## Scenario: Setup Instructions
- [ ] First, add all team members, if they are not already [listed as a team member](https://app.intercom.io/a/apps/pumhg6wu/settings/teammates)
- [ ] Second, [add a team for the new project](https://app.intercom.io/a/apps/pumhg6wu/settings/teams)
- [ ] Third, see the [current projects](https://app.i

[2018-08-02 19:39] Mcscott142 opened #33 "Product Owner - Testing Credentials - Access to LastPass"
## Background
Product Owners need access to project testing credentials to test issues in UAT. We keep our testing credentials in [LastPass](https://chrome.google.com/webstore/detail/lastpass-free-password-ma/hdokiejnpimakedhajhdlcegeplioahd?hl=en-US).

## Scenario:
Given I am a Product Owner
- [ ] When I download the [LastPass Chrome extension](https://chrome.google.com/webstore/detail/lastpass-f

[2018-08-02 19:39] Mcscott142 opened #34 "PM - Google Drive - Create Project Folder"
## Background
Every project has a shared Google Drive folder within the [Revelry Projects Google Drive folder](https://drive.google.com/drive/u/0/folders/0B9cLHLq9AiJTflhUWEVSRE83WVYyaVRZMnBLVjB5UUxMMW9MTlk4bTM4T3ZPMlVxUXQxd0E) for sharing files and documents.

## Scenario: New Project Folder
Given I am a Reveler logged into Google
- [ ] When I view the [Revelry Projects Google Drive folder](https

[2018-08-02 19:39] Mcscott142 opened #35 "PM - Scrum Calendar - Schedule Kickoff"
## Background
First working day of the sprint (usually Monday, could be Tuesday if there's a holiday).

## Scenario: Kickoff Scheduled
Given I am a PM
- [ ] When I check the SCRUM calendar
- [ ] Then I see a recurring kickoff scheduled for the first working day of the sprint

[2018-08-02 19:39] Mcscott142 opened #36 "PM - Scrum Calendar - Schedule Standup"
## Background
Standups are daily channel reminders for the team to stay in sync with the project.

## Setup Instructions
You can run the following to create standup reminders:

[code]

## Scenario:
Given the project has a Slack channel
- [ ] When I type `/remind list` in Slack
- [ ] Then a Slack reminder is scheduled in the channel

[2018-08-03 15:10] Mcscott142 commented on #23
needs 10k for tracking

[2018-08-03 15:14] Mcscott142 commented on #12
Internal review on poker etc happening before we connect.

[2018-08-03 15:18] Mcscott142 commented on #4
Not needed for this project.

[2018-08-03 15:18] #4 closed

[2018-08-03 15:19] Mcscott142 commented on #31
not needed

[2018-08-03 15:19] #31 closed

[2018-08-03 15:23] Mcscott142 commented on #35
Done

[2018-08-03 15:23] #35 closed

[2018-08-03 15:25] Mcscott142 commented on #36
done

[2018-08-03 15:25] #36 closed

[2018-08-06 15:47] thomasknoll commented on #23
https://app.10000ft.com/viewproject?id=2077113

[2018-08-06 15:47] #23 closed

[2018-08-06 18:18] Mcscott142 commented on #28
Intial ReadMe pushed with info we currently have. Closing.

[2018-08-06 18:18] #28 closed

[2018-08-07 14:32] Mcscott142 commented on #32
Don't believe this will be needed. I'll re-open if that runs out not to be the case.

[2018-08-07 14:32] #32 closed

[2018-08-07 15:04] Mcscott142 commented on #25
Not sure this is needed. Will find out.

[2018-08-07 15:07] Mcscott142 commented on #34
Closing this one. Not doing models and there isn't a whole of inception other than working these mock which are now located in the design folder.

[2018-08-07 15:07] #34 closed

[2018-08-07 15:08] Mcscott142 commented on #20
This is decided I'm fairly certain. Will doublecheck during kickoff. React NAtive + Fastlane.

[2018-08-07 16:11] Mcscott142 opened #39 "Attendee - Home/Explore Page - Explore Events"
## Background
For the initial run, we are not connecting to the Big Neon Database, API or using any real data. All of these screens are essentially "Live Mocks" without real functionality.

The Homepage needs a list of events for users to explore, links for navigation and way to set/change their location. For this run we won't even have the user login, it will be a single user with dummy profile d

[2018-08-07 16:19] Mcscott142 opened #40 "Attendee - Event Page - See Event Details"
## Background
Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the production ready tab.

## Scenario: A user clicks on an event from the homepage
- [x] When I am directed to the event show page
- [x] Then I see:
	- [x

[2018-08-07 18:45] Mcscott142 commented on #16
Scheduled for Thursday

[2018-08-07 19:17] Mcscott142 opened #41 "Attendee - Navigation - Navigation Bar"
## Background
The navigation bar should include a link to the Home/Discover page, the user's ticket wallet and their profile. At this point, I don't think we need an actual login screen since we aren't going to connect to a database.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this sc

[2018-08-07 19:28] Mcscott142 opened #42 "Attendee - Ticket Wallet - Ticket Wallet/Tickets Index"
## Background
The ticket wallet will have all of the ticket histories for a user.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the production ready tab.

## Scenario: A user selects the Ticket Wallet icon on the n

[2018-08-07 19:30] Mcscott142 opened #43 "Attendee - Ticket Wallet - Single Ticket/Ticket Show"
## Background
When a user clicks on an event then the ticket(s) owned for that event come into full view and can be scrolled through.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the production ready tab.

## Scen

[2018-08-07 19:57] Mcscott142 opened #44 "Developer - React Native App - Stand Up Basic React Native Application"
## Scenario: I developer stand up the base app for a project
- [ ] Set up a generic React Native application to be worked.

[2018-08-07 20:01] Mcscott142 commented on #20
@jwietelmann Can you drop comment on here w/ stack. I'll update ReadMe

[2018-08-07 20:23] Mcscott142 opened #45 "Attendee - Ticket Wallet - Transfer ticket"
## Background

[2018-08-07 20:24] Mcscott142 opened #46 "Attendee - Homepage/Discover - Choose Location"
_related to #97_
## Background
A user will want to select different cities to see what events are happening that area.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the production ready tab.

## Scenario: A User ch

[2018-08-07 20:25] Mcscott142 opened #47 "Attendee - Explore - Search Events"
## Background
A User needs the ability to search for events from the explore screen.

## Scenario: A User selects the search bar to find a specific artist, game etc.
- [ ] When I select the search bar from the explore screen
- [ ] And I begin to type an artists name
- [ ] Then I see
	- [ ] Event Results

### Mock
<details>
<summary>Regular Search Bar</summary>

<img width="328" alt="Big_Neon" src=

[2018-08-07 20:27] #14 closed

[2018-08-07 20:27] #21 closed

[2018-08-07 20:27] #19 closed

[2018-08-07 20:27] #26 closed

[2018-08-07 20:27] #18 closed

[2018-08-07 20:27] #15 closed

[2018-08-07 20:35] jwietelmann commented on #44
Done and pushed.

[2018-08-07 20:35] #44 closed

[2018-08-07 22:30] Mcscott142 opened #48 "Attendee/Ticket Holder - Account - Account Page"
## Background
When a user logs in they will be able to view their Account and the different options such as editing their profile, setting billing info etc.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the product

[2018-08-07 22:31] Mcscott142 commented on #45
No production ready mocks for this. Will focus on those screens first and flesh this ticket out more if it looks like we'll have time next week.

[2018-08-07 22:33] #17 closed

[2018-08-07 22:38] #20 closed

[2018-08-08 21:36] brittanygay opened #51 "Developer - Set up Typeface and Icon Set"
## Background
We need to finish setting up the Typeface and Icon Set for the app.

All .ttf typeface styles have been added in `/assets/fonts/`.

After doing some quick research, I believe we can set up the iconset by installing a React component (ex: `react-native-vector-icons/MaterialIcons`)

## Scenario: Set up the following:
- [x] Typeface
- [x] Iconset (sync with @brittanygay on this, prefera

[2018-08-08 21:36] brittanygay commented on #51
Assigning to @Mcscott142 to approve

[2018-08-09 17:05] brittanygay commented on #39
Picking this up to work on next

[2018-08-09 18:14] brittanygay commented on #51
I was able to easily pull in Material Icons and get that working @Mcscott142 if we want to update the AC and remove that criteria.

[2018-08-09 18:16] Mcscott142 commented on #51
Will just mark that piece as done.

[2018-08-09 18:21] Mcscott142 opened #54 "Designer - Loaders/Splash Screens - Animations for Loaders"
## Background
In dropbox there are some concepts that could be used for loaders and splash screens.

Links(These are also linked in the Google Drive):
- https://www.dropbox.com/s/8fcp4irnrixlntd/Logo.mp4?dl=0
- https://www.dropbox.com/s/yecyav14dgtjrt7/Logo-Cropped-Transparent.mov?dl=0
- Folder: https://www.dropbox.com/sh/18mx0hrp861ctls/AACCiDeiCnZvCfFNGruljJyKa?dl=0

## Scenario: Adding Splash/L

[2018-08-09 19:50] thomasknoll opened #56 "Attendee - Ticket Wallet - Multiple Ticket Side Scroll"
## Background
When a user has multiple tickets, they can scroll from side to side to see each one of them with the QR code for entry.

## Scenario: A user is viewing an event ticket where they have purchased multiple tickets
- [ ] When I side-scroll through the tickets
- [ ] Then I see each ticket with a QR code
- [ ] A count of the tickets e.g. "2 of 3"

## Mock
![ios_app_-_dev_version__1__sketch

[2018-08-09 22:11] brittanygay commented on #39
**Update**:
I'm a little more than halfway done stubbing this screen out. I just finished up the slideshow section, and tomorrow I plan on finishing up the "Upcoming" section.

Once this is all complete, I'll post screenshots once I create my PR and then I plan on picking up #41 next.

[2018-08-10 12:33] Mcscott142 commented on #48
Updated AC & added Mock.

[2018-08-10 12:39] Mcscott142 opened #57 "Attendee/Ticket Holder - Account - Edit Account Page"
## Background
A user needs the ability to add contact information, add a profile picture, change passwords etc.

Latest Mocks are kept in the sketch file in this [folder](https://www.dropbox.com/sh/gt7c74ndhk7me5w/AADIxnNPe39Xbq3HJUCXfb9xa?dl=0). Please doublecheck that this screen has not changed before working ticket. Latest screens are in the production ready tab.

## Scenario: Editing Account

[2018-08-10 15:11] Mcscott142 opened #58 "Developer - TestFlight/Fastlane - Stand Up Testflight + Fastlane"
## Background
We need to get TestFlight and Fastlane stood up so we can QA/UAT

- [ ] Set Up TestFlight
- [ ] Set up Fastlane

[2018-08-10 19:30] brittanygay commented on #41
Pulling this in to work on now, branching off of my branch for #39 since it's still in review.

[2018-08-10 19:54] Mcscott142 opened #60 "Attendee - Header - Fixed Header"
## Background
There needs to be a fixed header at the top of the app. See this [video](https://www.dropbox.com/s/t53np3mb1rknbq1/Explore-header.mov?dl=0) example.

## Scenario: User scrolls down on app
- [ ] When I begin scrolling down inside the app
- [ ] Then the header transitions into a fixed state similar to [this](https://www.dropbox.com/s/t53np3mb1rknbq1/Explore-header.mov?dl=0)

[2018-08-13 14:30] Mcscott142 commented on #39
Capturing Slack convo feedback from Zach.

<img width="831" alt="slack_-_revelers" src="https://user-images.githubusercontent.com/6877299/44038041-74aa33e4-9edb-11e8-908f-95151cf7bd99.png">

[2018-08-13 15:14] Mcscott142 commented on #39
Blocking until we get a testflight app up. (But I will check it locally also).

[2018-08-13 15:15] Mcscott142 opened #61 "Attendee - Explore Page Heading - Header resize with scroll"
## Background
The Top Nav should re-size on scroll. See https://www.dropbox.com/s/t53np3mb1rknbq1/Explore-header.mov?dl=0

## Scenario: A user scrolls through events on the Explore page
- [ ] When I scroll through events
- [ ] Then I notice the Header changes size as I move down

https://www.dropbox.com/s/t53np3mb1rknbq1/Explore-header.mov?dl=0

[2018-08-13 18:05] jwietelmann commented on #51
Pretty sure I did the typeface. Moving this to QA for @brittanygay to check on master.

[2018-08-13 18:15] brittanygay commented on #51
Typeface is loading properly and looks like all of the font weights are working! Moving to UAT

[2018-08-13 22:46] brittanygay commented on #39
@Mcscott142 I have updates coming in my next PR for #41 for the following:
1. tweaked typography and icons throughout the Explore page (font is now set up)
2. Updated the search bar to include icon
3. Navbars will be updated

The only thing we don't have set up yet to show the client is the splash screen, which will be covered in #54 later this week.

Once my PR is merged, this screen will be at a

[2018-08-13 22:53] brittanygay commented on #41
Assigned to @daybreaker to help look into two issues I had trouble with setting up in React Native. After that I plan on finishing up the styling and then this ticket will be ready for review.

PR with more information can be found here: https://github.com/revelrylabs/bn-mobile-react/pull/62

Once my PR is merged, I'll update this ticket once more.

[2018-08-14 20:05] brittanygay commented on #54
I now  have the video and `react-native-video` installed and set up already. Also assigning to @daybreaker to take a look because there are some rendering issues.

[2018-08-14 21:55] brittanygay commented on #40
Pulling this in to start working on

[2018-08-15 23:45] brittanygay commented on #40
In review now, screenshots can be found here: https://github.com/revelrylabs/bn-mobile-react/pull/63

**Note for team:**
- I just used a placeholder img for the Spotify widget since that will be embedded later on
- I also went ahead and added placeholder arrows since we don't have any slideshows set up yet (like the homepage)

[2018-08-16 14:36] Mcscott142 commented on #58
Any updates on this one?

[2018-08-16 15:35] brittanygay commented on #42
Gonna go ahead and pick this up to start working on once #54 is done.

[2018-08-16 17:19] brittanygay commented on #40
The stubbed out screen is now complete. Screenshots can be found here: https://github.com/revelrylabs/bn-mobile-react/pull/63

Note to @daybreaker:
There are two things that we still need to complete for this screen if you get time, both nav related :)
1. Need to make the close button functional (top left)
2. Replace bottom nav with Buy Ticket button (this screen only, if possible)

Putting this b

[2018-08-16 18:58] daybreaker commented on #58
There's a deploy script that pushes ios to Test Flight, and android to the alpha channel on Google Play.

Google Play is under my account right now, since they dont have "Teams" like the App Store does. We'll need to switch that to a Revelry or Big Neon account in the future.

Currently waiting for the `git push` to go through. It's taking a super long time for some reason.

[2018-08-16 19:31] brittanygay commented on #54
Jumping back on this to finish up

[2018-08-16 19:53] daybreaker commented on #40
Changing Event Show to a Modal with Get Tickets button stuck to the bottom of the screen.

[2018-08-17 13:31] Mcscott142 commented on #58
@daybreaker how do we get set up? Do I need an invite to something?

[2018-08-17 17:28] Mcscott142 commented on #40
Need next build deployed on testflight for this i beleive. Blocking until then

[2018-08-20 14:17] Mcscott142 opened #69 "Attendee - Account - Billing Page"
## Background
Users will need to connect credit cards or other forms of payment in order to purchase tickets or receive payment for them.

## Scenario: A user selects Billing Information from the Main Account page
- [ ] When I am directed to the Billing Information page
- [ ] Then I see
	- [ ] A section for Credit Cards
	- [ ] A Section for Connected Accounts e.g. Venmo
	- [ ] An option to add ano

[2018-08-20 14:21] Mcscott142 opened #70 "Attendee - Account - NotificationPreferences"
## Background
A user should have the ability to set their notification preferences.

## Scenario: A User selects Notification Preferences from the Main Account page
- [ ] When I am directed to Notification Preferences
- [ ] Then I see:
	- [ ] A list of notification types
	- [ ] Selectable Icon for email
	- [ ] Selectable Icon for Phone

## Mock
![ios_app_-_dev_version__1__sketch](https://user-imag

[2018-08-20 14:48] Mcscott142 opened #71 "Attendee - Account - Order History"
## Background
A section where users can see their ticket/order history.

## Scenario: A User selects Order History from the Main Account Page
- [ ] When I am directed to Order History
- [ ] Then I see
	- [ ] A list of order receipts with
		- [ ] Band Name
		- [ ] Venue
		- [ ] Number of Tickets
		- [ ] Total $ amt paid

## Mock
![ios_app_-_dev_version__1__sketch](https://user-images.githubusercont

[2018-08-20 14:50] Mcscott142 commented on #48
Updated w/ QR code addition

[2018-08-20 14:53] Mcscott142 opened #72 "Attendee - Account - QR Code"
## Background
For Ticket transfers, a user will need their personal QR code.

## Scenario: A User selects their QR code Icon on Main Account Page
- [ ] When I tap my QR code
- [ ] Then it appears on screen with a message

## Mock
![ios_app_-_dev_version__1__sketch](https://user-images.githubusercontent.com/6877299/44347955-d1e30f80-a45e-11e8-985f-d100af5ecba4.png)

[2018-08-20 14:57] Mcscott142 commented on #56
Updated AC, marked score.

[2018-08-20 16:12] #60 closed

[2018-08-20 18:17] brittanygay commented on #43
Pulling this in to work on today

[2018-08-21 13:33] Mcscott142 opened #73 "Developer - Research - Asset Loading/Improve Loading speeds"
## Background
The assets in the application are loading Very Very slowly. We need a way to speed up the application or at the very least seemingly speed it up. Possibly having the transition screens stay on until the assets are loaded

From Zachary Melamed via Slack

From Brad via Slack:

## Scenario: A developer researches pre-asset loading
- [ ] Research pre-loading of assets and improving appli

[2018-08-21 17:47] #8 closed

[2018-08-21 17:47] #22 closed

[2018-08-21 17:47] #11 closed

[2018-08-21 17:47] #9 closed

[2018-08-21 18:26] Mcscott142 commented on #73
https://medium.com/@adamjacobb/react-native-performance-images-adf5843e120

[2018-08-21 21:38] brittanygay commented on #48
Pulling this in to work on next

[2018-08-22 20:10] brittanygay commented on #57
Picking this up to work on once #48 is complete

[2018-08-23 17:26] brittanygay commented on #57
Marking this ticket blocked until #48 is complete. Pulling in another ticket from the backlog to work on in the meantime.

[2018-08-23 20:06] brittanygay commented on #43
@daybreaker completed all of the needed functionality. Pulling this back in to finish up

[2018-08-23 20:59] Mcscott142 opened #76 "Retro - Big Neon - 8/23/18"
## Background
Wanted to get a Retro in but don't want to take any more hours for Week 33. Scheduling for Monday 8-20.

If anyone has notes they want to go ahead and get down please drop them on this ticket.

## Retro Structure
- What went poorly?
- What went well?
- How can we improve: reduce/eliminate the poor; amplify the great?

[2018-08-23 21:28] Mcscott142 commented on #76
## Poorly
Brittany:
- took a while to get into the swing of react native

Brad
- major pain point getting app set up certificates etc
- trying to eject from expo took a day, fixed a piece one piece another broke. (Could have been a React Natvie thing, could have been a new laptop thing)

Colin
- Took too long to get the project in process. Should have had a Sprint Commitment first week even if it

[2018-08-24 15:13] brittanygay opened #77 "Carousel Alignment Bug on iPhone X"
The Slider Alignment on iPhone X is off, and using flexbox around the slider is doing some wonky things.

We need to look deeper in the docs here to resolve the issue: https://github.com/archriss/react-native-snap-carousel

Screenshot:
<img width="336" alt="screen shot 2018-08-24 at 10 19 36 am" src="https://user-images.githubusercontent.com/14582709/44592787-3c5dbd80-a787-11e8-83cc-a753fa326173.p

[2018-08-24 17:17] iamjoshfrank commented on #57
#48 is now in QA, so this ticket is no longer blocked, yeah?

[2018-08-27 14:40] #76 closed

[2018-08-27 14:42] brittanygay commented on #57
This is now unblocked. Pulling this in to start working now!

[2018-08-27 16:29] iamjoshfrank commented on #77
@brittanygay - renaming this to "carousel" since that's what the plugin is called (and that's what the thing actually is).

i kept getting confused when i heard "slider." i was expecting to see a draggable, sliding input not an image carousel. :wink:

[2018-08-28 23:05] daybreaker commented on #73
Looks like we might need to implement:

https://docs.expo.io/versions/latest/guides/preloading-and-caching-assets

and

https://docs.expo.io/versions/latest/sdk/splash-screen.html

Will make a new ticket.

[2018-08-29 00:36] zmelamed commented on #73
So is static asset bundling not possible with expo? re: https://medium.com/@adamjacobb/react-native-performance-images-adf5843e120

[2018-08-29 17:06] daybreaker opened #79 "Attendee - Home/Explore page - Initial app loads with all images/assets present"
## Background
Currently, asset loading is visible when the user opens the app. There should be a way to preload and cache assets so these images and icons are already visible when the app loads.

## Scenario: Loading the App
- [ ] When I open the App
- [ ] Then I see all icons and static images are already loaded when the splash screen closes

[2018-08-29 17:09] daybreaker commented on #73
It looks like Expo stores assets on S3/CloudFront

[code]

If we eject the app, we could use normal react-native asset bundling

[2018-08-29 17:13] daybreaker commented on #79
https://docs.expo.io/versions/latest/guides/preloading-and-caching-assets
https://docs.expo.io/versions/latest/sdk/splash-screen.html

[2018-08-29 19:57] daybreaker commented on #79
If this doesnt achieve our goals, we'll need a new ticket to Eject to non-Expo RN.

[2018-08-29 20:50] brittanygay commented on #77
The Carousel alignment bug is now fixed, more info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/80

Assigning to @daybreaker for QA.

**Note to @daybreaker:**
We still need to test on Android. I checked on iPhone X and other devices but since i don't have access to an Android today I wasn't able to check. I'll be in the office tomorrow so I should be able to help QA on

[2018-08-29 20:51] brittanygay commented on #57
Ticket is in review and assigned to @daybreaker to check out the few items I have listed in my PR: https://github.com/revelrylabs/bn-mobile-react/pull/78

Once those items are complete and assign back to myself and get a design review before merging.

[2018-08-29 20:58] brittanygay commented on #70
All sprint tickets that need my attention are almost complete. Keeping an eye on #57 to make sure it gets into Review, but all design updates are complete.

Pulling this in from the backlog to start working on since I have some time left, though this is not a sprint ticket for this week. CC @iamjoshfrank

[2018-08-30 02:10] daybreaker commented on #57
@brittanygay back to you - the onPress on the "< Settings" has a black background when you press it. Might need to change that? Or is that by design?

[2018-08-30 14:52] brittanygay commented on #57
Thanks @daybreaker! Just updated the underlay color so it's not black. Assigning to Blaze for a design review and getting this merged!

[2018-08-30 16:50] iamjoshfrank commented on #51
Typeface looks consistent on Android.

[2018-08-30 16:57] iamjoshfrank commented on #40
@brittanygay - a few questions:

1. There are two AC related to ticket prices (`- [ ] Ticket price` and `- [ ] The price of each ticket`). In the screenshot and in the app, I see "Tickets from $n". I assume this is duplicate criteria. Can you confirm?
2. At least on Android, there is some sort of weird artifact on the cover image at the top of the page (looks like maybe the bottom of the "play" ci

[2018-08-30 19:16] brittanygay commented on #57
PR is now merged. This will be ready for QA once TestFlight is updated CC @daybreaker

[2018-08-30 19:27] brittanygay commented on #40
@iamjoshfrank regarding your questions:

1. After double-checking the mocks, it looks like the price criteria in the AC is a duplicate, so we can remove one.

2. The image clipped is indeed the play icon. This isn't happening on any iOS devices from what I've tested, but this might take a minute to fix since I'll need help getting Android testing set up while I work this bug. I suggest we make a s

[2018-08-30 19:32] iamjoshfrank commented on #40
I'll split it out to a bug ticket.

[2018-08-30 20:37] zekewell commented on #41
This Passes.

Slightly confusing because the icons have different names than the AC, but works.

[2018-08-30 20:38] zekewell commented on #42
This passes for

- Upcoming Events
- Past events

Does not pass for transferred events, but based on the mocks it looks like that got left on on purpose.

[2018-08-30 20:41] zekewell commented on #40
This passes on iphone.

[2018-08-30 20:44] zekewell commented on #54
Checked this on iphone. It seems the splash screen is only loading upon initial launch of the application.

Did not see splash screen or loaders in other locations.

[2018-08-30 20:46] zekewell commented on #39
This passes on iphone.

[2018-08-30 20:47] zekewell commented on #51
Typeface looks consistent on iphone. passes

[2018-08-30 20:58] iamjoshfrank opened #82 "Event Page Cover Image Shows Partial Circle Artifact (Android)"
On Android, there is some sort of weird artifact on the cover image at the top of the page (looks like maybe the bottom of the "play" circle from an image clipped from YouTube, perhaps?). I'm not sure this warrants re-working, but wanted to call it out. See screenshot:

![screenshot_20180830-115633_big neon](https://user-images.githubusercontent.com/10236515/44866865-f81d6200-ac4b-11e8-9af2-bbd4c4

[2018-08-30 20:58] iamjoshfrank commented on #40
Closing. Opened #82 to address the circle artifact on Android.

[2018-08-30 20:58] #40 closed

[2018-08-30 22:28] daybreaker commented on #48
Lots of android issues:

![screenshot_1535662086](https://user-images.githubusercontent.com/12603/44882661-dd61e200-ac79-11e8-9cd9-a8968cb0ddb9.png)

![screenshot_1535662082](https://user-images.githubusercontent.com/12603/44882666-e357c300-ac79-11e8-91e5-824f8050e272.png)

[2018-08-30 22:31] daybreaker commented on #57
Passes on iphone, but on android:

![screenshot_1535662082](https://user-images.githubusercontent.com/12603/44882666-e357c300-ac79-11e8-91e5-824f8050e272.png)

[2018-08-30 22:34] daybreaker commented on #79
Working in ios, but not android simulator.

Need a physical device to test on tomorrow

[2018-08-31 14:49] iamjoshfrank commented on #48
Marking `blocked` for myself so that I can split out Android bug into separate issue.

[2018-08-31 14:50] iamjoshfrank commented on #57
Marking `blocked` for myself so that I can split out Android bug into separate issue.

[2018-08-31 14:50] iamjoshfrank commented on #58
Closing this out since I've seen new builds going out this week via TestFlight and Google Play.

[2018-08-31 14:50] #58 closed

[2018-08-31 15:27] zekewell commented on #48
Other than the fact that there is no actual cover or profile photo, this passes on iphone because the placeholders are visable and the links present.

[2018-08-31 15:33] zekewell commented on #57
Passes on iphone.

[2018-08-31 16:00] #51 closed

[2018-08-31 16:02] iamjoshfrank commented on #54
Same.

[2018-08-31 16:02] #54 closed

[2018-08-31 16:04] iamjoshfrank commented on #41
Agreed. Updated the AC to reflect the "Homepage" is actually the Explore tab for discovery.

Closing.

[2018-08-31 16:04] #41 closed

[2018-08-31 16:07] iamjoshfrank commented on #42
Agree with Max - the mocks don't include a Transfer tab, so I'm going to move Transfer to a new issue so that it can be clarified.

Passes otherwise.

[2018-08-31 16:07] #42 closed

[2018-08-31 16:09] iamjoshfrank opened #83 "Attendee - Ticket Wallet - Transfer Tickets"
## Background
In #42 , the original AC indicated a 3rd tab in the Wallet for "Transfer." However, the mockups did not account for the Transfer and thus it was not originally implemented.

Opened this ticket to clarify whether Transfer is needed at this time.

## Scenario: A user selects the Ticket Wallet icon on the nav
- [ ] When I am directed to the ticket wallet page
- [ ] Then I see a third ta

[2018-08-31 16:12] iamjoshfrank commented on #39
passes on android.

[2018-08-31 16:12] #39 closed

[2018-08-31 16:28] iamjoshfrank opened #84 "Cover Photo Overlaps Profile Avatar in Account (Android)"
_split from #48_

See Android screenshot:

![screenshot_1535662086](https://user-images.githubusercontent.com/12603/44882661-dd61e200-ac79-11e8-9cd9-a8968cb0ddb9.png)

[2018-08-31 16:28] iamjoshfrank commented on #48
Opened #84 for the Android bug. Closing.

[2018-08-31 16:28] #48 closed

[2018-08-31 16:30] iamjoshfrank opened #85 "Back Navigation and Title Overlap on Edit Account (Android)"
_split from #57_

See screenshot on Android:

![screenshot_1535662082](https://user-images.githubusercontent.com/12603/44882666-e357c300-ac79-11e8-91e5-824f8050e272.png)

[2018-08-31 16:30] iamjoshfrank commented on #57
Opened #85 for Android bug. Closing.

[2018-08-31 16:30] #57 closed

[2018-08-31 16:32] iamjoshfrank commented on #79
Removing this from the `Week 35` milestone b/c it wasn't in the original commitment (only the research ticket was committed to).

Still, if we can ship this ticket this week, all the better!

[2018-08-31 16:49] iamjoshfrank commented on #77
Android looks good. Trusting Brad's testing on iPhone in QA and closing this.

[2018-08-31 16:49] #77 closed

[2018-08-31 16:59] zekewell commented on #43
Passes on iphone.

[2018-08-31 17:04] iamjoshfrank commented on #43
Good on Android.

[2018-08-31 17:04] #43 closed

[2018-08-31 17:51] daybreaker commented on #79
Not working on Android. Found a potential solution: https://blog.expo.io/expo-publishing-and-asset-concepts-2d8c60968927

Sadly I dont think I can get to it until next week

[2018-09-04 16:02] Mcscott142 commented on #79
Pushing this back to 9/10

[2018-09-04 16:58] brittanygay commented on #70
Continuing to work on this ticket since this is now part of the current sprint.

[2018-09-04 17:02] colinincentivize opened #86 "Clean up stylesheets"
@brittanygay needs to clean up the existing stylesheets a bit, in terms of consolidating some code and pulling in other styles from stylesheets as needed.

List of stylesheets that need some consolidating:

Event Details:
- [x] eventDetailsStyles.js
- [x] imageGridStyles.js

Shared:
- [x] eventStyles.js
- [x] formStyles.js
- [x] slideshowStyles.js

Tickets:
- [x] ticketShowStyles.js
- [x] ticketSt

[2018-09-04 22:05] brittanygay commented on #70
I just pushed up my branch with the stubbed out screen: https://github.com/revelrylabs/bn-mobile-react/pull/87

Assigning to @daybreaker to check out the one item i listed in my PR that I need his help setting up. Once that's complete, I'll assign my PR for a design review and move this ticket into the Review col.

[2018-09-04 23:01] brittanygay commented on #61
Pulling this in to start on

[2018-09-05 13:33] Mcscott142 commented on #86
lgtm, marking score

[2018-09-05 15:12] brittanygay commented on #61
@daybreaker I did some research and came across two tutorials that seem pretty straightforward:

https://medium.com/appandflow/react-native-collapsible-navbar-e51a049b560a

https://medium.com/appandflow/react-native-scrollview-animated-header-10a18cb9469e

I wanted to check with you to see if one of these might be the approach we should take? Let me know and we can move forward from there. Thanks!

[2018-09-05 15:37] brittanygay commented on #69
Pulling this in to start on until the other tickets are ready for me to work again.

[2018-09-05 20:29] brittanygay commented on #69
Once updates are deployed this will be ready for QA

[2018-09-05 21:51] brittanygay commented on #71
I'm currently blocked on #70 and #61, so I'm pulling this in to work on until those tickets are passed back my way!

**Note**:
This ticket is not in our current sprint but I'm getting a head start on it CC @Mcscott142

[2018-09-06 20:33] daybreaker commented on #61
I think the 2nd one with the animated header might be better. The first looks like it just hides the header which we dont want.

[2018-09-06 21:51] brittanygay commented on #61
Thanks @daybreaker!

I just pushed up some initial styles for the nav with the basic setup. Passing over to @daybreaker to now take a look at the animation setup.

[2018-09-07 15:19] brittanygay commented on #61
Going to continue looking into this to see if I can get some more set up before @daybreaker takes a look

[2018-09-07 17:11] brittanygay commented on #70
@daybreaker I just pulled down the branch and fixed all conflicts/checked everything out. It looks great!

Assigning to @blazebarsamian now for a design review.

[2018-09-07 18:43] brittanygay commented on #70
PR has been approved and merged. This will now be ready for QA once updates are deployed.

[2018-09-07 19:53] brittanygay commented on #61
**Update**:
I passed to @daybreaker and he was able to clean everything up and fix all of the errors.

I pulled the branch back down afterwards and I was able to get the nav positioning and timing set up properly, but the animation transitions aren't working yet. I've been doing some research (see links below), and trying to set those up properly, but haven't quite gotten it yet.

I'll pick this b

[2018-09-10 16:26] brittanygay commented on #86
pulling this in to start on

[2018-09-10 18:52] Mcscott142 commented on #70
lgtm, closing.

[2018-09-10 18:52] #70 closed

[2018-09-10 18:52] #69 closed

[2018-09-10 18:53] #71 closed

[2018-09-10 20:49] brittanygay commented on #86
Stylesheets have been updated, and PR has been reviewed/merged.

@Mcscott142 there's nothing to really QA for this ticket, but I'm going assign to you incase you want to check anything. Thanks!

[2018-09-10 20:55] #86 closed

[2018-09-11 14:15] Mcscott142 opened #92 "Location Alignment is off on Discover Page"
## Background
The alignment on the City with the logo and dropdown arrow is a little off. These elements should line up.

## Scenario: User sees their location on Discover Page
- [ ] When I look at my location (city)
- [ ] Then I see that the Big Neon Logo, city and arrow drop down are all aligned

![slack_-_revelry](https://user-images.githubusercontent.com/6877299/45365871-16b41f00-b5a3-11e8-9b0

[2018-09-11 14:20] Mcscott142 opened #93 "Remove Scroll Arrows on Discover Page"
## Background
When we implement actual Data, users will be able to side scroll top-level events on the Discover page. For now the arrows on the Main Event are just causing confusion so let's remove them

## Scenario: A user visits the Discover Page
- [ ] When I look at the `Hot This Week` event
- [ ] Then I do NOT see Scroll arrows on the image

![slack_-_revelry](https://user-images.githubusercon

[2018-09-11 15:27] brittanygay commented on #93
Pulling this in to start on

[2018-09-11 17:07] brittanygay commented on #93
My PR has been reviewed and merged. Once updates are deployed this will be ready for QA.

[2018-09-11 17:07] brittanygay commented on #92
Pulling this in to work on next.

[2018-09-11 18:55] brittanygay commented on #72
Picking this up to work on now that @daybreaker has set up the screen

[2018-09-12 16:16] Mcscott142 commented on #92
Will QA when we push new build.

[2018-09-12 17:29] brittanygay commented on #72
PR has been reviewed and merged. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/96

Once everything is deployed this will be ready for QA.

[2018-09-12 20:11] brittanygay commented on #61
@daybreaker I was able to fix the header scroll by changing the `HEADER_MIN_HEIGHT` to `-25`. I also fixed some of the animation timeframes so the header has a dropdown transition.

The only thing I wasn't able to set up was the animation text opacity and how the main header stays outside of the scrollview.

Pushing up the branch now, let me know if you want to do any last edits before getting thi

[2018-09-12 20:55] brittanygay commented on #61
PR has been reviewed and merged. More info and a gif can be found here: https://github.com/revelrylabs/bn-mobile-react/pull/90

@daybreaker and I spoke in the Slack channel and agreed to get this merged but to possibly create an enhancement ticket for the last few things we need to clean up cc @Mcscott142

Once updates are deployed this will be ready for QA!

[2018-09-13 20:14] #92 closed

[2018-09-13 20:15] #93 closed

[2018-09-13 20:15] #72 closed

[2018-09-13 20:15] #61 closed

[2018-09-14 19:16] Mcscott142 opened #97 "Attendee - Explore Page - Connect Location to API"
## Background
Users will find events based on Locations. We will start with specific cities listed and only allow users to select from those cities where Big Neon has Venues signed.

## Scenario: A user changes their Location
Given I am logged in
- [ ] When I land on Explore
- [ ] Then I see All Events
- [ ] And `All Locations` selected in the Location dropdown
- [ ] When I select the dropdown
- [

[2018-09-14 19:39] Mcscott142 opened #98 "Developer - BN API - Connect Mobile App to API"
## Background
We need to start wiring up the existing screens to some real-ish Data using the BigNeon [API](https://github.com/big-neon/bn-api). We'll start with the Discover page.

## Scenario: A developer connects the BN API to React Native Mobile App
- [ ] When I login to Big Neon
- [ ] Then I see Data/Events that pull from the API

[2018-09-17 14:27] Mcscott142 opened #99 "Attendee - Event Page - Event Page Scroll"
## Background
See video [here](https://vimeo.com/291552558) for design tweaks. Looks like the content of the page should have the appearance of covering the artist photo and that sections should have more rounded edges.

## Scenario: Update Artists page designs
- [ ] Scroll functionality should have content appear to move over the artist's photo
- [ ] Round out the edges of the content section
- [

[2018-09-17 14:28] Mcscott142 opened #100 "Attendee - Event Page - Favorite Event"
## Background
A user should be able to Favorite and event. See [video](https://vimeo.com/290056954) at 15 second mark.

## Scenario: A user favorites an event from the Event page
- [ ] Then I select the favorite(star) button
- [ ] Then the star is highlighted in color

[2018-09-17 14:29] Mcscott142 opened #101 "Attendee - Discover Page - Favorite Event"
## Background
A user should be able to Favorite and event. See [video](https://vimeo.com/290056954) at 15 second mark.

## Scenario: A user favorites an event from the Discover page
- [ ] When I select the favorite(star) button
- [ ] Then the star is highlighted in color

[2018-09-17 14:29] Mcscott142 opened #102 "Attendee - Event Page - Get Tickets"
## Background
A user should be able to select a ticket type they want to purchase from the Event page. See [video](https://vimeo.com/290056954).

## Scenario: A user selects get tickets on the Even page
- [ ] When I select get tickets
- [ ] Then I can select a ticket type
- [ ] And then I am directed to Checkout

[2018-09-17 14:30] Mcscott142 opened #103 "Attendee - Checkout - Purchase Tickets"
## Background
The checkout page will allow users to select the Qty of tickets they want plus their payment type. See video [here](https://vimeo.com/290056954) for reference.

## Scenario: A user purchases tickets
- [ ] When select +/- on Qty
- [ ] Then my ticket qty goes up/down
- [ ] Then I see the following sections under the ticket quantity:
  - [ ] Artist name, date and location
  - [ ] Paymen

[2018-09-17 14:31] Mcscott142 opened #104 "Attendee - Checkout - Change Payment Type"
## Background
A user should be able to change their payment type from Checkout. See video [here](https://vimeo.com/290056954) for reference.

## Scenario: A user selects a payment option
- [ ] When I click my payment option
- [ ] Then I am directed to a change payment screen
- [ ] When I change my payment
- [ ] Then I am directed back to the checkout

[2018-09-18 17:13] Mcscott142 opened #105 "Get Colin Access to push builds"
- [x] He needs Apple developer team invite
- [ ] Add'tl things as they come up

[2018-09-18 17:29] colinincentivize opened #106 "Loading Screen Draft"

[2018-09-18 17:42] #106 closed

[2018-09-18 17:45] Mcscott142 opened #107 "Attendee - Checkout - Purchase Ticket Loading Screen"
## Background
This ticket is for the animation after purchasing a ticket on the checkout screen. Look at 0:32 in this [video](https://vimeo.com/290403271).

## Scenario: A user selects Purchase Ticket
- [ ] When I select `Purchase Ticket`
- [ ] Then I see the loading animation
- [ ] And I'm redirected back to the Discover page

[2018-09-18 17:49] Mcscott142 opened #108 "Attendee - Checkout/My Tickets - My ticket Animation upon ticket purchase"
## Background
After a user purchases a ticket they are directed back to their `My Tickets` page. They should see their new purchase loaded here. See animation in 0:45 mark of [video](https://vimeo.com/291552558)

## Scenario: A user purchases a new ticket
- [ ] When I select purchase tickets
- [ ] Then I am directed to `My Tickets`
- [ ] And I see the animation with my new ticket

[2018-09-18 18:19] brittanygay commented on #46
@daybreaker I may need you to set up a new screen before I can start working this

[2018-09-18 20:30] brittanygay commented on #100
Pulling this in to work on the active state styling

[2018-09-18 23:00] brittanygay commented on #100
Styles as pushed up on my branch and approved.

@daybreaker this is now ready for you to add functionality. More info in my PR here: https://github.com/revelrylabs/bn-mobile-react/pull/109  and the branch is called `100-favorite-active-state`

Let me know if you need anything else from me!

[2018-09-19 16:14] brittanygay commented on #101
The styles for the smaller favorite icon has been reviewed and merged. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/110

This is now ready for a dev to pick up once we add this to a sprint commitment.

[2018-09-19 16:51] brittanygay commented on #99
Here are some links that may help with the scrolling animation setup:

https://facebook.github.io/react-native/docs/animations.html

https://codeburst.io/butter-smooth-animations-in-react-native-93a3b86adf1

https://github.com/oblador/react-native-animatable

I'll continue to post more resources as I come across them.

[2018-09-19 18:04] daybreaker commented on #46
@brittanygay Using https://github.com/sohobloo/react-native-modal-dropdown which should have notes on how to style (hopefully?)

[2018-09-19 18:17] brittanygay commented on #46
Thanks @daybreaker! Picking this up to start working

[2018-09-19 19:08] Mcscott142 opened #111 "Attendee - Event Page - Event Page Additions"
## Background
There are some additions to the Event Show page that we need to include. The scrolling and rounded edge of content will be taken care of with #99. This ticket is for the additional sections.

## Scenario: A user navigates to an events page
- [ ] When I land on an Event page
- [x] Then I see the following above the Event Description
	- [x] The Event Time and Location (Link) (with icon

[2018-09-19 21:52] daybreaker commented on #102
Didnt get to this one, but I think we could use https://github.com/octopitus/rn-sliding-up-panel

[2018-09-20 14:18] Mcscott142 commented on #105
I think I have all the access that I need. Just have to troubelshoot the set up. Having issues with certificates when building via Expo. Relevant Links:
- https://blog.expo.io/automating-standalone-expo-app-builds-and-deployments-with-fastlane-exp-and-exptool-9b2f5ad0a2cd
- https://forums.expo.io/t/exp-fetch-ios-certs-exp-build-ios/7322
- I have final script to use and necessary ENV vars but not p

[2018-09-20 14:40] Mcscott142 commented on #102
Switching out for #111 since Brad is on vacation and didn't get to this one. 111 can be worked solely by design.

[2018-09-20 14:41] Mcscott142 commented on #111
Moving into Week 38 commitment to replace #102

[2018-09-20 15:31] brittanygay commented on #46
In order for me to be able to finish this ticket, I need some dev help on the following, CC @Mcscott142:

1. We need to write a function for `renderSeparator` to tell it to not use the default gray borders (I've tried a few things and couldn't get anything to work)

After double-checking this morning, everything else has been styled accordingly :) Hopefully we can knock out this last issue so we c

[2018-09-20 15:32] brittanygay commented on #100
Pulling this in to finish up the last styling edit

[2018-09-20 15:37] brittanygay commented on #46
@Mcscott142 I pushed up my latest updates to `46-choose-location` if you want to hop on that branch and check it out.

[2018-09-20 15:41] brittanygay commented on #46
@Mcscott142 I did forget one more thing:

We do need to find a way to add in the description text "Where are you looking for events?" above the locations. I wasn't able to find the proper way to set this up, because if we stick it in the `locRowOption` function, it duplicates for each location row (see screenshot). Let me know if you want to pair on this/if this doesn't make sense!

<img width="27

[2018-09-20 15:57] daybreaker commented on #46
@brittanygay would you be able to set the default styling for it to be invisible, and then just use a selector on the :first row object to then set that object to visible?

[2018-09-20 16:42] brittanygay commented on #46
@daybreaker yeah let me see if I can hide it using styles. I saw that it was a function that we could easily implement so I wasn't sure what would be better!

[2018-09-20 16:44] brittanygay commented on #46
@daybreaker let me see if I can do something of that sort, I don't think it will work though because we can't use selector classes in React Native stylesheets unfortunately :(

[2018-09-20 16:55] daybreaker commented on #46
Ahhh didnt know you couldnt use selectors.

the `locRowOption` takes a `rowID`... I wonder if its an index where it just starts at 0 and increments for each row, so we could display it in the first row by doing `if rowID === 0`

[2018-09-20 17:18] brittanygay commented on #111
Starting this next

[2018-09-20 22:10] brittanygay commented on #111
**Update**:
I've gotten through the majority of the edits needed. Going to take tomorrow to finish everything up.

[2018-09-21 14:11] Mcscott142 commented on #46
@brittanygay I added the part from https://github.com/revelrylabs/bn-mobile-react/issues/46#issuecomment-423231487 and pushed it up, the text needs styling. We may need to pair up on the  `renderSeparator` thing, I'm not sure what you need there.

[2018-09-21 14:16] thomasknoll commented on #105
@jwietelmann ^^

[2018-09-21 14:20] Mcscott142 commented on #46
Nevermind, I got it. Think this is g2g @brittanygay. Changes pushed assigning to you.

[2018-09-21 14:22] jwietelmann commented on #105
errrrr @nick? I am bad at this.

[2018-09-21 14:50] brittanygay commented on #100
Once updates are deployed this will be ready for QA @Mcscott142

[2018-09-21 15:41] brittanygay commented on #46
@daybreaker and @Mcscott142 were able to finish up the functionality and small issues that I couldn't resolve. I just pulled down the branch and cleaned a few last things up.

PR has just been approved and merged. This will be ready for QA once updates are deployed.

[2018-09-21 19:36] brittanygay commented on #111
My branch is in review right now. Once my PR is merged this will be ready for QA.

**IMPORTANT NOTE**
1. The scrolling and rounded edge of content will be taken care of with #99. We need to update that AC to include additional changes to the header that are shown in the new mock.
2. We also need to make a separate ticket to update the styling of the "Get Tickets" button section at the bottom

CC @

[2018-09-21 19:59] brittanygay commented on #111
My PR has been approved and merged. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/113

Once updates are deployed this will be ready for QA @Mcscott142. Please note my comment above to keep in mind while viewing :)

[2018-09-21 21:03] colinincentivize opened #114 "Attendee - Events Page - Update Styling for Get Tickets section"

[2018-09-21 21:04] #114 closed

[2018-09-21 21:06] Mcscott142 opened #115 "Attendee - Events Page - Update Styling for Get Tickets section"
## Background
We need to update the Styling on the Get Tickets section on the event page.

## Scenario: A user visits the event page
- [ ] When I visit an event page
- [ ] Then I see that the `Get Tickets`button has been updated with new styles.

Mock:
![event details](https://user-images.githubusercontent.com/6877299/45775274-e3ae0300-bc14-11e8-9acf-0834b97b5e9b.png)

[2018-09-21 21:08] Mcscott142 opened #116 "colin test github user"

[2018-09-21 21:09] Mcscott142 commented on #116
It worked!

[2018-09-21 21:09] #116 closed

[2018-09-24 14:26] Mcscott142 commented on #105
Will get this worked out this week with Brad back.

[2018-09-24 16:57] brittanygay commented on #115
Pulling this in to work on today

[2018-09-24 19:58] brittanygay commented on #115
Style updates are now complete. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/117

Once updates are deployed this will be ready for QA.

[2018-09-24 20:05] brittanygay commented on #104
@daybreaker I think I'm going to need you to set up a new screen before I can pick this up :)

[2018-09-25 15:06] brittanygay commented on #102
Pulling this in to work on next

[2018-09-25 20:32] brittanygay commented on #102
Styles are now complete for this screen. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/118

Putting this back into the backlog so @daybreaker and I can work on getting the scrolling section animation set up for this screen.

[2018-09-25 20:33] brittanygay commented on #104
Pulling this in next to work on stubbing the screen out

[2018-09-26 12:06] Mcscott142 opened #119 "location alignment on Discover Page"
## Background
Having Location changes has thrown the location/logo/drop icon alignment off again.

![image from ios 2](https://user-images.githubusercontent.com/6877299/46079165-f7e58900-c15b-11e8-8983-c94ef1cd3b48.jpg)

[2018-09-26 18:37] brittanygay commented on #104
I finished up styling updates for #99 earlier today, now moving back onto this ticket to finish stubbing out styles

[2018-09-26 18:39] brittanygay commented on #99
I finished some styling updates for the rounded corners, etc. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/120

Passing back over to @daybreaker to continue working on

[2018-09-26 20:16] brittanygay commented on #99
Updated the AC, along with the Vimeo link. I've also added the newest Sketch file to the Drive here: https://drive.google.com/open?id=1BFFTWs_0Nxuh4QxS-JIe5q-KsEvCUdAK

[2018-09-27 14:52] brittanygay commented on #104
**Update**:
I'm more than halfway done with the styling of this screen. Planning on finishing this up this morning.

[2018-09-27 17:01] brittanygay commented on #104
Styles are in place with the exception of the CheckBox component. Passing this ticket over to @daybreaker to take a look. More info here: https://github.com/revelrylabs/bn-mobile-react/pull/121

@daybreaker let me know if you'd like to pair on this! The branch name is `104-change-payment-type`

[2018-09-27 17:19] brittanygay commented on #99
Pulling this back in to check out after discussing with @daybreaker about some issues that arose.

[2018-09-27 17:55] daybreaker commented on #102
@brittanygay my `event-nav` branch also has Get Tickets in it. It also needs a design thing to fill in the extra space at the bottom.

[2018-09-27 20:54] brittanygay commented on #102
@daybreaker I branched off of `event-nav` so the extra space bug should be fixed (I'm looking at it now and it looks right to me). Let me know if I misunderstood this!

[2018-09-27 20:56] brittanygay commented on #99
I tried a few things and unfortunately was unsuccessful at fixing the bug we found. We will need to break this issue out into a new bug ticket. CC @daybreaker @Mcscott142

[2018-09-27 21:38] brittanygay commented on #102
Ohh gotcha @daybreaker! No I didn't see these updates yet, I'll pull it down and make those changes!

[2018-09-27 22:28] brittanygay commented on #102
@daybreaker I just pushed up edits for the style bugs that we discussed. The gray area below the content is now adjusted, and I made a few other small tweaks, such as removing un-needed styles so the text aligns properly.

Passing this back up to you since it's on the `event-nav` branch. Once the other screens are complete we will be able to get this into review and get everything merged!

New scr

[2018-09-28 18:47] brittanygay commented on #104
PR has been approved and merged. This is now ready for QA once updates are deployed.

[2018-09-28 22:03] Mcscott142 opened #123 "Cannot get out of Checkout Screen"
## Background
We need a way to exit or go back from the Checkout screen.

[2018-09-28 22:05] Mcscott142 opened #124 "Cannot Favorite on Event Page"
## Background
After implementing the new Scroll functionality I'm unable to favorite an event

[2018-09-28 22:05] #101 closed

[2018-09-28 22:05] #111 closed

[2018-09-28 22:05] #46 closed

[2018-09-28 22:05] #100 closed

[2018-09-28 22:05] #115 closed

[2018-09-28 22:05] #99 closed

[2018-09-28 22:05] #102 closed

[2018-09-28 22:05] #104 closed

[2018-09-28 22:06] Mcscott142 commented on #104
Closed but opened a bug round this.

[2018-09-28 22:06] Mcscott142 commented on #99
Closed but opened but #124 around this

[2018-10-01 15:48] Mcscott142 opened #125 "Attendee/Event Manager - Login - User logs into the App"
## Background

## Scenario: A user opens the app and logs in

[2018-10-01 15:54] Mcscott142 opened #126 "Event Manager - Event/List Mgmt - Edit List"
## Background

## Scenario: An Event Manager creates an event

[2018-10-01 15:54] Mcscott142 opened #127 "Doorperson - Event/List Mgmt - View List"
_depends on #137_
## Background
An Event Manager needs a way to view event lists made up of people attending an event that are seperate from normal purchased ticket users. We will eventually need a way to check users off an event but this ticket will cover viewing users that comprise a list.

## Scenario: An event manager selects an Event List
- [ ] When I choose an event list from the index of li

[2018-10-01 15:55] Mcscott142 opened #128 "Doorperson - Event - View Event"
## Background
When an Event Manager opens their event, they will be able to see statistics and information related to that event and it's ticket sales. This ticket does not cover the visual graphs.

## Scenario: Event Manager Selects an Event from their Management list
- [ ] When I select an Event from the list of events I'm managing
- [ ] Then I see
	- [ ] Total Tickets sold or accounted for / To

[2018-10-01 15:56] Mcscott142 opened #129 "Event Manager - Event - Create List for Event"
## Background

## Scenario: An event manager creates a guest list

[2018-10-01 16:26] Mcscott142 opened #130 "Developer/Designer - App Performance - re-export all of the image assets in smaller file sizes"
## Background
For demo purposes, we should replace the larger images from the sketch file with smaller sized images. We should be able to provide smaller files without losing too much clarity on the images.

## Scenario: A Developer/Designer replaces the current images in the App
- [ ] Sweep the assets to Identify photos with larger file sizes
- [ ] Optimize images
- [ ] Replace them in the App

[2018-10-01 17:17] Mcscott142 opened #131 "Event Manager - Event - View List for Event"
## Background

## Scenario:

[2018-10-01 17:39] Mcscott142 opened #132 "Move Revelry App set up instructions into Main ReadMe"
## Background
This repo is open source. In order for contributors to work on the repo, we'll need some good instructions for getting the application set up locally. This is already done in the Revelry ReadMe but we should move that section into the main ReadMe.

## Scenario: OS contributor visits Big Neon Mobile repo
- [ ] When I view the ReadMe
- [ ] Then I understand how to get the application r

[2018-10-01 17:42] brittanygay commented on #119
Pulling this in first to knock out

[2018-10-01 20:51] brittanygay commented on #119
PR has been reviewed and merged. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/133

Once updates are deployed this will be ready for QA.

[2018-10-01 21:04] brittanygay commented on #108
@daybreaker I think I'll need your help directing the `Purchase Tickets` button (which hasn't been stubbed out yet) to direct to the `My Tickets` screen (which already exists).

I can take a stab at it and see if I can hook it up, because I normally can set them up properly with normal React buttons, but not sure about React Native.

[2018-10-01 21:10] brittanygay commented on #103
Mcscott142 I'veI updated the AC to include the other sections on the screen that need to be stubbed out.

[2018-10-01 21:11] brittanygay commented on #103
Pulling this in to work on next

[2018-10-01 22:11] daybreaker commented on #123
Whatever solves #124 will solve this too. There's a "Back arrow" at the top left that will let you go backwards from each of the checkout steps to the previous screen

[2018-10-01 22:19] daybreaker commented on #124
Passed a very basic idea to Brittany. Basically, the header image will be static, the scroll view layer will be on top of that, so it can always scroll over the image, and then the "Back" button and "Favorite" buttons will be on a layer on top of the scroll view.

We'll need to do some work around to figure out the best way to handle hiding or displaying the buttons as the page scrolls, since they

[2018-10-01 22:36] brittanygay commented on #103
Putting this down to check out #124 first

[2018-10-01 22:41] brittanygay commented on #124
After checking out the changes, I think this looks like a good solution @daybreaker!

1. We do need to figure out the best way to hide the buttons as the page scrolls, since they are now above the ScrollView content. I can read up more on the z-index bug and see if I can find a workaround because that could be an easy solution to the problem.

2. I can also try adding each icon in it's own `View`,

[2018-10-02 19:35] brittanygay commented on #124
@daybreaker I pushed up my edits to your branch, and I was able to complete #2 and #3 listed above.

I tried tons of different things, including adding `zIndexes` to try to resolve #1, but I don't think this certain instance is possible at this point? No matter what I try, the buttons will always be covered by the top margin or height that we set on the scrolling section. I've also tried adding ba

[2018-10-02 20:44] Mcscott142 opened #134 "Attendee/Event Manager - Account - User creates an Account"
## Background
Now that we are ready to connect the Mobile App to live data, we need to actually log in to the application. For MVP the user will have 2 roles, one for a regular user attending events, buying tickets etc, and second for an Event Manager who will be able to see event details, stats, and lists.

This covers account creation. We'll handle photo uploads, CC info etc from the user's acco

[2018-10-02 20:48] Mcscott142 opened #135 "Event Manager - Account - Access to Event Management Screens"
## Background
For Event Managers, they'll need a way to access the Event specific events. First thought is just to have a path through the Account page instead of having an icon on the bottom bar.

[2018-10-02 21:04] Mcscott142 opened #136 "Door Man - Events - View list of events"
_depends on #135_
## Background
An Event Manager will have the ability to view a list of all events they have to manage. This can be accessed from the account page.

## Scenario: An event Manager selects Manage Events from their Account Screen
- [ ] When I select `Manage Events`
- [ ] Then I am directed to a list of events that I'm managing
- [ ] And I see the Name/Location/Date of Event

Mock:
![

[2018-10-02 21:07] Mcscott142 opened #137 "Doorperson - Event Guest List - View all Guest lists for an Event"
_depends on #128_

## Background
There can be multiple guest lists added for an event. This could be for an allotment of tickets set aside for an artist or if sales are lower than expected, a manager can create a list for employees or friends.

## Scenario: An Event Manager selects lists from their Event Stats page
- [ ] When I select `Lists` from the Event Stats page
- [ ] Then I see all of the l

[2018-10-03 04:37] daybreaker commented on #108
Have a branch called `link-to-tickets` that will link to the MyTickets page when we click on Purchase Tickets. I couldnt get any fancy state stuff set up to say "We have a new ticket" vs "We're just doing a normal visit to this tab", so I guess just make the first ticket animate, and I'll figure out the rest later.

@Mcscott142  I'm going to need to get some kind of state management going soon, li

[2018-10-03 17:20] brittanygay commented on #124
PR has been approved and merged. Once deploys are made this will be ready for QA.

[2018-10-03 18:31] brittanygay commented on #108
Pulling this in to work on the animation. @daybreaker I'll let you know if I need any help!

[2018-10-03 18:55] brittanygay commented on #108
@Mcscott142 I just updated the AC with the newest Vimeo video

[2018-10-04 12:54] Mcscott142 opened #140 "Attendee - Checkout / API - Ticket Type Selection"
## Background
This issue is for connecting the Ticket types through the API and selecting them in the App.

## Scenario: A user selects a ticket type to purchase
- [ ] When I select `Get Tickets`
- [ ] Then I am able to select a Ticket Type pulled from the API
- [ ] And I can continue to the next step of the checkout process

[2018-10-04 16:35] brittanygay commented on #103
PR has been reviewed and merged. This will now be ready for QA once updates are deployed.

[2018-10-04 17:19] brittanygay commented on #108
PR has been reviewed and merged. Once updates are deployed this will be ready for QA

[2018-10-04 17:29] Mcscott142 commented on #130
https://pngquant.org/

[2018-10-04 20:46] brittanygay commented on #107
Since all sprint tickets are now complete, I'm going to go ahead and pull this in to get a head-start

[2018-10-05 15:32] brittanygay commented on #107
@Mcscott142 I updated the Vimeo link in the AC

[2018-10-05 19:51] brittanygay commented on #107
**Update**:
Today I was able to successfully set up the Modal for the loading screen and the ActivityIndicator (I used https://facebook.github.io/react-native/docs/activityindicator.html). I was also able to start styling the loading screen.

Right now I have a "test modal" button set up on my branch so I could style everything accordingly. Once I'm done, I'll pass over to @daybreaker to set up fu

[2018-10-05 20:02] #108 closed

[2018-10-05 20:02] #123 closed

[2018-10-05 20:02] #119 closed

[2018-10-05 20:03] #124 closed

[2018-10-05 20:03] #103 closed

[2018-10-05 20:03] #130 closed

[2018-10-08 12:59] Mcscott142 commented on #131
dupe

[2018-10-08 12:59] #131 closed

[2018-10-08 13:16] Mcscott142 commented on #56
This one is done.

[2018-10-08 13:16] #56 closed

[2018-10-08 13:34] Mcscott142 commented on #137
AC updated, marked SCORE

[2018-10-08 13:34] Mcscott142 commented on #128
AC updated, marked SCORE

[2018-10-08 14:11] Mcscott142 opened #143 "Colin <> Zach, come up with official plan for updated mocks"
## Background
I'm a little Hazy on how often mocks are getting updated and tickets are sometimes not getting updated which is causing a little friction at time.

Need to figure out a tried and true plan to make sure things aren't getting missed.

This is just a reminder for me to get this sorted out sooner rather than later.

[2018-10-08 14:13] Mcscott142 opened #144 "Catch All Design Tweaks ticket"
## Background
@mscscott142 to break this out more

From Zach Via Slack:

- not all caps abbreviation

- icon not correct color or image
- alignment of icon and text incorrect
- should have rounded corners

- Revisit font sizing
- Left align to the outside edge of the event image

<img width="1164" alt="ios_app__zach_-_dev_prep__sketch" src="https://user-images.githubusercontent.com/6877299/4661406

[2018-10-08 14:16] Mcscott142 opened #145 "Location Select - Firs Line should not be selectable"
The `Where are you looking for events` should not be selectable.

![img_6144](https://user-images.githubusercontent.com/6877299/46614226-e47eda00-cada-11e8-9a21-8fd3a281ab71.PNG)

[2018-10-08 15:28] Mcscott142 opened #146 "Event Manager - Event List Mgmt - Search list for user"

[2018-10-08 15:29] Mcscott142 opened #147 "Event Manager - List Mgmt - Search for List"

[2018-10-08 15:29] Mcscott142 opened #148 "Event Manager - Events Statistics - Graphs for Stats page"

[2018-10-08 16:39] Mcscott142 commented on #125
@zmelamed These login screens aren't in the production-ready portion of the sketch but are they close enough for us to get start on? We're planning on using logins to dive into the API this week.

[2018-10-08 18:02] Mcscott142 commented on #125
answered via slack. Moving ahead with these screens. Opening another issue for FB login, not worrying about Mobile login for the time being.

[2018-10-08 18:03] Mcscott142 opened #150 "User - Account - Login via Facebook"
requires https://github.com/big-neon/bn-api-node/issues/322

## Background
We'll want to make it easy for users to access/login to the application. One way to do this is allowing them to login via Facebook.

## Scenario:  A user opens the Big Neon App
- [ ] When  I select login with Facebook
- [ ] Then I am signed into the application using my Facebook login

[2018-10-08 18:23] brittanygay commented on #107
After doing some research, unfortunately I don't think there's a way to change the style of the Activity Indicator (see screenshot comparison):

Screenshot of video spinner:
<img width="259" alt="screen shot 2018-10-08 at 1 03 23 pm" src="https://user-images.githubusercontent.com/14582709/46625706-9da0dc80-cafa-11e8-95cd-055bcf949acc.png">

Screenshot of current spinner:
<img width="119" alt="scre

[2018-10-08 19:04] brittanygay commented on #134
@Mcscott142 @zmelamed here are the Sketch files for the Sign Up screen. I'm going to roll with these to start stubbing out unless you say otherwise. Thanks!

![signup-1](https://user-images.githubusercontent.com/14582709/46628410-17d55f00-cb03-11e8-8be0-9a78d40c8f30.jpg)
![signup-2](https://user-images.githubusercontent.com/14582709/46628411-17d55f00-cb03-11e8-8c2d-f39082e5db2b.jpg)

[2018-10-08 19:19] zmelamed commented on #134
Yes, move forward with those thanks. One thing to note. To simplify things
during this initial implementation I'd like to remove the "Skip for now"
option. Eventually it's likely we won't require login to the mobile app and
will add this option back. For now, to avoid having to build out all of the
views (like the ticket wallet, account, etc.) with conditions for both
logged in and logged out user

[2018-10-10 14:52] brittanygay commented on #134
**Update**:
A little more than halfway finished styling these screens. I was able to find the right component to style the gradient button, too. Finishing this up today.

[2018-10-10 17:21] Mcscott142 opened #151 "Designer - Application Layout - Status Bar"
## Background
We need to make the Status bar Black whenever there is a white background and vice versa. It should always be visible when navigating between pages in the application.

## Scenario:
- [ ] When I navigate through the Big Neon Application
- [ ] Then the Status Bar is visible on each page I visit

![46614064-8651f700-cada-11e8-8db8-9eb70f6dc505_png__2328x2282_](https://user-images.githu

[2018-10-11 03:52] daybreaker commented on #107
@brittanygay - this should all be working. I added a 3 sec wait on the spinner to mock waiting for ticket purchase, then a 1 sec wait on the icon.

The ticket bounce only happens the first time you purchase a ticket for now.

[2018-10-11 15:19] brittanygay commented on #134
Thanks @daybreaker! Pulling this back in to finish up the signup screen

[2018-10-11 16:00] Krakaw commented on #134
[code]

[2018-10-11 17:34] brittanygay commented on #107
Thanks @daybreaker! Once #134 is merged we can get this PR merged.

[2018-10-11 17:54] zmelamed commented on #144
@Mcscott142 @brittanygay I broke these down by priority "High Priority ASAP" are things that are making hard for me to get feedback from my team and are blocking me from getting it infront of test users because they're distractions and would like them prioritized immediately. If there is anything in the "Up Next unless quick fix" that can be knocked out in 15 mins, then also just knock those out,

[2018-10-11 18:18] Mcscott142 commented on #144
Breaking these out into issues now. Will organize `Next Up` using the last comment.

[2018-10-11 18:20] #98 closed

[2018-10-11 18:31] Mcscott142 opened #153 "Top row of Location drop down should not be selectable"
## Background
The "Where are you looking for events?" row on the location selection is currently selectable. Only cities Should be selectable.

![2018-10-11 13 28 22](https://user-images.githubusercontent.com/6877299/46825702-e4404200-cd59-11e8-9f3b-fdcbbe14bfc9.gif)

[2018-10-11 18:56] Mcscott142 opened #154 "Designer - Explore Page Design Updates"
## Background
We need to make a few design tweaks to get current with the final production mocks. This tickets is just a checklist for those things.

- [ ] Search Area
	- [ ] Update Icon in search box
	- [ ] Alignment of icon and text
	- [ ] Rounded corners on input (Just make this the form input standard for classes)
- [ ] Black transparent gradient overlaying the featured event images so text is

[2018-10-11 18:59] Mcscott142 opened #155 "Designer - Replace App Icon"
## Background
We should replace the current app icon with this [file](https://drive.google.com/file/d/1KUOH71j65M-TUtzo4uWWRGknnwYLeGZe/view?usp=sharing)

- [ ] Change out App Icon

[2018-10-11 19:17] Mcscott142 opened #157 "Designer - Event View Design updates"
## Background
We need to make a few tweaks in order to get some pages up to date with the production mocks. This is a checklist for those updates.

Event View Heading
- [ ] Date should be to the right vertically aligned to the top of the event name
- [ ] Top Line Info should be above the event name
- [ ] Padding at the top should be reduced

via @zmelamed
<img width="1505" alt="ios_app__zach_-_dev

[2018-10-11 19:28] Mcscott142 opened #158 "Designer - Ticket Wallet Design Updates"
## Background
We need to make a few tweaks in order to get some pages up to date with the production mocks. This is a checklist for those updates.

- [ ] cards should have rounded edges
- [ ] cards should have a black gradient below the text so it’s readable
- [ ] The header should not scroll up (maybe break this one out?)

via @zmelamed
<img width="1639" alt="ios_app__zach_-_dev_prep__sketch 3" s

[2018-10-11 19:49] Mcscott142 opened #159 "Designer - Checkout Design Updates"
## Background
We need to make a few design tweaks to get current with the final production mocks. This tickets is just a checklist for those things.

- [ ] ~When you arrive at this view the scrollable area should auto rise up to the top to expose more of the summary form (can go all the way to 10px from the bottom of the back arrow to make sure you can see the whole view)~
- [x] When the tickets a

[2018-10-11 19:51] Mcscott142 opened #160 "Designer - Account View Design Updates"
## Background
We need to make a few design tweaks to get current with the final production mocks. This ticket is just a checklist for those things.

Account View
- [ ] This view should only scroll as much as is required to expose the nav items comfortably

[2018-10-11 19:52] Mcscott142 commented on #144
Closing issue. These have been broken out into #153, #154, #156, #157, #158, #159

[2018-10-11 19:52] #144 closed

[2018-10-11 20:19] brittanygay commented on #155
Waiting to get verification on this from @zmelamed  before starting

[2018-10-11 20:54] daybreaker commented on #134
@Krakaw

This is sending back an error of status code 409.

It outputs this for `console.log(res)`:

![](https://i.imgur.com/QDPWkcE.png)

Dont know if it matters that `data: {}` is being set inside of `config: {}` ?

![](https://i.imgur.com/0gqnvv0.png)

[2018-10-11 22:06] brittanygay commented on #155
I just recreated the new app icon for all sizes using https://makeappicon.com/. Here is the main 1536x1536 file, along with the zip file.

I've also added all of the App Icon files to the Google Drive.

I believe we will need @daybreaker to re-submit the new app icon to the ios store? Let me know if this is something I can do!

![bigneon-app-icon](https://user-images.githubusercontent.com/14582709

[2018-10-11 22:19] brittanygay commented on #151
Putting this back down because I read through the docs and searched around and need some initial help setting this up. @CheetoMao may have to take over to help @daybreaker finish this up tomorrow.

[2018-10-12 03:46] Krakaw commented on #134
@daybreaker I'll investigate this, (I promise I created a use with that code snippet without hassle before I sent it to you). If the user already exists then you get that 409, very confusing as to why it would embed the data object in config.

Let me pull the repo and have a test, I'll get back to you ASAP.

[2018-10-12 04:13] daybreaker commented on #134
@Krakaw I think youre right - the duplicate user looks like thats exactly it.

[2018-10-12 04:29] Krakaw commented on #134
@daybreaker as far as the config.data is concerned, that is axios interceptors, it embeds the data object in config . [https://github.com/axios/axios#interceptors](https://github.com/axios/axios#interceptors)

[2018-10-12 15:15] daybreaker commented on #134
Ah, thanks for looking into that. I also signed up for IRC Cloud, so I'll post future questions in IRC. Thanks for the suggestion!

[2018-10-12 17:58] CheetoMao commented on #151
While working on this I've come across a few issues.

**User Generated Images & Event Images**
- we can't predict what color these images will be. A light image would make white text illegible, while a dark image would make black text hard to read.

**Problems with adding a background to the StatusBar:**
One solution is to bypass the unpredictable background images by adding a background color to

[2018-10-12 19:18] Mcscott142 commented on #151
@zmelamed See last 2 comments from @CheetoMao. Starting here https://github.com/revelrylabs/bn-mobile-react/issues/151#issuecomment-429409393. Thoughts?

[2018-10-12 19:35] Mcscott142 commented on #151
@CheetoMao ^

[2018-10-12 22:15] Mcscott142 commented on #107
Looks good. I'll open a bug but it looks like the purchase screen is still up on the Explore page when you navigate back to it after purchase completion.

[2018-10-12 22:17] Mcscott142 opened #162 "Bug - Purchase screen stays on Explore View"
Repro Steps:
1) Select Event
2) Select Get Tickets
3) Go through checkout flow
4) Select Explore
5) Checkout Screen is still up

[2018-10-15 13:22] Mcscott142 opened #163 "Login Page - Replace Image"
## Background
The Background image on the login page looks grainy. Let's replace it with a higher res image.

## Scenario: Replace Image on Login
- [ ] When I log in to Big Neon
- [ ]  Then the background image is clear

[2018-10-15 13:25] Mcscott142 opened #164 "Change Endpoint out"
From Keith via Slack:

Morning guys, 2 quick changes, the new endpoint is at https://staging.bigneon.com/api that’s going to be stable now. As well as the new version of bn-api-node@0.2.0, the big change in this version is all the index endpoints return the same interface {data:[], paging: {}}

- [ ] Change out endpoint if needed
- [ ] Make any changes needed regarding updated  bn-api-node@0.2.0

[2018-10-15 13:40] Mcscott142 commented on #125
Just need to keep in mind when we work this one. From Intercom:
< Passwords aren’t hidden when you input them on the Welcome back page.

[2018-10-15 14:41] CheetoMao commented on #151
Just making a note that the status bar is currently set to `default` which is `dark-content` + transparent bkgd, so I think we can close out this ticket.

[2018-10-15 14:44] Mcscott142 commented on #151
👍 , closing.

[2018-10-15 14:44] #151 closed

[2018-10-15 16:04] Mcscott142 commented on #163
Need new image to replace.

[2018-10-15 16:10] Mcscott142 commented on #158
Breaking these out
- [ ] The header should not scroll up (maybe break this one out?)
- [ ] The tabs and header should be updated to match the spec’d version (We can split this out into another ticket unless it's a quick fix. Lower priority.)

[2018-10-15 16:25] Mcscott142 opened #165 "Designer - Ticket Wallet - Stop Header Scroll"
## Background
We have a request to stop the Header from Scrolling up in the app.

## Scenario: Designer updates Scroll functionality
- [ ] The header should not scroll up when scrolling

via @zmelamed
<img width="1639" alt="ios_app__zach_-_dev_prep__sketch 3" src="https://user-images.githubusercontent.com/6877299/46614286-109a5b00-cadb-11e8-9a25-ebb097a76405.png">

[2018-10-15 16:26] Mcscott142 opened #166 "Designer - Ticket Wallet - Update Tabs and Header"
## Background
Updates to Ticket Wallet.

## Scenario: Designer updates page
- [ ] The tabs and header should be updated to match the spec’d version

via @zmelamed
<img width="1639" alt="ios_app__zach_-_dev_prep__sketch 3" src="https://user-images.githubusercontent.com/6877299/46614286-109a5b00-cadb-11e8-9a25-ebb097a76405.png">

[2018-10-15 16:29] Mcscott142 opened #167 "Developer - Discover/API - Pull Events from API"
## Background
It's time to start connecting the nuts and bolts to the App. If the API has Event data available we should begin pulling real info.

## Scenario: A user visits the Explore page
- [x] When I land on the Explore page
- [x] Then I see real data pulled from the Big Neon API

[2018-10-15 16:43] brittanygay commented on #153
I'm gonna pull this in first to see if it's something I can fix

[2018-10-15 17:28] brittanygay commented on #153
After looking into this, I'm not sure exactly what happened to the code because I thought we had this fixed earlier but it looks like it's back to where it was before we put the fix in :/

This is something @daybreaker might have to look back into first, and then I can do a design pass after!

[2018-10-15 17:30] brittanygay commented on #154
Pulling this in next

[2018-10-16 16:42] daybreaker commented on #164
@Mcscott142 - I tested locally and got a 201 response with the new endpoint. The only real way to QA it right now is to register a new user and be redirected to the login screen with no error

[2018-10-17 12:57] Mcscott142 opened #171 "Developer - Event - Show Page"
_depends on #167_
## Background
We need to start wiring these screens up. This is for pulling actual Event data from the API on the Event show page.

## Scenario: A user selects an event from the Discover page
- [ ] When I select an Event from the Discover page
- [ ] Then I am directed to the Show page
- [ ] And all the information I see if pulled from the Big Neon API

[2018-10-17 16:48] Mcscott142 opened #172 "Research: Deploy on Merge to Master with Travis"
Can we do this, how will we handle keys?

[2018-10-17 17:00] brittanygay commented on #157
PR is approved and merged. Will be ready for QA after deployment

[2018-10-17 17:03] brittanygay commented on #158
Pulling this in to work on next (sprint tickets are complete on my side, this is not in our current sprint).

[2018-10-17 18:17] Mcscott142 commented on #47
For actual searching. Consider pulling events based on timeframe, do all searches locally.

[2018-10-17 19:00] Mcscott142 opened #174 "Attendee - Event Page - Add Price above Get Tickets"
## Background
We need to add the ticket price from the latest Mocks above the Get Tickets button.

## Scenario: A user looks at an event
- [ ] When I view and Event page
- [ ] Then I see the ticket price range above `Get Tickets`

### Mock
<img width="374" alt="big_neon" src="https://user-images.githubusercontent.com/6877299/47443751-aa6c3400-d77a-11e8-9818-05f54cc28344.png">

[2018-10-17 19:42] Mcscott142 opened #175 "Account Profile - Make full inputs Selectable"
## Background
Only a small portion of the input is selectable when entering/editing account information. The whole field should cause the keyboard to open for inputs.

[2018-10-17 19:43] Mcscott142 opened #176 "move sign out on account profile to initial view"
Also make current Sign Out button the save button

[2018-10-17 19:53] brittanygay commented on #160
Pulling this in to work on next (all sprint tickets are complete, this ticket isn't part of the sprint)

[2018-10-17 20:50] Mcscott142 opened #178 "Analytics Research"
What do we want to use for Analytics? Google Analytics, what else?

[2018-10-17 21:09] brittanygay commented on #159
Going to pull this in to start on these updates. I may have to put back into the backlog for @daybreaker to finish up when he gets time (or whenever we pull this ticket into the next sprint)

[2018-10-18 16:15] brittanygay commented on #159
I pushed up a branch to get the third edit merged, but I will need help from @daybreaker to get the other two items set up.

After doing some research, I found a few links that could help us with the animated auto rise:

https://github.com/oblador/react-native-animatable
we could use the `slideInUp` animation (or something similar from expo)

https://docs.expo.io/versions/latest/react-native/anima

[2018-10-18 16:39] brittanygay commented on #158
Updates are now approved and merged. Once deployment is complete this will be ready for QA

[2018-10-18 16:40] brittanygay commented on #160
Updates are now approved and merged. Once deployment is complete this will be ready for QA

[2018-10-18 17:41] Mcscott142 commented on #163
Discussed yesterday. We can find a suitable image for background, for now, that looks less grainy. :raised_hands: . Will leave that up to @brittanygay . Unblocking.

[2018-10-18 17:53] brittanygay opened #182 "Remove BottomNav on Event Details Screen"
<img width="348" alt="screen shot 2018-10-18 at 1 24 52 pm" src="https://user-images.githubusercontent.com/14582709/47175642-3c86bf00-d2d9-11e8-8cee-26ab13b8371b.png">

[2018-10-18 18:03] brittanygay commented on #159
I've also put in a fix for the Checkout and Ticket Selection header padding issue

[2018-10-18 18:10] brittanygay commented on #182
Working on this next

[2018-10-18 18:32] brittanygay commented on #182
Passing over to @daybreaker since this is more of a back-end bug.

[2018-10-18 18:51] brittanygay commented on #136
Working on the styling for this screen next

[2018-10-18 22:28] brittanygay commented on #159
**Update**:
I'm getting close to getting the component working. I'm using the Pose library, which also seems like a good library to use for future animations.

It looks like this Transition setup is the way to go: https://popmotion.io/pose/api/native-transition/#{{0}

I'm gonna give it one more shot tomorrow morning, but won't waste too much more time. I'll pass over to @daybreaker if I have any p

[2018-10-18 22:31] #164 closed

[2018-10-18 22:35] Mcscott142 opened #187 "Designer - Discover Page - Add Venue Name to Events"
## Background
When browsing the Discover page, the section under the image with the Artist name should also include the event Venue.

## Scenario: A user browses the Discover page
- [ ] When I see a single event
- [ ] Then I also see the venue for that event

[2018-10-18 22:40] Mcscott142 commented on #187
@zmelamed Do we need this? I'm noticing the production-ready Mocks don't have the Venue listed out so they were removed but seems like you'd want that somewhere.

<img width="1164" alt="ios_app__zach_-_dev_prep__sketch" src="https://user-images.githubusercontent.com/6877299/46614064-8651f700-cada-11e8-8db8-9eb70f6dc505.png">

[2018-10-22 17:04] brittanygay commented on #136
**Update**
There's a React Native Truncation bug that I keep getting on this screen. The second line can't wrap, because then the card's height will be lengthened, and trying to truncate the details also isn't working due to the bug I came across. It would be better if we could change up the design a bit and maybe eliminate some details from the bottom, maybe keeping the date or the location (but

[2018-10-22 17:20] brittanygay commented on #163
Pulling this in to knock out

[2018-10-22 17:28] brittanygay opened #189 "Event Manager Truncation Bug"
There's a React Native Truncation bug that I keep getting on this screen. The second line can't wrap, because then the card's height will be lengthened, and trying to truncate the details also isn't working due to the bug I came across. The bug won't allow the second line to truncate at all, and it's also messing up the truncated artist title above it. It would be better if we could change up the

[2018-10-22 20:30] brittanygay commented on #136
Once updates are deployed this will be ready for QA.

[2018-10-22 20:52] brittanygay commented on #166
Going to pull this in next to update the styling

[2018-10-23 13:11] Mcscott142 commented on #105
Closing this with #172 on the board.

[2018-10-23 13:11] #105 closed

[2018-10-23 16:29] brittanygay commented on #163
Image has been approved and replaced. Ready for QA once updates are deployed

[2018-10-23 19:46] brittanygay commented on #166
My PR is out here: https://github.com/revelrylabs/bn-mobile-react/pull/191

Assigning to @daybreaker to check out the items I listed in my PR

[2018-10-23 19:55] brittanygay commented on #165
Picking this up next to see what all I can do with setting this up

[2018-10-23 19:57] zmelamed commented on #165
@brittanygay with this one, the only thing that should scroll in the new design is the ticket content area (the header and tabs should stay fixed with the tickets scrolling under them)

[2018-10-23 20:09] daybreaker opened #192 "Need to log out user if staging db is wiped"

[2018-10-23 20:40] brittanygay commented on #165
@daybreaker I looked into this and I think you're right, this is more of a back-end thing. Putting this back down so you can take a look when you get to it

[2018-10-24 13:32] Mcscott142 opened #193 "Application not loading"
## Background
Getting an error for `Unhandled promise rejection: Error: Request failed with status code 404` on expo version and the testflight app just hangs up on loading after the opening animation.

Via Slack:
<img width="603" alt="slack_-_revelers" src="https://user-images.githubusercontent.com/6877299/47434177-9d921500-d767-11e8-9352-157acc3c89d8.png">

Expo Logs
![1__colinscott_colins-mbp-2

[2018-10-24 13:39] Mcscott142 commented on #193
This may be the same as #192.

[2018-10-24 13:44] Mcscott142 opened #194 "Doorman - Account - Enter Doorman application"
## Background
We already have a way to enter this flow but it needs to be renamed to Doorman like in the mock below.

## Scenario: A Doorman user navigates to their profile
- [ ] When I land on my Account
- [ ] Then I see a link to the Doorman features

### Mock:
<img width="339" alt="big_neon" src="https://user-images.githubusercontent.com/6877299/47434768-e0082180-d768-11e8-8f86-46e2f2b5a6a2.png

[2018-10-24 13:52] Mcscott142 opened #195 "Doorman - Events - Event List/My Events"
## Background
A Doorman user needs the ability to see a list of their events. We _should_ already have some form of this but this is the latest/production ready Mock for the Event List.

## Scenario: A user selects Doorman from their profile
- [ ] When a user Selects `Doorman` on their Account Profile
- [ ] Then they are directed to a list of events:
	- [ ] Organized by live and upcoming
	- [ ] Wi

[2018-10-24 13:55] Mcscott142 commented on #128
Updated, moved to Up Next.

[2018-10-24 14:07] Mcscott142 opened #196 "Doorman - Scanner - Open Scanner"
## Background
The doorman needs the ability to Scan barcodes/tickets to the events. Once they select an Event from their Event list, they should be directed to a Scanner where they can check in guests.

This has been implemented in the web app: https://github.com/big-neon/bn-front-door

## Scenario: A Doorman opens the scanner for an Event
- [ ] When I select an Event in my Event List
- [ ] Then I

[2018-10-24 14:14] Mcscott142 opened #197 "Doorman - Scanner - Scan a Valid Ticket Manual Check In"
## Background
Once a ticket is scanned and the guest is checked in the Doorman should receive a ticket valid message and have the ability to check that guest in. This ticket is for a single guest check in. There will be a slightly different flow for guests with multiple tickets.

Some example scanner code here: https://github.com/big-neon/bn-front-door. The UI is different but this is a working sc

[2018-10-24 15:43] Mcscott142 commented on #197
Leaving this as a draft for now. Have some questions for @zmelamed on the Scanner/Check-In flow. Will discuss during ticket writing/approval today 10-42-18.

- Manual Scan? That's just selecting a name from a guest list and pressing complete check-in? Not actually scanning anything.
- Scan - Doorman just scans and guest is checked in or still has to hit complete check-in?
- Are we scanning separat

[2018-10-24 15:52] Mcscott142 commented on #195
Dupe. Closing.

[2018-10-24 15:52] #195 closed

[2018-10-24 16:05] Mcscott142 opened #199 "Doorman - Events - Event list has no way to return to account"
## Background
Once a Doorman user enters that area there is currently no way to back out to the Account Profile Again. For consistency's sake, I think we should use the same back functionality as the rest of the Application.

Mock w/ missing back functionality (My Events screen).
![mvp-scan-list-mocks](https://user-images.githubusercontent.com/6877299/47445097-ab529500-d77d-11e8-89d6-ed5a37595181.

[2018-10-24 16:23] brittanygay commented on #174
Picking this up to work

[2018-10-24 16:33] Mcscott142 commented on #197
There will be a simplified flow per @zmelamed. We should use the below screenshot. I do still have one question remaining from above comment

![mvp-scan-list-mocks](https://user-images.githubusercontent.com/6877299/47446231-6b40e180-d780-11e8-81e6-7a1c2c037851.png)

[2018-10-24 16:35] Mcscott142 opened #200 "Doorman - Scanner - Scan an invalid Ticket"
## Background
when a ticket is invalid or there is an issue with the scan then the doorman needs to be notified of the issue.

## Scenario: A Doorman scans an invalid ticket
- [ ] When I scan a ticket
- [ ] And it is invalid
- [ ] Then I receive a message for an invalid Ticket

### Mock
<img width="297" alt="mvp-scan-list-mocks_png" src="https://user-images.githubusercontent.com/6877299/47446432-d

[2018-10-24 16:38] Mcscott142 opened #201 "Doorman - Scanner - Scan an already redeemed ticket"
## Background
When a ticket has already been scanned, the Doorman scanning the ticket should receive a specific message that the ticket has been used.

## Scenario: A doorman scans an already redeemed ticket
- [ ] When I scan a ticket that has already been scanned or checked in
- [ ] Then I see that ticket has already been redeemed

### Mock
<img width="295" alt="mvp-scan-list-mocks_png" src="http

[2018-10-24 16:50] Mcscott142 opened #202 "Doorman - Scanner - Guest List"
## Background
A doorman should be able to manually check in guests if there are problems with a scanner or other circumstances. This is for viewing the list of guests only.

## Scenario: A doorman pull up the full guestlist
- [ ] When I select All Guests
- [ ] Then I see a list of all guests attending my event

## Scenario: A doorman selects a guest from the guest list
- [ ] When I choose a Guest

[2018-10-24 16:57] Mcscott142 opened #203 "Doorman - Scanner - Manual Check In"
## Background
A doorman wants the ability to manually check in guests by bringing up their ticket details then selecting to manually check them in.

## Scenario: A Doorman scans a ticket for a manual check-in
Given I have toggled my Check-In Mode to manual
- [ ] When I scan a ticket
- [ ] Then I see the details of that guest and ticket
- [ ] And I can complete the check-in by selecting `Complete C

[2018-10-24 16:59] Mcscott142 opened #204 "Doorman - Scanner - Transfer Ticket"
## Background
When a guest has multiple tickets, the doorman should be able to hold extra ticket(s) under another name.

## Scenario: The Doorman transfers a ticket to another name
- [ ] When I select Leave ticket for a different name
- [ ] TBD

[2018-10-24 17:03] Mcscott142 opened #205 "Doorman - Scanner - Search for Guest on Guest List"
## Background
If a scanner were to malfunction for any reason, the doorman will need to be able to manually check in a guest. The guest list may be quite long, so the doorman will need to able to quickly search for that guest by name.

## Scenario: A Doorman searches for a guest on the list
- [ ] When I enter in a first or last name in the search box
- [ ] Then my guest list filters people by that

[2018-10-24 17:33] brittanygay commented on #174
Updates are now complete. This will be ready for QA after the next deployment.

[2018-10-24 17:42] zmelamed commented on #197
So there are 2 checkin "modes", If the Auto-checkin is active it should auto checkin as soon as it's scanned. Show the success state for 3 seconds, and then switch right back into scan mode. If the auto-checkin mode is not active it will require them to click Complete checkin after scanning.

I need to update the scan view so you can see the auto-checkin active and auto checkin inactive states mor

[2018-10-24 20:29] brittanygay commented on #175
Edits have been merged. This will be ready for QA on the next deployment.

**A few things to break out into separate bug tickets @Mcscott142 and @zmelamed :**
1. The inputs don't actually save when you change anything (placeholders are always there). I see the mocks are updated to include a Save button so I'm assuming we will be creating a new ticket for these updates (check out latest screenshots

[2018-10-24 21:04] brittanygay opened #209 "Ticket Carousel - Left Edge Getting Cut Off"
The left edge of the ticket carousel is getting cut off, but not the right side. We need to look into this issue and put in a fix.

![img_6287](https://user-images.githubusercontent.com/14582709/47461471-7eff3e80-d7a6-11e8-8bbd-0b5fac6d6711.JPG)

[2018-10-24 21:09] brittanygay opened #210 "Doorman Event List - Left Edge of Cards Cutting Off"
The left edge of the Cards on the Doorman Event List screen is getting cut off.

The left edge of those cells are chopped off by a few pixels, so it has this sharp corner on the radius instead of just being fully rounded.

![img_6286](https://user-images.githubusercontent.com/14582709/47461757-34ca8d00-d7a7-11e8-9fb9-cfcec00fcf52.jpg)

[2018-10-24 21:12] brittanygay opened #211 "Account - Billing Info - Make Full Inputs Selectable"
Broken out from #175

The Billing Info TextInputs need updated styles to reflect the changes that were done on the Account Profile screen.

The TextInputs also need to be fully selectable like the updated Account Profile inputs.

[2018-10-24 21:14] brittanygay commented on #175
I broke #2 out into it's own ticket (#211)

We still need clarification on where to move forward with #1

[2018-10-24 21:36] brittanygay commented on #166
Updates are merged. This will be ready for QA once deployment is made.

[2018-10-24 21:40] brittanygay commented on #171
I don't think there is any new design around this, but let me know @daybreaker. Once we pull in actual data I may need to clean a few things up

[2018-10-24 21:45] brittanygay commented on #199
I think we need some clarification from @zmelamed on this one: I would suggest to keep the same back functionality, but I wanted to run it by you before implementing anything new.

[2018-10-24 21:47] brittanygay commented on #211
Pulling this in next

[2018-10-24 21:51] zmelamed commented on #199
Keep this ticket open, but what has already been implemented is good enough as we move through the other tickets. Thanks, i've passed this along to our designer as well

[2018-10-24 22:13] daybreaker commented on #165
actually turned out to be a sort of front end thing. So assigning to @brittanygay to review.

[2018-10-24 23:21] zmelamed commented on #165
Per my previous comment, the tabs should not scroll, they should stay fixed to the header, only the ticket area should scroll

[2018-10-24 23:36] daybreaker commented on #165
My bad - @brittanygay - I have a new branch that makes the tabs static too, but it needs some style work:  165-tabs

[2018-10-25 15:36] brittanygay commented on #165
@daybreaker I just pushed up my edits for the styling bugs. Assigning back to you to finish up!

[2018-10-25 17:15] daybreaker commented on #165
It looks like the pink underline for the active tab is like 1px above the bottom of the container its in?  If you scroll a ticket up, you can see a small grey line beneath the pink active border, and the ticket.

[2018-10-25 19:21] Mcscott142 commented on #204
Closing this. Not happening for MVP

[2018-10-25 19:21] #204 closed

[2018-10-25 19:45] brittanygay commented on #165
@daybreaker I just pushed up a fix for the border overlay bug. Here are screenshots of how it looks now:

<img width="327" alt="screen shot 2018-10-25 at 2 42 43 pm" src="https://user-images.githubusercontent.com/14582709/47526152-89800d80-d864-11e8-823c-c7ab2e41e64d.png">
![simulator screen shot - iphone x - 2018-10-25 at 14 41 47](https://user-images.githubusercontent.com/14582709/47526153-89800

[2018-10-25 20:33] brittanygay commented on #211
Updates are merged, this will be ready for QA once deployed

[2018-10-29 14:15] Mcscott142 opened #214 "Release Notes Plan"
## Background
We need a plan for some bullet point release notes for each deploy for all of our Big Neon testers.

[2018-10-29 15:53] Mcscott142 opened #215 "Click Hot this week Event Image from Discover Page"
## Background
Clicking an Event's Image from the Discover page doesn't take me to that event. Only clocking the Name of the Event directs me to the Show page.

## Scenario: A user clicks the Event photo
- [ ] When I select an Event Photo under Hot this week
- [ ] Then I am directed to the show page

[2018-10-29 15:57] Mcscott142 opened #216 "Attendee - Event - Share Event"
Draft

<img width="339" alt="big_neon" src="https://user-images.githubusercontent.com/6877299/47662701-71acd000-db69-11e8-87f9-b591ebd67962.png">

[2018-10-29 16:11] Mcscott142 commented on #172
If we are unable to get this auto-deployed, we will at the very least get my (@mcscott142) environment set up Deploy so Brad can focus on development. Including that in this ticket.

[2018-10-29 19:35] #193 closed

[2018-10-29 19:37] #192 closed

[2018-10-29 19:39] Mcscott142 commented on #211
I know it wasn't in a Mock or anything but it's very hard to differentiate between the CC number field and the expiration date. It looks like just one feild on the screen. Going to make a ticket for that.

[2018-10-29 19:41] Mcscott142 opened #217 "Designer - Account - Billing Information"
## Background
It is very difficult to tell that CC number and Expiration are two different fields. Need a design solution to make this clear.

## Scenario: A user enters their Credit Card Information
- [ ] When I edit my credit card information
- [ ] Then I can tell that Credit Card Number and Expiration are 2 different fields.

![file 1](https://user-images.githubusercontent.com/6877299/47675763-

[2018-10-29 19:43] Mcscott142 commented on #217
This may not matter if we implement Stripe forms out of the box so marking enhancement.

[2018-10-29 20:30] Mcscott142 opened #218 "Ticket Holder - My Tickets / Ticket Transfer - Select Ticket(s) to Transfer"
## Background
A user needs the ability to transfer tickets to other people. This will be done through the ticket Wallet.

## Scenario: A User selects transfer ticket from the ticket view
- [ ] Given I have selected My tickets
- [ ] And Selected a Ticket
- [ ] When I select `Transfer Ticket`
- [ ] Then I am given the option to choose which tickets to transfer

### Mock
<img width="336" alt="big_neo

[2018-10-29 20:32] brittanygay commented on #210
I found a good reference to resolve this issue here: https://github.com/facebook/react-native/issues/13760

[2018-10-29 20:35] Mcscott142 opened #220 "Ticket Holder - My Tickets / Ticket Transfer - Choose Transfer option"
_dependent on #218_
## Background
A user should be able to select the method for Transferring their ticket, whether it is SMS, email or QR Code scan.

## Scenario: A User selects tickets to transfer
- [ ] When a user selects their tickets to transfer
- [ ] Then they are given options to transfer those tickets

### Mock
<img width="338" alt="big_neon" src="https://user-images.githubusercontent.com/

[2018-10-29 20:42] Mcscott142 opened #221 "Ticket Holder - My Tickets / Transfer Tickets - Email Transfer"
## Background
A user should be able to email transfer a ticket to another user for an event.

## Scenario: A user chooses to email a ticket transfer
- [ ] When I select email from ticket transfer
- [ ] Then my email application opens with a link to accept my transfer

### Mock
<img width="320" alt="big_neon" src="https://user-images.githubusercontent.com/6877299/47679012-29a1a380-db91-11e8-939e-ff

[2018-10-29 20:48] Mcscott142 opened #222 "Attendee - My Tickets / Transfer Tickets - Accept a Transfer"
## Background
A user needs the ability to accept a ticket transfer from within the Application.

## Scenario: A user opens the application with a pending Ticket Transfer waiting
- [ ] When I open the application
- [ ] And I have a pending ticket transfer to me
- [ ] Then I can add the ticket to my Wallet

### Mock
<img width="335" alt="big_neon" src="https://user-images.githubusercontent.com/68772

[2018-10-29 20:58] brittanygay commented on #209
Pulling this in to work on next

[2018-10-29 21:00] Mcscott142 opened #223 "Attendee - My Tickets / Transfer Tickets - Ticket Transfer Notification"
## Background
As a user who has downloaded Big Neon, when someone initiates a Ticket Transfer to me then I should be notified and able to accept that transfer.

## Scenario: A user initiates a Ticket Transfer to me
- [ ] Given I have downloaded the Big Neon Application
- [ ] When another user initiates a Ticket Transfer to me
- [ ] Then I receive a notification

### Mock
<img width="339" alt="big_

[2018-10-29 21:00] brittanygay opened #224 "Doorman Card Truncation Bug"
The truncation for each Card on the Doorman screen doesn't work, and we need to find a solution.

This will probably happen on other areas of the app once we pull in real data (we can make separate tickets for these).

Reference to read: https://github.com/facebook/react-native/issues/1438

<img width="345" alt="screen shot 2018-10-29 at 3 27 44 pm" src="https://user-images.githubusercontent.com/1

[2018-10-29 22:17] zmelamed commented on #209
FYI, i was poking around, it seems like moving

    `paddingHorizontal: globalPadding`

from a `modalContainer` style to `slideWrapper` in ticketWalletStyles largely solves for this. the whole view seems to be taking on padding and hiding. it... other issues that need ot be resolved when you do that. but seems like that's the cause

[2018-10-29 22:20] brittanygay commented on #209
Thanks @zmelamed! I literally just found that solution too. Cleaning up the close button issue and then I should be done with this bug ticket

[2018-10-30 01:19] daybreaker opened #226 "Automatically login after registration"

[2018-10-30 14:20] brittanygay commented on #215
I think I might be able to knock this one out, but if not I'll assign over to @daybreaker

[2018-10-30 14:32] Krakaw commented on #226
Depends on big-neon/bn-api#477
Depends on big-neon/bn-api-node#197

[2018-10-30 14:37] Mcscott142 commented on #143
These are being kept up to date in Abstract. Closing this one.

[2018-10-30 14:37] #143 closed

[2018-10-30 14:38] #12 closed

[2018-10-30 14:38] #145 closed

[2018-10-30 14:39] #79 closed

[2018-10-30 16:57] brittanygay commented on #224
More references if we come across this in future instances:

https://react-native.canny.io/feature-requests/p/flexdirection-row-breaks-wrap-and-forces-content-off-screen

https://github.com/facebook/react-native/issues/5361

https://github.com/facebook/react-native/issues/1438

https://github.com/facebook/react-native/issues/901

https://github.com/facebook/react-native/issues/4733

[2018-10-30 17:42] brittanygay commented on #215
Bug fix is merged. This will be ready once updates are deployed.

[2018-10-30 18:09] Mcscott142 opened #229 "Attendee - Venue - Venue Show Page"
## Background
When a user navigates through the Application, they should be able to select a Venue and see details of that Venue. Including Location, a Description and upcoming Events.

## Scenario: A user selects a Venue from an Event Page
- [ ] When I select the Venue from an Even page
- [ ] Then I am directed to an Event Show Page
- [ ] And I see the information represented in the Mock below

#

[2018-10-30 21:02] brittanygay opened #230 "Truncate Titles on Event Discover Screen"
We need to truncate the main artist title and location info on the Event Discovery screen in instances where it might exceed 1 line.

<img width="361" alt="screen shot 2018-10-30 at 4 00 52 pm" src="https://user-images.githubusercontent.com/14582709/47750386-4d322000-dc5d-11e8-81d5-d6fa8af4847f.png">

[2018-10-30 21:05] brittanygay opened #231 "Truncate Titles on Ticket Wallet Cards"
We need to truncate the main artist title and location info on the Ticket Wallet Cards  in instances where it might exceed 1 line.

<img width="347" alt="screen shot 2018-10-30 at 4 04 46 pm" src="https://user-images.githubusercontent.com/14582709/47750566-aac66c80-dc5d-11e8-82f2-56931d09d053.png">

[2018-10-30 21:20] brittanygay opened #232 "Truncate Items on Ticket Detail Carousel"
We need to truncate the following items on the Ticket Detail Carousel:
- [ ] Artist Name
- [ ] Date/Location line
- [ ] Ticket Holder's name

<img width="332" alt="screen shot 2018-10-30 at 4 19 05 pm" src="https://user-images.githubusercontent.com/14582709/47751472-d64a5680-dc5f-11e8-9a54-2c86582aa245.png">

[2018-10-30 21:23] brittanygay opened #233 "Truncate Items on Account Notifications Screen"
We need to truncate each Notification Type to two(?) lines on the Account Notifications Screen.

<img width="332" alt="screen shot 2018-10-30 at 4 22 46 pm" src="https://user-images.githubusercontent.com/14582709/47751597-3d680b00-dc60-11e8-946d-97f1080252ef.png">

[2018-10-30 21:26] brittanygay opened #234 "Truncate Items on Account Order History Screen"
We need to truncate the following items on the Account Order History Screen to 1 line each:
- [ ] Order Receipt Date/Location line
- [ ] Artist Name

<img width="327" alt="screen shot 2018-10-30 at 4 25 02 pm" src="https://user-images.githubusercontent.com/14582709/47751739-9e8fde80-dc60-11e8-973d-52deb3a4af50.png">

[2018-10-30 21:31] brittanygay commented on #230
Working on this next until #218 is ready for me to pick up

[2018-10-31 14:36] Krakaw commented on #226
https://big-neon.github.io/bn-api-node/classes/_resources_users_.usersresource.html#createandlogin

[2018-10-31 15:27] Mcscott142 commented on #218
@brittanygay should `218-ticket-xfer` branch should be ready for you. https://github.com/revelrylabs/bn-mobile-react/tree/218-ticket-xfer

[2018-10-31 15:51] brittanygay commented on #230
@zmelamed I ran into a UI issue here: if the name of the venue is too long, we can truncate it but there's an issue with how the date is sitting to the right of the location info. Because of instances like this, I would suggest we re-arrange how this line is laid out.

If we do have to keep it this way, I think there's a plugin we can use to truncate a certain number of characters that I can look

[2018-10-31 15:54] brittanygay commented on #218
Thanks @Mcscott142! Pulling this in to work on today.

[2018-10-31 16:04] jwietelmann opened #235 "Mobile Infrastructure - Automatically deploy test app on PR merge to develop"
Mobile testing deploys seem to be getting in the way of having tickets smoothly move from This Sprint -> UAT. We should get back to being able to automatically give updates to testers.

[2018-10-31 16:06] jwietelmann commented on #235
Assigning to Nick/Aline to discuss why this matters and should get priority

[2018-10-31 20:51] brittanygay commented on #218
**Update**:
I've gotten through most of the modal styling, and I'm working on the transfer card component right now. I'm hoping that the radio select styling will work out as planned, and I can override the default radio styles in React Native, but I'll holler if I come across any issues.

[2018-10-31 21:15] brittanygay commented on #218
@zmelamed another suggestion in terms of saving time:

Instead of having a dashed line separating the ticket holder name and seating info, could we use a regular border?

I'm doing some research to see which plugin is best to use (maybe this https://www.npmjs.com/package/react-native-dash) but I've also read that there are some bugs on Android. Just wanted to point this out because it could potent

[2018-11-01 04:09] zmelamed commented on #218
To simplify just remove the seat info entirely, for the first 6 months we likely won’t have reserved seating so there won’t be any seat number,section, etc. just remove that row for now

[2018-11-01 04:51] daybreaker commented on #171
We'll still need an "Interested" interface with an array of avatar URLs in it.

Also, as of right now, we might need to eject from Expo to embed You Tube videos or stream songs from Spotify. There are no Expo libraries for that yet. This would also mean replacing any of the existing Expo libraries we're using. There may be a workaround for YT videos using WebViews. But, also, if there's an alterna

[2018-11-01 05:00] daybreaker commented on #172
Created shared match credentials in revelrylabs/bn-mobile-react-match-creds

[2018-11-01 12:54] Mcscott142 commented on #230
related to #189 I assume. Just wanted to connect them via comment.

[2018-11-01 12:54] #83 closed

[2018-11-01 12:55] #45 closed

[2018-11-01 13:21] Mcscott142 opened #238 "Doorman - Scanner - Auto Check-In"
## Background
When a Doorman scans a ticket he should have different settings for the Scanner. A Manual Check-in, an Auto Check-in, and a pre-event scan. This is for an Auto Check-In where the Check-in completes without having to confirm by selecting complete checkin

See Video of flow here: https://vimeo.com/298395671

Via @zmelamed

## Scenario: A Doorman checks someone in
- [ ] Given I open the

[2018-11-01 17:34] zmelamed commented on #171
re videos: remove all the videos, spotify, and social content from those views for now and break them out to separate issues in the icebox.
re avatars: same thing, separate this out to a different issue. remove that block for now which is how it should be treated if it doesn't exist anyways).
Re: top line info, there is a top_line_info property thats part of the event interface, this goes above th

[2018-11-01 17:42] daybreaker commented on #171
@zmelamed

Ah, so top_line_info is like the "Presented by Pepsi, and whoever else" line.

I'll fix that - I was using organization name in there.

Is there anywhere in the Event page mockup where we would display an Organization name?

[2018-11-01 17:44] zmelamed commented on #171
Correct, and no, just the venue info (the organizations own the venues but aren't displayed in the UI)

[2018-11-02 13:53] Mcscott142 commented on #238
AC Updated, marked Score

[2018-11-02 13:55] Mcscott142 opened #239 "Doorman - Scanner - Pre Event Scan"
_This one just needs the mock for Event Info when a pre-event scan happens_

## Background
via @zmelamed

### Mock
<img width="337" alt="big_neon" src="https://user-images.githubusercontent.com/6877299/47919278-fc007700-de7c-11e8-9f11-7619a8f2d0f4.png">

[2018-11-02 20:28] brittanygay commented on #224
Updates are complete. This will be ready for QA after deployment

[2018-11-02 20:50] brittanygay commented on #218
Thanks @zmelamed!

**Update**:
I'm _almost_ done with everything, but I'm trying to make the modal scrollable, when there are multiple tickets shown. Once I finish that up I'll be able to get this into review.

[2018-11-02 22:20] zmelamed commented on #171
Feel free to break these out to other tickets if needed, but some feedback now that I've seen the event detail page with a different data set:

- The line below the I'm Interested and Share Event buttons should be hidden if there is no list of avatars present
- The line below Event Description should be hidden if there is nothing below it
- Just noticed something i _think_ is incorrect based on th

[2018-11-05 21:07] #224 closed

[2018-11-05 21:16] #167 closed

[2018-11-05 21:17] #166 closed

[2018-11-05 21:17] #194 closed

[2018-11-05 21:17] #163 closed

[2018-11-05 21:17] #182 closed

[2018-11-05 21:17] #136 closed

[2018-11-05 21:17] #174 closed

[2018-11-05 21:17] #175 closed

[2018-11-05 21:17] Mcscott142 commented on #210
Moving to UAT

[2018-11-05 21:20] Mcscott142 opened #242 "Developer - Explore - Connect Hot This Week Event to API"
## Background
We are pulling events in on the explore page but the `Hot This Week` Section is still hardcoded in. We need to pull this via API.

## Scenario: User visits the Explore page
- [ ] When I open the App
- [ ] Then the Hot this week section is populated with event(s) pulled via API

[2018-11-05 21:38] Mcscott142 opened #243 "Developer - Account - Connect Account page with API"
## Background
This ticket is for connecting a users Account to the API. Also, the hiding.showing of the Doorman feature set.

## Scenario: Signing up for Big Neon and updating Account
Given I have signed up for an Account on Mobile
- [ ] When I update Account Information
- [ ] Then that info is posted via API

## Scenario: A user has account info updated via Web App
Given I have updated info throu

[2018-11-05 21:58] Mcscott142 commented on #150
## Background
We'll want to make it easy for users to access/login to the application. One way to do this is allowing them to login via Facebook.

## Scenario:  A user opens the Big Neon App
- [ ] When  I select login with Facebook
- [ ] Then I am signed into the application using my Facebook login

[2018-11-05 22:00] Mcscott142 opened #244 "Developer - Checkout - Add Apple Pay"
Draft

[2018-11-05 22:43] brittanygay commented on #196
@chas-mcmahon I think you'll need to set up a new view for this before I can stub out any styles :)

[2018-11-05 22:48] chas-mcmahon commented on #196
@brittanygay I'm still working on dev environment setup, but if I'm not done by tomorrow morning, let's just pair on your computer to work through setting up the new view. I can always finish my env setup later.

[2018-11-06 16:10] Mcscott142 commented on #214
Ok from here on out I'll be adding Release notes to Apple Store and Google Play releases as well as creating a UAT ticket in https://github.com/big-neon/bigneon

When you select the App in Testflight it will tell you what to test. I added release notes to the google play store but am unsure where those how or how that flow works. Will comment here when I find out.

<img width="367" alt="slack_-_re

[2018-11-06 16:15] Mcscott142 commented on #214
@zmelamed I created issue https://github.com/big-neon/bigneon/issues/26 for Release notes and added them to each app.

I'll continuously update those with each release and make a new ticket in BigNeon as well. If you could add me as a collaborator on the bigneon repo then I can move those issues around, right now I can only create them.

[2018-11-06 17:57] brittanygay commented on #218
Styles are now complete. More info and screenshots here: https://github.com/revelrylabs/bn-mobile-react/pull/241

**Passing over to @chas-mcmahon to help finish setting up the following**:
There's still some functionality that we need to clean up on the Radio buttons. I wasn't able to get the buttons to be un-selectable (but the selected state works)

[2018-11-06 17:58] brittanygay commented on #196
Pairing with @chas-mcmahon now to get the screen set up!

[2018-11-06 18:44] brittanygay commented on #218
React Native Radio Button that I used: https://www.npmjs.com/package/react-native-simple-radio-button

[2018-11-06 21:45] daybreaker commented on #172
I just dont see a way around this two factor auth the app store requires. everyone who uses Travis CI says it breaks, and fastlane seems fine with leaving it that way, telling people to just make a new account that doesnt use 2FA

I tried creating a FASTLANE_SESSION that used my 2FA login through fastlane spaceship, but Travis CI couldnt read it the proper way, no matter how I set it (via the UI,

[2018-11-07 14:20] Mcscott142 commented on #172
Merged. Ok, we'll revisit at a later date. We still need somebody else set up with the ability to deploy but we can put it on the back burner for now. We just cannot have another deploy failure go unnoticed through a weekend.  We all just need to be on top of it, even if we deploy after hours on a Friday.

[2018-11-07 18:02] Mcscott142 opened #248 "Developer - Account - Connect Order History to API"
_depends on #140_
## Background
A users order history should pull to their account

## Scenario: A user checks their order history
- [ ] Given I am on my Account
- [ ] When I select order History
- [ ] Then I see a list of my actual ticket order history pulled from the API

[2018-11-07 18:04] Mcscott142 opened #249 "Account - Order History Detail"
_draft ticket. There is no mock for this in Abstract. Marking blocked and assigning Zach_

[2018-11-07 18:07] Mcscott142 opened #250 "Attendee - Checkout - Purchase Failure"
_Draft Ticket. Need Mock for ticket purchase failure_

[2018-11-07 18:30] Mcscott142 commented on #97
Marked SCORE, moved into Next Up

[2018-11-07 18:32] Mcscott142 commented on #242
Not completely sure this is present in the API at this time. It's possible we'll need to just show a list of events on Explore page for initial release.

[2018-11-07 18:40] Mcscott142 opened #251 "Attendee - Event Detail - Get Directions to Venue"
## Background
When a user is viewing an event, they should be able to get directions to the venue where it is held.

## Scenario: A user selects a Venues address from Event Detail
- [ ] When I select a venue's address
- [ ] Then I am prompted to open a Map application and get directions

[2018-11-07 18:59] Mcscott142 opened #252 "Attendee - My Tickets - Empty States"
## Background
This may already be implemented, I'm not 100% sure. When there are no tickets in the ticket wallet there should be a message letting the user know this.

## Scenario: I visit my ticket wallet with no tickets
- [ ] When I am on my Ticket Wallet Upcoming/Past/Transfers
- [ ] And there are no tickets in one or any of those areas
- [ ] Then I see the empty states like in the mocks below

[2018-11-07 19:00] Mcscott142 opened #253 "Attendee - My Tickets - Add to Apple Wallet"
## Background
Users need the ability to add their tickets to the Apple Wallet so they are easily available to check in for events.

## Scenario: A user selects Add To Wallet
Given I have my ticket open in the Big Neon App
- [ ] When I select `Add to Wallet`
- [ ] Then my Ticket(s) is/are added to my Apple Wallet on iPhone

### Mock
<img width="337" alt="big_neon" src="https://user-images.githubuse

[2018-11-07 20:08] Mcscott142 opened #254 "Attendee - My Tickets - Transferred Tickets"
## Background
When I transfer a ticket, I want to see a history of those transactions with some detail

## Scenario: A user transfers a ticket and navigates to My Tickets
- [ ] When I select Transferred
- [ ] Then I see a list of tickets that I have transferred

### Mock
![big_neon](https://user-images.githubusercontent.com/6877299/48157893-8cccbd80-e296-11e8-8897-384a4cd8e465.png)

[2018-11-07 20:13] Mcscott142 opened #255 "Attendee - My Tickets - Past Tickets"
## Background
After I have attended an event I want to be able to see that history.

## Scenario: A user views past events when they navigate to My Tickets
- [ ] When I select Past
- [ ] Then I see a list of events I have attended

### Mock
![big_neon](https://user-images.githubusercontent.com/6877299/48158086-272d0100-e297-11e8-8486-3436ec5d6561.png)

[2018-11-07 22:23] Mcscott142 opened #256 "Attendee - My Tickets - Add to Google Pay"
## Background
Users need the ability to add their tickets to the Google Pay Wallet so they are easily available to check in for events. https://developers.google.com/pay/passes/

## Scenario: A user selects Add To Wallet
Given I have my ticket open in the Big Neon App on an Android device
- [ ] When I select `Add to Wallet`
- [ ] Then my Ticket(s) is/are added to my Google Pay Wallet on iPhone

##

[2018-11-07 22:34] Mcscott142 opened #257 "User - Login - Reset Password"
## Background
Users need the ability to reset their Passwords.

## Scenario: A user opens the application
- [ ] When I select Reset Password
- [ ] Then I receive an email to reset my password

[2018-11-07 22:37] Mcscott142 opened #258 "User - Sign Up - Capture First and Last Name"
## Background
We need to capture first and last names for users upon sign up.

## Scenario: A user signs up for the Big Neon app
- [ ] When I select Sign Up
- Then I am asked for my
  - [ ] First Name
  - [ ] Last NAme
  - [ ] Email

[2018-11-07 23:20] chas-mcmahon commented on #218
I had to swap out the component since radios don't allow for multiple checked items and from what I can tell we need to allow transfer of several tickets at a time. I found a react native checkbox component that should work for our style needs.

Still ironing out the problem of getting the checkboxes to work w/ react state in a sane way, but making good progress. I'm not sure how to deal w/ submit

[2018-11-08 05:09] daybreaker commented on #196
I have the bar code scanner showing up, and the api code in place. Just havent connected the two yet.

[2018-11-08 17:48] brittanygay commented on #196
Thanks @daybreaker! Hopping back on this to finish up the styling

[2018-11-08 20:50] brittanygay commented on #196
@daybreaker I just finished up my styling edits and pushed them up. Now I'll pass over to @chas-mcmahon to finish anything else up that Brad mentioned.

[2018-11-08 20:52] brittanygay commented on #218
Going to pair with @chas-mcmahon after our meetings today to finish this up

[2018-11-08 21:29] Mcscott142 opened #261 "Designer - Discover - Search Events Empty State"
Draft

[2018-11-09 16:08] Mcscott142 opened #263 "Attendee - Checkout / API - Payment Selection"
## Background
This issue for the user selecting their payment type if they have multiple on their account. If this is an issue for some reason then we can have the user only set up one payment type for now.

# Scenario: A user selects a Payment Type
Given I have added selected a Ticket Type
- [ ] When I am directed to the checkout screen
- [ ] Then I can select a payment type tied to my user accou

[2018-11-09 16:08] Mcscott142 opened #264 "Attendee - Checkout / API - Purchase Ticket"
## Background
Ticket for integrating stripe and actually purchasing tickets to an event. This will include some design work even though the screens are there. We want to clean up/slim down the payment selections/process

Related Links via @zmelamed
https://stripe.com/elements
https://stripe.com/docs/stripe-js
https://github.com/stripe/react-stripe-elements

## Scenario: A user purchases tickets
Gi

[2018-11-09 16:15] Mcscott142 commented on #140
AC updated. Other checkout flows captured in #263 and #264

[2018-11-09 17:56] Mcscott142 opened #265 "Bug - Can't open app - Set Current User Error"
Error when trying to open app via simulator or Expo on phone.

[code]

[2018-11-09 18:08] Mcscott142 commented on #159
@brittanygay All is done except the first checkbox here correct?

[2018-11-09 18:14] brittanygay commented on #159
@Mcscott142 I think the AC was checked off incorrectly: the only thing that's left is the auto rise of the scrollable area that @daybreaker was going to look into to see if it was an easy win

[2018-11-09 18:15] Mcscott142 commented on #159
If @chas-mcmahon has any time left, maybe y'all can pair on that. @brittanygay

[2018-11-09 18:16] daybreaker commented on #159
It isnt really even required... Its a nice-to-have.

Maybe we should split it off into a new ticket with the note that its in the `159-style-issues` branch.

[2018-11-09 18:21] Mcscott142 opened #266 "Attendee - Checkout - Auto Rise"
## Background
A nice to have. This has been worked somewhat on [159-style-issues](https://github.com/revelrylabs/bn-mobile-react/tree/159-style-issues) branch. Check it out to continue. See comments and first AC on #159.

Scenario: A designer updates the Checkout page.
- [ ] When you arrive at this view the scrollable area should auto rise up to the top to expose more of the summary form (can go a

[2018-11-09 18:22] Mcscott142 commented on #159
Moved first AC into https://github.com/revelrylabs/bn-mobile-react/issues/266. Moving this to QA.

[2018-11-09 23:35] #214 closed

[2018-11-12 15:51] daybreaker commented on #140
To test, you can view the name of the ticket type selected on the following checkout details page.  Price isnt being carried over yet (part of an upcoming ticket)

[2018-11-12 17:15] Mcscott142 commented on #238
AC updated. @zmelamed In order to get some sample QR codes/tickets while we work this, guessing we just go to the Web App and purchase some tickets with sample users?

[2018-11-12 19:41] brittanygay commented on #238
@chas-mcmahon let me know when this is ready for a design pass!

[2018-11-12 22:11] zmelamed commented on #238
Yes I think that'd be the best way to do this. Let me know if you have issues working with the staging web app.

[2018-11-13 19:18] brittanygay commented on #229
Pulling this in to start stubbing out. I believe I can set up this new screen now that Chas has given me an overview of how to set them up. I'll holler if I come across any issues.

[2018-11-13 23:37] brittanygay commented on #229
**Update**:
@chas-mcmahon and I paired to get the new screen set up for the Venue Show page, and I'm almost done stubbing out the content. I plan to finish this up tomorrow.

[2018-11-14 18:21] brittanygay commented on #229
**Update**:
I stubbed out styles for the Venue Show page. Passing over to a developer to set up the Upcoming API section.

[2018-11-14 22:17] brittanygay commented on #238
@chas-mcmahon I just pushed up the styles for the scanner messages. Each icon uses a different class, so there's `messageIconError`, `messageIconSuccess`, and `messageIconCancel`. I sent you the links to the Material Icons that we can use for Success and Cancel. Let me know if you need anything else!

<img width="349" alt="screen shot 2018-11-14 at 4 15 11 pm" src="https://user-images.githubuserco

[2018-11-15 17:02] brittanygay commented on #252
Pulling this in to start working next

[2018-11-15 18:22] chas-mcmahon commented on #238
Got a few updates about the state of ticket scans

1) The basic Success/Already Redeemed/Error messages are all hooked up to the api and displaying the icons and copy from the mocks. The icons are the closest approximations I could find, but they should be good enough for now. I'm not going to have time to integrate the animation.

2) I commented out the guest info stuff at the bottom of the mocks

[2018-11-16 05:13] daybreaker commented on #263
I'm generating an API Token from the bn-web app locally, and passing them in to the mobile app.  I need to get a PR in for those changes before the PR for this ticket can go through, though

[2018-11-16 18:15] zmelamed commented on #238
@krakaw 2) Associating a profile with a ticket when it's scanned--when/how will the client retrieve the guest info to be displayed related to the ticket scan? Will/should the device already have all the info it needs locally (per the requirement of being able to view a list of guests and their associated tickets for manual checkin)? We may need to sequence diagram the various flows relative to API

[2018-11-16 18:47] daybreaker commented on #263
Oh, also, right now there's only one payment type: Stripe.

I saved the old payment mockup for reference when we eject and add more payment types.

[2018-11-16 20:15] brittanygay commented on #82
This bug is fixed but I found a new bug on the Event Show screen for the icons. Making a new ticket and moving this to QA.

[2018-11-16 20:39] brittanygay opened #274 "Android Bug - Event Show Screen - Icons Getting cut off"
The Gray Icons to the left of each Category Description on the Event Show screen are getting cut off. We need to put in a fix for this.

- [ ] Fix Icons so they are no longer cut off
- [ ] Remove border sitting directly under "I'm Interested" and "Share Event" buttons

Current View:
![screenshot_20181116-143611](https://user-images.githubusercontent.com/14582709/48646129-7bc62f80-e9ad-11e8-854a-d6

[2018-11-16 20:43] brittanygay commented on #274
Pulling this in to knock out

[2018-11-19 17:39] brittanygay commented on #274
Updated the AC to include the removal of the border under the buttons

[2018-11-19 18:46] brittanygay opened #276 "Design - Android Bug - Explore Screen Padding/Alignment Off"
The Explore Screen alignment/padding is way off on Androids. We need to put a fix in for this asap.

![screenshot_20181119-114723](https://user-images.githubusercontent.com/14582709/48727961-431a9600-ebf9-11e8-9e08-81b5568043e6.png)

[2018-11-19 18:48] brittanygay opened #277 "Design - Android Bug - Remove Bottom Border on Inputs"
We need to remove the un-needed bottom border on all inputs throughout the app, shown on Androids only.

![screenshot_20181119-114839](https://user-images.githubusercontent.com/14582709/48728049-807f2380-ebf9-11e8-8656-5e42387c19d8.png)
![screenshot_20181119-114932](https://user-images.githubusercontent.com/14582709/48728050-807f2380-ebf9-11e8-804e-a01bc2a4c9da.png)

[2018-11-19 19:06] brittanygay opened #278 "Design - iOS and Android - Lengthen the Ticket Transfer Modal Height"
The height of the Modal for Ticket Transfers is too small, and it needs to be lengthened to show more information and match up to the mocks.

Current View:
![screenshot_20181119-115242](https://user-images.githubusercontent.com/14582709/48728953-0a2ff080-ebfc-11e8-9925-0bc4e845c70c.png)

Screenshot of Mock:
<img width="254" alt="screen shot 2018-11-19 at 1 06 04 pm" src="https://user-images.github

[2018-11-19 19:19] brittanygay commented on #274
Bug fixes are now complete. Once deployment is complete this will be ready for QA.

[2018-11-19 19:33] Mcscott142 opened #279 "Keyboard hides Account Sign Up Fields"
When signing up for an account, the Keyboard is covering up inputs. The fields should be visible and selectable as they are filled out. We can resolve this by breaking up the onboarding into a few steps if need be.

Repro Steps
1) Select Get Started
2) Begin filling out fields
3) Password field is hidden beneath the keyboard
4) Keyboard must be closed in order to select input field

[2018-11-19 19:40] brittanygay commented on #231
My Android is charging at the moment so I'm pulling this in to knock out before hopping back on Android bugs.

[2018-11-19 19:41] Mcscott142 opened #280 "My Tickets - Initial Ticket not showing in View on Load"
When navigating to My Tickets and then selecting an Event, the first ticket does not show on initial load.

Reproduction Steps
1) Select My Tickets
2) Select an Event
3) Only the background is showing
4) Swipe to View other tickets
5) The Ticket w/ QR code then comes into view

[2018-11-19 19:51] Mcscott142 opened #281 "Developer - My Tickets - Connect API"
## Background
We need to hook up the My Tickets piece for a user with tickets they have purchased. They will need to access them from here to be Scanned when attending an event.

## Scenario: A user selects my tickets
Given I have purchased tickets either through the App or Big Neon Web
- [ ] When I select My tickets
- [ ] Then I see tickets to the actual events I have purchased
- [ ] And I can se

[2018-11-19 20:29] Mcscott142 commented on #200
They are all currently showing as invalid but this messaging is there sans the User callout.

[2018-11-19 20:39] Mcscott142 commented on #140
I can confirm that the Ticket types are pulling from the API. I think we may have lost a transition/animation once you select `get tickets`. For reference: https://vimeo.com/291552558. @brittanygay Is that something you may be able to look into or is that a Brad thing?

[2018-11-19 20:43] brittanygay opened #283 "Design - iOS and Android - Add Spacing Below Last Item on Screen"
The last item in this on the Explore View and Ticket Wallet  requires the normal item spacing between the top of the bottom nav and the bottom of the item/there needs spacing under the last item so the BottomNav doesn't come close to overlapping.

- [ ] Fix Spacing issue Explore Screen
- [ ] Fix Spacing issue Ticket Wallet view

Current View:
![file](https://user-images.githubusercontent.com/14582

[2018-11-19 21:16] brittanygay commented on #140
@Mcscott142 I think this is something we may both have to look into since we are adding another animation.

[2018-11-19 21:22] brittanygay commented on #231
Truncate updates have been reviewed and merged. This will be ready for QA after the next deployment

[2018-11-19 22:50] brittanygay commented on #283
Updates are now approved and merged. This will be ready for QA after the next deployment.

[2018-11-20 18:02] brittanygay commented on #277
Working on this next

[2018-11-20 19:01] brittanygay commented on #276
Updates have been approved and merged. This will be ready for QA after the next deploy

[2018-11-20 20:12] brittanygay commented on #277
Updates have been approved and merged. This will be ready for QA after the next deploy

[2018-11-20 22:12] brittanygay commented on #85
**Update**:
I'm still trying to find a solution to this bug, the header styles are a little tricky without messing up anything on iOS devices.

Resource: https://github.com/react-navigation/react-navigation/issues/758

[2018-11-21 07:38] daybreaker commented on #264
Currently have a cart object being created, have tickets being added, quantity can be updated, fees are being shows, stripe token is stored...

Tomorrow I just need to get it to submit the cart as an order!

[2018-11-21 15:37] Mcscott142 commented on #238
Meant to drop an update here yesterday. We need live and past events to QA this but having trouble creating Events on big neon staging.

[2018-11-21 16:38] brittanygay commented on #85
After doing some research on Android Platform stuff, I legitimately can't figure out how to set this up on the `headerTitle` class in `/Accounts/routes.js`.

All I need to do is add `android:paddingLeft="#"` on the `headerTitle`, but I'm going to need to pair with a developer.

Putting this back down for now and moving onto another bug ticket so I don't waste anymore time.

[2018-11-21 17:09] brittanygay commented on #278
Pulling this in to work on next

[2018-11-21 18:18] brittanygay commented on #84
Pulling this in to work on next

[2018-11-21 18:36] brittanygay commented on #278
Updates have been merged. This will be ready for QA after the next deploy

[2018-11-21 20:12] Mcscott142 commented on #238
A fix was pushed so we could create events to test but I'm still having some issues. I can save a Draft event but I'm unable to publish an event with a relatively close start time to see if the Scanning is working on valid, live events.

[2018-11-22 01:43] Krakaw commented on #238
I have prioritized big-neon/bn-web#420 for first thing today, hopefully that will resolve these issues.

[2018-11-22 02:30] Krakaw commented on #238
Requires big-neon/bn-api#581

I think we should cache https://big-neon.github.io/bn-api-node/classes/_resources_namespaced_event_guests_.eventguestsresource.html#index on the device in case of internet connectivity issues.

We might need to change the endpoint to take an event_id as well big-neon/bn-api#581

[2018-11-26 10:24] Krakaw opened #288 "Doorman - Scanner - Redeem endpoint response has changed"
The endpoint for redeeming a ticket has changed.

- Redemption is tied to an `event_id`
- bn-api-node endpoint has changed to `server.events.tickets.redeem`
- The endpoint requires, `{ event_id, ticket_id, redeem_key}`

On Success
`Response Code: 200`
The response body is:
[code]
If the ticket has been scanned already
`Response Code: 409`
The response body is:
[code]
If it is invalid
`Response Cod

[2018-11-26 16:14] #288 closed

[2018-11-26 18:59] Mcscott142 opened #290 "Migrate App to Big Neon owned Accounts"
## Background
We need to set migrate the application over to the Big Neon owned Google Play and Apple Accounts.

Google Play looks like you have to contact support: https://support.google.com/googleplay/android-developer/answer/6230247?hl=en

App Store Connect seems straightforward but I(@Mcscott142) don't have the right access.
- http://giacomoballi.com/itunes-connect-app-transfer-to-another-acco

[2018-11-26 19:05] Mcscott142 opened #291 "Explore -Sections/Features to Remove"
## Background
We are not currently ready to implement a few sections already mocked out on the Explore page. We need to remove them from the view but save the implementation so we can revisit on a later iteration.

## Scenario: A user logs into Big Neon
Given I am logged in
- [ ] When I land on the Explore page
- [ ] Then I don't see
	- [ ] The Search field
	- [ ] The `Hot this Week` event

[2018-11-26 19:21] Mcscott142 opened #292 "Account - Sections/Features to Remove"
## Background
There are a few sections on the Account page we need to remove/hide for launch as they will not be completed prior to Dec 17th.

## Scenario: A user logs into Big Neon
Given I am logged in
- [ ] When I land on the Account page
- [ ] Then I don't see
	- [ ] The `Tap to add a cover photo` text (Leave Gradient)
	- [ ] The users Avatar
	- [ ] The Notifications link
	- [ ] the Order Histo

[2018-11-26 19:49] Mcscott142 opened #294 "Login - Remove other Login options"
## Background
We aren't going to have Facebook or SMS login available for launch. We need to remove them from the Screen but save the implementation so we can add it back on later iterations.

## Scenario: A User logs into Big Neon
- [ ] When I select `Login to your Account`
- [ ] Then I do not see
  - [ ] Facbook login option
  - [ ] SMS login option

[2018-11-26 20:05] brittanygay opened #295 "Remove Scrollbars from all Scrollable Views"
We need to remove the Scrollbars from all Scrollable Views, such as the Explore Screen and Ticket Wallet view.

[2018-11-26 20:08] brittanygay commented on #85
Updates for the bug on Android have been approved and merged. This will be ready for QA after the next deploy

[2018-11-26 20:45] Mcscott142 commented on #290
@zmelamed Can you provide us with the Developer account info for the transfer? For iTunes connect we need the Apple ID and Team ID. For Google Play we need an email address and transaction ID. More details [here](https://support.google.com/googleplay/android-developer/contact/appt)

[2018-11-26 20:45] zmelamed commented on #290
Is there an account I can just invite to both as admins to do whatever is required?

[2018-11-26 20:51] Mcscott142 commented on #290
@zmelamed You should be able to add us both colin@revelry.co and daybreaker@gmail.com to your organization for itunes connect and google play store as admins. I'm not sure we'll have access to that transaction id for the google app xfer but we can see once we get logged in.

@daybreaker, that's ^ the email you use for the stores right?

[2018-11-26 22:57] jwietelmann commented on #280
Found the probable cause: https://github.com/archriss/react-native-snap-carousel/issues/238

Going to try the `triggerRenderingHack` method as a solution: https://github.com/archriss/react-native-snap-carousel/blob/master/doc/PROPS_METHODS_AND_GETTERS.md#available-methods

[2018-11-26 23:03] jwietelmann commented on #280
`triggerRenderingHack` didn't seem to work :/

[2018-11-26 23:05] jwietelmann commented on #280
`removeClippedSubviews={false}` works!

[2018-11-26 23:12] brittanygay commented on #252
Updates have been approved and merged. This will be ready for QA after the next deploy

[2018-11-27 14:08] #258 closed

[2018-11-27 14:08] #196 closed

[2018-11-27 14:08] #159 closed

[2018-11-27 14:08] #210 closed

[2018-11-27 14:08] #209 closed

[2018-11-27 14:08] #215 closed

[2018-11-27 14:08] #165 closed

[2018-11-27 14:08] #211 closed

[2018-11-27 14:08] #171 closed

[2018-11-27 14:14] Mcscott142 commented on #279
The form is now scrollable with the Keyboard present.

[2018-11-27 14:17] #231 closed

[2018-11-27 14:18] #283 closed

[2018-11-27 14:20] Mcscott142 commented on #252
Blocked on QA until #281 is complete.

[2018-11-27 14:21] #280 closed

[2018-11-27 14:21] #279 closed

[2018-11-27 14:33] Mcscott142 commented on #238
@Krakaw I can create an Event but now I'm having issues purchasing a ticket to be scanned. I can select a Qty but the purchasing of the tickets is unresponsive. See below.

![2018-11-27 08 31 23](https://user-images.githubusercontent.com/6877299/49088475-f9483600-f21e-11e8-9753-21f9a417ebda.gif)

[2018-11-27 14:33] Mcscott142 commented on #201
Marking as Blocked, see https://github.com/revelrylabs/bn-mobile-react/issues/238#issuecomment-442079042

[2018-11-27 14:37] Mcscott142 opened #301 "Account / Billing Information - Remove Venmo Option"
## Background
We need to hide the Venmo option for payment in the App. For this first run, we'll only be using Stripe as a payment.

## Scenario: A user adds a payment option
- [ ] When I select Billing from within my account
- [ ] Then I do not see an option for a Venmo payment method

[2018-11-27 14:40] Mcscott142 opened #302 "My Tickets / Ticket - Remove Wallet and Transfer Options"
## Background
Transferring tickets and adding them to the Apple/Google Wallets will not be ready for the initial launch. We need to remove them.

## Scenario: A user views their ticket
- [ ] When I look at my ticket
- [ ] Then I do not see
  - [ ] Add to Wallet
  - [ ] Transfer Ticket

[2018-11-27 14:41] Mcscott142 commented on #302
I'm not sure if this is as simple as hiding those options or will require some design tweaks. Marked it 2 points, feel free to change whoever picks this up.

[2018-11-27 16:20] jwietelmann commented on #243
Brad says that hypothetically, if he remembers correctly, what's left is:

* Updating account info from mobile app
* Displaying account info instead of hard coded values (we are already fetching real account data)

[2018-11-27 16:22] jwietelmann commented on #263
Brad says there's something here to do with extra security that was placed on the staging site that is currently breaking this.

[2018-11-27 19:00] Krakaw commented on #238
@Mcscott142 It's a bug with 0 value items not adding to the cart big-neon/bn-api#606, you can use https://staging.bigneon.com/events/4c6e824d-566f-42e5-9da0-692e153205a6 instead.

[2018-11-27 20:06] brittanygay commented on #234
Since we removed this screen for the time being, I'm putting this back in the Icebox and picking up a ticket from Up Next

[2018-11-27 20:07] brittanygay commented on #295
Picking this up to do some research/see if this is an easy fix.

[2018-11-27 20:32] jwietelmann commented on #243
Working on the update stuff

[2018-11-27 22:07] jwietelmann commented on #243
I think I have it working, but I don't think the password update works on the web side. To be honest I think this might be a kind of bad UI in which to update a password anyway. Usually you'd use a separate form for that.

@zmelamed Should I just remove the password from the account screen for this go-around?

[2018-11-27 22:08] brittanygay commented on #295
Updates have been reviewed and merged. This will be ready for QA after the next deploy

[2018-11-27 22:12] jwietelmann commented on #243
actually... @zmelamed I'm calling my shot. I'm removing the password input from the account screen. If the web API starts working, we can try putting it back. Until then it's turned off.

[2018-11-28 00:03] daybreaker commented on #263
Ugh, yeah. Keith had whitelisted the Revelry IP, but thats not going to help for testing from outside of Revelry is it? We might have to go back to basic auth

[2018-11-28 17:59] brittanygay commented on #84
We removed the Profile Avatar until functionality is implemented. Putting this back into the backlog and working on other critical bugs that need my attention until this is ready to be implemented.

[2018-11-28 18:00] brittanygay commented on #302
Going to pick this up because it most likely requires a few design tweaks upon removal.

[2018-11-28 18:09] brittanygay opened #307 "Ticket Carousel Modal Overflows StatusBar (Android)"
The Modal on the Ticket Carousel overflows the StatusBar/Header Bar on Androids. We need to fix the height by potentially making the QR code section smaller.

**Note**:
This will not be an issue until the "Add to Wallet" and "Transfer Tickets" buttons are added back (we are removing them in #302)

[2018-11-28 21:53] Mcscott142 commented on #290
@daybreaker How do we want to do this? Straight up transfer what we have? Set up a new pipeline to a new app with the original bn-mobile-react repo? Trying to think of the easiest transition.

[2018-11-28 22:11] daybreaker commented on #290
I think we should continue developing on our fork, and do PRs into big-neon/bn-mobile-react often. Then they can set up deployments from big-neon/bn-mobile-react#master to those stores.

I'm not sure of the best way for us to set up deploys. There's nothing really to "transfer". [I'm using a script](https://github.com/revelrylabs/bn-mobile-react/blob/develop/deploy) that just runs some expo and fa

[2018-11-29 06:47] daybreaker commented on #281
Have the ticket index wired to the API and displaying everything properly. The API response was a bit weird, but I think I have it.

Tomorrow need to get ticket show going. We have everything we need for that, though I may need to make some extra API calls to get the redeem_key for each ticket, since that data doesnt come back in the index response on the ticket objects. redeem_key is the only mis

[2018-11-29 16:30] jwietelmann commented on #243
Currently stuck on the doorman bit. Not sure how to make myself a doorman in order to test. I don't even know what the "you are a doorman" flag in the data will look like.

[2018-11-29 16:30] jwietelmann commented on #243
@Mcscott142 Please unblock somehow. In the meantime I'm doing code reviews.

[2018-11-29 16:55] Mcscott142 commented on #243
@jwietelmann I'm willing to bet it's something with this line right here from the Web App: https://github.com/big-neon/bn-web/blob/master/src/stores/user.js#L299.

[code]

@zmelamed or @Krakaw Can one of you confirm this will be the check for whether a user has access as a Doorman?

@jwietelmann feel free to break this out into another issue until we get an answer if this is the only thing holding

[2018-11-29 17:24] daybreaker commented on #243
orgMember might be what we need? Though that still might allow too many permissions compared to what they want to allow "doormen" to have.

[2018-11-29 17:29] jwietelmann opened #309 "Developer - Account - Expose doorman tools only to doormen"
## Background

Doormen scan and verify tickets before allowing entry to attendees. They use the same app as the attendees do, but based upon their user permissions, we give them extra tools to do this job.

This issue was broken out from #243.

## Scenario: A doorman user opens the Account
Given I have Doorman permissions
- [ ] When I view my account
- [ ] Then I can see the Doorman option
Given I

[2018-11-29 17:31] jwietelmann commented on #309
We still need to figure out how to grant/revoke ourselves doorman permissions so we can test this properly.

[2018-11-29 17:32] jwietelmann commented on #243
I broke out the doorman bit and put it in the Up Next column, @Mcscott142. Moving this over to QA.

[2018-11-29 17:33] jwietelmann commented on #238
@Mcscott142 you're hypothetically unblocked by this. ^ I'm removing the blocked label.

[2018-11-29 17:33] jwietelmann commented on #201
Unblocked by comment on #238.

[2018-11-29 17:50] brittanygay commented on #302
Updates are approved and merged. Ready for QA after next deploy

[2018-11-29 18:03] brittanygay commented on #301
I'm going to pull this in to see if I can properly remove the payment option.

[2018-11-29 18:07] Krakaw commented on #243
I need to confirm, but in the user profile of you have, OrgMember, OrgOwner, Admin you'll have access. However if you hit the `server.events.checkins` endpoint and get a 200 status and data result you have the authority to scan people in.

[2018-11-29 20:19] zmelamed commented on #243
@Krakaw I think the key here is an endpoint that returns events that a user has authority to manage, and using that to determine what actions can be taken (this is seperate from the normal events index call). If the managed events endpoint returns empty we can just have an empty state for the doorman features that says "This account does not have the authority to manage any events at this time." I

[2018-11-29 20:56] brittanygay commented on #255
Just an FYI, the design is stubbed out for this, we just need to add functionality.

[2018-11-29 21:01] zmelamed commented on #290
We can hop on a call to discuss this, we don't have someone on our team that would be able to hop in and set up deployments and the release pipeline, we'll need to lean on you guys to help us with that so you should have received admin invites, or tell us exactly what to do and I can do it, but that may be harder than just doing it.

[2018-11-29 21:06] brittanygay commented on #197
There is still a lot of the UI that needs to be stubbed out for these screens, but I will most likely need to pair with a dev/get these screens set up before I can style them.

[2018-11-29 21:29] Krakaw commented on #243
@zmelamed of the `server.events.checkins` returns a 4XX it means they don't have the authority to check-in.

[2018-11-29 21:44] zmelamed commented on #243
@Krakaw But how do they show the list of events that they have the authority to check people into?

[2018-11-29 22:52] Mcscott142 commented on #238
Maybe the Event in that link ^ has passed or has been removed, sorry I'm just now getting to it.

I'm still having difficulty testing the Scanning. I can only access QR codes for Events that have not started so I'm unable to test the successful and previously scanned states.

I can now create an event in the Web App but I'm unable to purchase tickets for it as stated above. The last comment says i

[2018-11-30 01:08] zmelamed commented on #243
@Krakaw nevermind, I just checked the docs, seems that's exactly what we need.

[2018-11-30 03:37] Krakaw commented on #238
@Mcscott142 There is a bug on the frontend with 0 value items big-neon/bn-web#451 if you give the event a price it will work. There is also currently no limit on how early you can scan the tickets (this is currently a bug in bn-api big-neon/bn-api#614)

[2018-11-30 14:03] Mcscott142 opened #311 "Attendee - My Tickets - Fix purchased ticket animation"
## Background
Through the checkout flow work, we lost the animation for My Tickets when a new ticket is purchased. This ticket is for the animation after purchasing a ticket on the My Tickets screen. Look at 0:45 second mark in this [video](https://vimeo.com/291552558) pass is `t@ri`.

## Scenario: A user selects Purchase Ticket
- [ ] When I Purchase a ticket
- [ ] Then I'm redirected to My Ticket

[2018-11-30 14:03] Mcscott142 commented on #281
Created a ticket to resolve that, lets get this into Staging.

[2018-11-30 14:04] Mcscott142 commented on #281
@daybreaker Created a ticket to resolve that, let's get this into Staging. https://github.com/revelrylabs/bn-mobile-react/issues/311

[2018-11-30 14:44] Mcscott142 commented on #238
Ok, able to edit some events with start times. I don't think the Scanning is functioning properly. The only message I am able to get is `We Found an Issue` when Scanning a QR code. Moving this back to have someone check it out.

Reproduction Steps:
1) Logged into [BN Staging Web App](https://staging.bigneon.com)  with an account created via the App `colin@revelry.co`
2)  Purchased Ticket to `Fancy

[2018-11-30 14:45] Mcscott142 commented on #201
Pushed back from QA. See comment on https://github.com/revelrylabs/bn-mobile-react/issues/238#issuecomment-443224446

[2018-11-30 15:00] Krakaw commented on #238
@Mcscott142 it is a permission issue, try logging into the scanner app using `superuser@test.com` and `password` I'll look into why a normal user can't scan.

[2018-11-30 15:15] Mcscott142 commented on #238
Ah, yes, Thank You! @Krakaw. I got the valid response as superuser.

[2018-11-30 15:16] Mcscott142 commented on #238
Moving to QA, you must be signed in as superuser@test like the above comment suggests but the Scanning is functioning for Valid tickets.

[2018-11-30 15:18] Mcscott142 commented on #201
The valid ticket scans are good to go. I'm still not getting the `Already Redeemed` message on an already scanned ticket, I get `We found an Issue` so leaving this one pushed back.

[2018-11-30 16:27] daybreaker opened #312 "Show transferred tickets in My Tickets - Transferred tab"

[2018-11-30 16:33] daybreaker commented on #255
Will they be able to open this up to view ticket info, or is this going to be a static card?

If its static, thats better, since I only need to update the index to tun off the navigate('TicketShow') for these.   If they can open it back up, to see individual tickets, we'd need to redesign it to remove the blank space where the QR code wouldve been.

(I have the same question for transferred ticket

[2018-11-30 17:10] Mcscott142 commented on #255
@daybreaker I believe in some future version the QR code will be removed and replaced with some other info about the event. For now roll with:

[2018-11-30 17:17] zmelamed commented on #255
Is it just as easy to leave the square where the qr code is is just empty if the tickets in past or transferred. The issue is it’ll feel broken if a user  tries to click on the cards in past and transferred and nothing happens.

If that’s significantly more work, then just showing a system dialog that says “This event has ended.” Or “These tickets were transferred” would be my next vote. Then if t

[2018-11-30 19:09] zmelamed opened #314 "Links to terms of use and privacy policy"
## Background
When creating an account there us mention of the Big Neon Privacy Policy and Terms of Service. We need to link that to the actual Big Neon Privacy policy

## Scenario: A user selects `Get Started` to create an account
Given I have selected Get Started
- [ ] When I click on `Terms of Service`
- [ ] Then I am directed to or shown the content from https://www.bigneon.com/terms.html
- [

[2018-11-30 19:13] zmelamed opened #315 "Attendee - Event Detail - Share Event"
## Background
Users need the ability to share an Event via the normal app methods.

Expor Share docs: https://docs.expo.io/versions/latest/react-native/share

Message to share:

url:  [link to Big Neon event page]
title: [Event Title] at [Venue Name]
subject: [Event Title] at [Venue Name]
dialogTitle: [Event Title] at [Venue Name]

## Scenario: A user shares an Event
Given I am on the Event Detail

[2018-11-30 19:15] zmelamed opened #316 "Attendee - Venue - Directions to Venue"
## Background
Instead of linking to the venue detail, for now we'll link the Venue name to the native app for directions.

possible solution - NPM package for Maps: https://www.npmjs.com/package/react-native-open-maps

## Scenario: A user views their ticket
Given I have selected the detail for one of my tickets
- [ ] When I select `Get Directions`
- [ ] Then my native Map opens with directions to

[2018-11-30 19:17] zmelamed opened #317 "Attendee - Event Detail - Activate I'm Interested button"
## Background
The `I'm Interested` button on Event detail needs to be functional, whether it is selected on the Event Detail or from the Explore page.

## Scenario:  A user selects I'm interested on Event Detail
- [ ] When I select `I'm Interested`
- [ ] Then that button has a style change letting the user know it has been marked.

## Scenario: A User selects I'm interested on Explore page
Given I

[2018-11-30 19:37] zmelamed opened #318 "Externally ticketed events should link to the external url in a web view"
Some events will be listed on the platform, but ticketed externally. There will be an is_external attribute and external_url attribute sent back with the event object once this issues is complete: https://github.com/big-neon/bn-api-node/issues/241

For any event that is externally ticketed, the action should say "Get Tickets via Web" and open a browser to the link provided.

No prices should be li

[2018-11-30 19:56] zmelamed opened #319 "If no ticket types are returned for an event, don't show pricing, and show unavailable message instead of ticket type selector"

[2018-11-30 19:57] zmelamed commented on #319
![empty tix](https://user-images.githubusercontent.com/456953/49311803-0b340e00-f497-11e8-8bf2-e0b01edd1087.png)

[2018-11-30 19:58] daybreaker commented on #319
Already hiding pricing, so I just need to use the existing hasTickets function to show that screen instead.

[2018-11-30 20:17] zmelamed opened #320 "The Event Detail page Action Button should display the event status as the text, and disable for certain status's"
connected to big-neon/bn-web#473

Event status's will be set on the backend as:
On Sale Soon
Purchase Tickets
Sold Out
Tickets at the Door
Free
Rescheduled
Cancelled
Off-sale
Ended
Code Required

If event status is one of the following, change the color of the action button to #8E8E93 and disable the click action:
Rescheduled
Cancelled
Off-sale
Ended

[2018-11-30 20:31] zmelamed commented on #315
Did you mean to comment and move #317?

[2018-11-30 20:34] brittanygay commented on #315
Oops! Picked up the wrong ticket. Thanks for catching that!

[2018-11-30 20:34] brittanygay commented on #317
Adding styles for this now and then passing over to @daybreaker to activate

[2018-12-03 14:56] Mcscott142 commented on #317
Updated description. I should point out that we don't currently have anywhere to actually view a user's "interested" events.

[2018-12-03 15:09] Mcscott142 commented on #314
Updated AC, @zmelamed Those links are 404, is that 100% where they will be located? or are they just incorrect links? Blocking for now, we can implement with those links but want to make sure they are the correct ones before proceeding.

[2018-12-03 15:22] Mcscott142 commented on #316
Updated AC, marked SCORE

[2018-12-03 15:32] Mcscott142 commented on #201
@jwietelmann FYI, this problem may be based on the API return, see comment above. If that is the case once you dig in, just mark blocked.

[2018-12-03 17:32] daybreaker opened #323 "Bug - Max ticket quantity"
When the customer is selecting tickets, the max quantity needs to account for any previously-purchased tickets of the same ticket type.

ie: If a user can only buy 4 VIP tickets, and had previously purchased 2, hey should only be allowed to increment the ticket selector to 2.

Right now, they can increment it to 2, but incrementing to 3 throws an invalid quantity error in the API.

We need to acco

[2018-12-03 17:53] Krakaw commented on #318
Waiting on big-neon/bn-api#632 and big-neon/bn-api-node#244 to be merged

[2018-12-03 18:08] zmelamed commented on #317
There won't be a way to view events you're interested in. Indicating that
you're interested in an event will activate relevant notifications (such as
an event status change, or when an event is almost sold out), a friend
being interested in the event, etc. Though we're not setup with all of
those features, or user feedback to indicate that is what they're opting
into, we want to be able to start b

[2018-12-03 18:10] zmelamed commented on #314
Yep, those will be going live this week along with our coming soon page.
You can add those even though they're currently 404ing.

[2018-12-03 18:42] Mcscott142 opened #324 "Attendee - Ticket Detail - Screen Clean Up"
## Background
Since we're not using Avatars on the first go-round we should remove the placeholder Avatar on the Ticket detail screen.

## Scenario: A user selects their ticket to view  details
- [x] When I view one of my tickets details
- [x] Then I do not see a mock avatar
- [x] And the Ticket details with QR code fits within the screen

![image from ios](https://user-images.githubusercontent.co

[2018-12-03 18:50] Mcscott142 opened #325 "Attendee - My Tickets - Tickets not showing after purchase"
## Background
After purchasing ticket(s), they are not showing un the `My Tickets` section until after the Application is reloaded. They should show up immediately on page load.

related to #311

[2018-12-03 18:57] Mcscott142 commented on #264
Able to purchase the tickets. Created a couple of other issues around completing the Checkout flow. #325 and #311. Moving this one to UAT.

[2018-12-03 18:57] #218 closed

[2018-12-03 19:01] Mcscott142 commented on #281
API pulls tickets to My Tickets, but not immediately. Created #325 and #311 to address. Moving to UAT.

[2018-12-03 19:02] Mcscott142 commented on #263
Working for me. Moving to UAT.

[2018-12-03 19:07] Mcscott142 commented on #263
Scratch that, moving this one back to catch error when CC info is not filled out.

Reproduction Steps:
1) Enter only CC number
2) Submit form
3) Hangs up with an Authorizing message

We should either disable the button if all fields are not filled in, or catch the error then reload screen with an alert.

[2018-12-03 19:14] #265 closed

[2018-12-03 21:17] brittanygay opened #330 "Bug - Account Screen - Touchable Highlight Target Area Bug"
The Touchable Highlights on the Account Screen have really small target areas. We need to fix this so the user can click anywhere on the button to perform each action.

Buttons to fix:
- Save Changes
- Sign Out

![img_2839](https://user-images.githubusercontent.com/14582709/49402131-ad116000-f70e-11e8-896f-bfc2e5b58815.PNG)

[2018-12-03 21:22] brittanygay opened #331 "Bug - Event Details - Touchable Highlight Target Area Bug"
The Touchable Highlight for the Close Button on the Event Details Screen has a really small target area. We need to fix this so the user can easily close out.

Buttons to fix:
- Close Button on the top left

![img_2840](https://user-images.githubusercontent.com/14582709/49402332-404a9580-f70f-11e8-96e9-9067999c2683.PNG)

[2018-12-03 21:28] brittanygay opened #332 "Bug - Checkout Userflow - Touchable Highlight Target Area Bug"
The Touchable Highlight for the Back Buttons on the Event Details Checkout Userflow has a really small target area. We need to fix this so the user can easily close out.

Buttons to fix:
- Back Buttons on the top left

![img_2841](https://user-images.githubusercontent.com/14582709/49402688-1e9dde00-f710-11e8-82fd-b66fb70da82d.PNG)
![img_2842](https://user-images.githubusercontent.com/14582709/4940

[2018-12-03 22:07] jwietelmann commented on #97
Seems like locations are `regions` in the API but none of that is done? the `region_id`s on all my events' venues are `null`. Our locations in the app are hardcoded. And when I call `regions.index()` on the API client I get back an empty array.

cc @zmelamed

[2018-12-03 22:10] Mcscott142 commented on #97
cc @Krakaw, see above comment.

[2018-12-03 22:30] daybreaker commented on #263
Joel - is it not sending back a postMessage on validation error?

Anyways, we'll probably need to be the ones to fix that by pulling down big-neon/bn-web and adding it, since we added the embdedded form.

[2018-12-03 22:31] jwietelmann commented on #263
i got a `postMessage` for "the card is invalid" once but i experienced the hanging app thing a bunch of times, and in every case a `postMessage` never arrived.

[2018-12-04 02:54] Krakaw commented on #97
Connects big-neon/bn-api-node#245

[2018-12-04 18:20] daybreaker opened #334 "Invalid Date Time when “Doors Open” time not present (use show start time)"

[2018-12-04 21:06] brittanygay commented on #331
Pulling this in to work on next

[2018-12-04 21:06] brittanygay commented on #330
Bug updates have been reviewed and merged. This will be ready for QA after the next deploy

[2018-12-04 22:10] daybreaker commented on #290
Have a deploy_staging script that builds the app using the staging Release Channel, and pushes to the alpha track in Google, and the Apple Connect Store.

Next steps:

- Write up the steps for Keith and Zach to follow to see if they can get the deploy to work.
- Pair with @jwietelmann to get env-specific config vars working

[2018-12-04 22:11] jwietelmann commented on #263
blocked until this is merged: https://github.com/big-neon/bn-web/pull/494

[2018-12-05 02:36] Krakaw commented on #290
Connects to big-neon/bn-api#620

[2018-12-05 15:01] Krakaw commented on #320
The status is defined in event.override_status the defined enum is https://big-neon.github.io/bn-api-node/enums/_interfaces_resources_event_interface_.overridestatus.html
Waiting on big-neon/bn-api#664 to be merged in and I'm busy with big-neon/bn-web#473 so it can be tested more easily.

[2018-12-05 20:09] daybreaker commented on #255
It would probably just take a little design work to make the space where the QR code was to remain empty but still have a static height. @brittanygay

[2018-12-05 20:35] brittanygay commented on #255
How about we add an Empty state in place of where the QR code was to either say "This event has ended" or "These tickets have been transferred"? That way it's not just a blank space and instead it's informing the user. This should be an easy design update on my part.

[2018-12-05 21:06] brittanygay commented on #332
Bug fix is connected to #331 (PR out for fix here: https://github.com/revelrylabs/bn-mobile-react/pull/337)

[2018-12-05 21:07] brittanygay commented on #324
Pulling this in to start on

[2018-12-05 21:14] brittanygay commented on #331
Updates have been merged. This will be ready for QA after the next deploy.

[2018-12-05 21:14] brittanygay commented on #332
Updates have been merged. This will be ready for QA after the next deploy.

[2018-12-06 00:58] zmelamed commented on #97
The header label that appears when you scroll on the explore view needs to also update to reflect the selected region. Right now it's static "Los Angelas, CA"

[2018-12-06 06:59] daybreaker commented on #317
blocked right now on the index page, since user_is_interested field isnt coming back in the event response. Issue: https://github.com/big-neon/bn-api/issues/669

The individual event show page works though.

[2018-12-06 16:20] daybreaker commented on #290
Should we move this to QA, and make the Multi-User deploy, and Env-specific config vars their own tickets?

[2018-12-06 17:15] zmelamed commented on #320
This is now live and unblocked

[2018-12-06 17:15] zmelamed commented on #318
This is live and unblocked

[2018-12-06 17:23] Mcscott142 opened #338 "App Stores: Multi-User deploy and Env-specific config"
## Background
We need someone other than @daybreaker to have the ability to deploy Big Neon. There are also Environment specific configurations that need sorting out.

## Scenario: TBD

[2018-12-06 17:23] Mcscott142 commented on #290
Broken out https://github.com/revelrylabs/bn-mobile-react/issues/338

[2018-12-06 17:24] Mcscott142 commented on #338
@daybreaker I'm not sure what all is needed to be done here or if this should be 2 tickets. Feel free to update description as you see fit.

[2018-12-06 20:34] jwietelmann commented on #311
investigating but not marking in progress until i think i understand it enough to score

[2018-12-06 22:30] brittanygay commented on #324
Updates are now complete. This will be ready for QA after the next deploy

[2018-12-06 22:53] jwietelmann commented on #311
okay this should be worked after #325 is fixed, IMO. the root of the issue is just that the list isn't re-fetching. if after that the animation doesn't work, we can look at it then.

[2018-12-06 22:56] jwietelmann commented on #311
when #340 is merged, this will be ready to work

[2018-12-06 23:54] daybreaker commented on #317
Looks like they have a PR in for this, so hopefully tomorrow we can move this over to QA

[2018-12-07 21:19] daybreaker commented on #311
Have this working, just trying to clean up some stuff like clearing out the boolean triggering the bounce.

[2018-12-07 22:13] daybreaker opened #342 "Developer - Invalid token messages - refresh token before all api calls"
After a few minutes of being outside the application, upon re-entering the user gets multiple invalid token alerts.

We should refresh the token before all api calls to avoid this.

[2018-12-07 22:57] zmelamed opened #346 "Scroll header in explore doesn't update to location on location change"

[2018-12-07 23:45] zmelamed commented on #251
closed by #348

[2018-12-08 01:50] #346 closed

[2018-12-10 14:24] Mcscott142 opened #350 "My Tickets - Ticket View off - iPhone X"
Ticket View off center for Iphone X.

![image from ios 1](https://user-images.githubusercontent.com/6877299/49738361-d4a78180-fc54-11e8-956e-3cd116036c1a.png)

[2018-12-10 14:26] Mcscott142 opened #351 "iPhone X - background color on the side of the drawer menu"
Looks like there a weird background color on the side of the drawer menu. Only reported for iPhone X.

![file 2](https://user-images.githubusercontent.com/6877299/49738524-323bce00-fc55-11e8-9940-883d60afa14a.jpg)

[2018-12-10 14:30] Mcscott142 opened #352 "Pixel 1 Android 9, App crashes on load"
Critical: Device info: Pixel 1 Android 9 crashing on open

[2018-12-10 14:52] Mcscott142 opened #353 "Purchase ticket failure"
Purchasing a second ticket with the CC info already existing results in a failure.

Repro steps:
1) But a ticket
2) Return to buy another (CC info will already be filled in)
3) Transaction never completed and the loading state hangs up

Video located in Slack:
https://revelry-public.slack.com/archives/CC1659FUZ/p1544212313152700

[2018-12-10 15:10] Mcscott142 opened #354 "Attendee - Checkout / Payment Info - Loading indicator for CC form"
## Background
The Web view for entering Credit Card info is slow to load and distracting. We should have some sort of loading indicator to let the user know there is no problem with the application.

## Scenario: A user enters CC info
- [ ] When I select `Payment` in the checkout flow
- [ ] Then I see a loading indicator until the Web View is opened

[2018-12-10 15:20] Mcscott142 opened #355 "Unable to enter Credit Card info after moving cursor"
Repro steps
1) Begin entering CC info
2) Move cursor location with finger
3) You are then able to backspace but cannot type in new info without closing form and re-opening keyboard

[2018-12-10 15:26] Mcscott142 opened #356 "Attendee - Checkout / Payment Option - Improve Credit Card form"
## Background
Combining #354,#355 and this one.

When entering in CC info, the user is forced to manually choose each field as they fill out CC info. It would be an improvement if the cursor jumped to the next fields after finishing an input.

There is some bugginess around moving the cursor.

The form itself takes a while to load, we need a Loading indicator so the user knows there is nothing wro

[2018-12-10 15:39] Mcscott142 commented on #317
I think this should be unblocked via https://github.com/big-neon/bn-api/issues/669

[2018-12-10 17:12] Mcscott142 commented on #355
Colin to combine CC form tickets into one enhancement ticket.

[2018-12-10 17:17] Mcscott142 commented on #352
Colin to round up this phone.

[2018-12-10 17:34] Mcscott142 commented on #355
closing in lieu of #356

[2018-12-10 17:34] #355 closed

[2018-12-10 17:34] Mcscott142 commented on #354
closing in lieu of #356

[2018-12-10 17:34] #354 closed

[2018-12-10 18:39] Mcscott142 opened #357 "improve Updating User Account"
## Background
We should ask the user to save any updated information before exiting a screen. This is specifically for the Update Account section.

Via Demodrill

[2018-12-10 18:44] Mcscott142 opened #358 "User - Sign Up / Sign In - add email input types"
## Background
Use input[type=email] for email input on sign up form (so the email keyboard will show on :focus) -

[2018-12-10 18:48] Mcscott142 opened #359 "My Wallet - Update text for Empty Ticket States"
Empty ticket states mention the "Browse" tab. It's `explore`, need to change text there

![file 3](https://user-images.githubusercontent.com/6877299/49753748-e5b6b980-fc79-11e8-87b7-c773df8f3aca.jpg)

[2018-12-10 18:53] Mcscott142 opened #360 "Event Sharing - Duplicate URL's created on iPhone"
When sharing an event via iOS, the URL is duplicated in the message.

![file 4](https://user-images.githubusercontent.com/6877299/49754000-a0df5280-fc7a-11e8-9eb7-9010c6cc2a5c.jpg)

[2018-12-10 19:02] Mcscott142 opened #361 "Explore - Screen looks cut off / shortened when only one event is present"
When there is only one or no events, the screen looks off. See comment below from Demo drill.

![file 5](https://user-images.githubusercontent.com/6877299/49754428-a9845880-fc7b-11e8-9634-55784ee55977.jpg)

[2018-12-10 19:09] Mcscott142 opened #362 "Explore - Empty State for No Events"
## Background
Currently, when there are no events for a Location selected in the drop down it shows an empty page with a grey background and the Nav. We should add some sort of Empty State similar to when a section in the ticket Wallet is empty.

## Scenario: A user navigates to explore
Given I have selected a Location with no Events
- [ ] When I view the Explore Screen
- [ ] Then I am informed th

[2018-12-10 19:25] Mcscott142 opened #363 "Doorman - Scanner - Add Chimes for scanning"
## Background
When a ticket is scanned the Doorman should hear a Chime that lets him know whether the scan was successful or not.

## Scenario: Doorman scans a Valid ticket
- [ ] When I scan a ticket
- [ ] Then I hear a sound that lets me know the scan was successful

## Scenario: Doorman scans an invalid ticket
- [ ] When I scan a ticket
- [ ] Then I hear a sound that lets me know the scan was no

[2018-12-10 19:28] Mcscott142 opened #364 "Developer - Ticket QR Code - Adjust Brightness on tickets"
## Background
When Scanning a ticket in dim lighting it can be difficult to see. There may be a way to make the Ticket QR codes themselves adjust the brightness level on the screen.

Scenario: A user opens a ticket QR code
- [ ] When I open my ticket QR code
- [ ] Then the screen brightness goes to max

[2018-12-10 19:36] CjS77 opened #365 "`trim` fields prior to validation"
Creating new accounts.
Android adds a space automatically when autocompleting.. it looks like this causes account creation to fail (with cryptic validation error) rather than just `trimming` and getting on with it

[2018-12-10 19:37] CjS77 opened #366 "Validation failed is not a helpful error"
On the account creation screen, bad input just pops up a "Validation error" alert without indicating where/what the issue is. This is a really bad first time UX :(

[2018-12-10 19:44] daybreaker commented on #366
I think this is all we get back from the API - we're just displaying the error it sends back.

[2018-12-10 19:45] CjS77 commented on #366
hmmm. We should try and improve that then. #365 will reduce error rate though

[2018-12-10 19:47] zmelamed commented on #366
I have quite a bit of spec around onboarding including error messaging and states that we'll tackle all at once. But yes #365 should get some attention as a critical issue.

[2018-12-10 23:39] #290 closed

[2018-12-10 23:40] #331 closed

[2018-12-10 23:40] #330 closed

[2018-12-10 23:40] #332 closed

[2018-12-10 23:40] #301 closed

[2018-12-11 16:01] brittanygay commented on #350
Pulling this in to look into

[2018-12-11 19:21] brittanygay commented on #350
**Update**:
I can't seem to reproduce the issue, but then again I'm only able to test on the Simulator because I don't have access to an actual iPhone X. I can check to see if we have one in the office but I'm pretty sure we don't.

[2018-12-11 19:45] brittanygay commented on #350
**Update**:
I'll be able to borrow a coworkers iPhone X when I go into the office tomorrow. Putting this down until then and picking up another ticket from the backlog.

[2018-12-11 19:48] brittanygay commented on #356
@daybreaker let me know if there's any design assistance needed when you get to this. Thanks!

[2018-12-12 06:42] daybreaker commented on #342
Been trying a few different approaches, and one that resets the user token is still returning "invalid token" for some reason. Will probably need to pair with @jwietelmann tomorrow

[2018-12-12 07:10] Krakaw commented on #342
Can we not check the expiry time of the token before an API call, and then refresh if it has expired?
[code]

[2018-12-12 14:54] daybreaker commented on #342
That's what I was doing. Just realized though I need to set the new access token in the API and not just in local storage, so the API was still using the old one.

[2018-12-12 16:31] jwietelmann commented on #356
I'm going to do the loading indicator (which is on the mobile side) and then put this back for the cursor (which is probably on the web side).

[2018-12-12 16:49] jwietelmann opened #372 "Error on loading an event that has a ticket type with no pricing."

[2018-12-12 17:02] zmelamed opened #373 "Event lists should be sorted by show start date/time"

[2018-12-12 17:04] daybreaker commented on #373
Does the API have a sort field and sort order? Because doing it in the app could still cause events to show up out of order when pagination is introduced. If events are unordered by the API, page 2 could still bring up events that were supposed to show up first, but we wouldnt want to add them to the top of the list, because the user would have already scrolled past that part.

[2018-12-12 17:07] jwietelmann commented on #373
Ideally, the API folk just make this into the default sort order. It probably takes equal work as having us do it, it's more correct, and then we don't have to go remove the hack from the mobile app once they do it (because you're right, they'll have to if pagination is going to ever work.)

That said, it's a cheap hack, and I don't have a problem doing it if this is the way to get it done right n

[2018-12-12 17:15] zmelamed commented on #373
There's a sort option you can pass the events.index request. @Krakaw can you drop an example of how to sort by show date?

[2018-12-12 17:44] zmelamed opened #374 "App should be locked in Portrait mode"

[2018-12-12 18:57] Krakaw commented on #373
There is a PR coming in soon that will let you sort on event_start / name
`server.events.index({sort: "event_start", dir:"asc/desc"})`

[2018-12-12 19:01] brittanygay commented on #350
I just tested on @gerardramos iPhone X and wasn't able to reproduce the issue/ it looks like the bug is already fixed. Moving this to QA (unless you would like to close this out @Mcscott142).

![IMG_2901.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56154cf43bdd627e00d5004a/125516c66e82c728ace21e0d46c1b9bd1cd0daf9deabf301b44fff9e2c4533317346f62926d1b52ee8167f005b5847f941

[2018-12-12 19:02] jwietelmann commented on #356
Pull request for spinner is open. Cursor still needs addressing.

[2018-12-12 19:05] jwietelmann commented on #372
Test on Prometheus event. This was exploding before. Make sure to check both the event page and the purchase page.

[2018-12-12 19:08] Mcscott142 commented on #350
all good, go ahead and push it along.

[2018-12-12 19:20] jwietelmann commented on #319
I'm not sure that it should even be possible to get to this screen when there are no tickets available, but I have an idea that should not take me long to try. Will drop screenshots when I have something for Zach to look at.

[2018-12-12 19:33] jwietelmann commented on #319
On second thought I'm just going to do the ticket as prescribed.

## What I was going to do

I was going to disable the purchase button and put "SOLD OUT" as the text so that you can't even get to this page.

## Why I'm not doing that

There is a lot of domain logic in called `getDetailPageButtonCta` that has rules for enabling/disabling the button and changing the text based on the `event.overrid

[2018-12-12 19:59] #350 closed

[2018-12-12 20:35] jwietelmann commented on #363
doing initial investigation

[2018-12-12 20:35] jwietelmann commented on #364
doing initial investigation

[2018-12-12 20:44] jwietelmann commented on #363
putting this back. making a different one for vibration.

[2018-12-12 20:45] jwietelmann opened #382 "QR scanner vibration"

[2018-12-12 21:35] jwietelmann commented on #363
This was an idea that came from my head, and then someone brought up vibration and I just did that. Makes more sense than sound in a noisy venue. Closing this.

[2018-12-12 21:35] #363 closed

[2018-12-13 02:36] jwietelmann commented on #352
I have a data point to add. CJ ran it on a Pixel 1 through the Expo app like you would during development. (I was asking her if she could dump the error stack for us.) ...It didn't crash. So either we accidentally fixed the issue already, or it only happens with a productionish build.

[2018-12-13 02:42] daybreaker commented on #352
hoorayyyyyy  :-/

[2018-12-13 06:50] SWvheerden opened #385 "Event information showing null in text"
Event: Event Going
Time and location: Wednesday, December 12, 2018
Doors 12:00 PM null - Show 12:00 PM null

[2018-12-13 06:54] SWvheerden opened #386 "multiple ticket viewing scroll bar very slow - android"
There is a good second or two delay, before the scroll bar below the tickets update

[2018-12-13 06:56] SWvheerden opened #387 "App crash - android after view tickets"
If you recently purchased tickets, view them and press back, you get an invalid token error.

[2018-12-13 07:02] SWvheerden commented on #385
![image](https://user-images.githubusercontent.com/2579813/49921312-d623b480-feb5-11e8-91e5-7058a468c8ff.png)

[2018-12-13 08:55] zmelamed opened #388 "event_time not door_time should be used to figure out sorting and display date"
The displayed day of the event should always be the `event_start` date. Appears that the Explore view, Ticket wallet (both the date in the ui and determining if it's past or upcoming), and the time/location section of the event detail page are using the `door_time` date/time stamp to figure out the date of the show to display but should be using the the `event_start` timestamp date.

[2018-12-13 09:06] Krakaw commented on #352
I got the following bug after installing from the play store. The screen flickered white a few times, then bluescreened.
![Screenshot_20181213-103745.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b735e86838044001143579e/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc781476206455f37827d1b66af3006b1300051bff054a5556f9ab8f2fa0e03b74de0d0fead8385f74c76f19acb88018bf

[2018-12-13 11:40] Krakaw commented on #352
`npm install --save get-own-property-symbols`
In https://github.com/revelrylabs/bn-mobile-react/blob/7caab471993d9b904792cc38243f84c4878caff5/src/constants/Server.js#L1
Add `require('get-own-property-symbols');` on line one.